<!DOCTYPE HTML>
<html lang="en">

   <body>
      <!--/Header-->
      <section class="login-bg">
         <div class="vertical-center">
               <div class="container">
                  <div class="row justify-content-center my-55">
                     <div class="col-10 col-md-6 col-lg-4 position-relative">
                        <div class="nav-round2"></div>
                        <div class="row login-inner">
                           <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                           <div class="col-12 mb-3">
                              <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                           </div>
                           <div class="col-12">
                              <p class="log-txt">Login to Your Account</p>
                           </div>
                           <div class="col-12">
                              <div>
                                 <label>User ID</label>
                                 <input formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                 <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">User is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                  </div> -->
                              </div>
                           </div>
                           <!--/-->
                           <div class="col-12 mt-3">
                              <div>
                                 <label>Password</label>
                                 <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                  </div>
                              </div>
                           </div>
                           <!--/-->
                           <div class="col-12 ttext-right">
                              <a [routerLink]="['/forget-password']" class="smll-font">Reset Password?</a>
                           </div>
                           <!--/-->
                           <div class="col-12 my-3">
                              <button href="javascript:;" type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Submit</button>
                           </div>
                           <!--/-->
                           <div class="col-12 text-center">
                              <p class="smll-font">Not a member? <a routerLink ="/register" class="smll-font">Sign up</a></p>
                           </div>
                        </form>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </section>
   </body>
</html>
