<app-header></app-header>
<div class="page-content">
    <section class="sub-header-2">
        <div class="container">
            <h1>Edit Delivery Order Details</h1>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="add-prod-pg">
        <form [formGroup]="doUpdateForm" (ngSubmit)="updateDo()">
            <div class="container">
                <section class="add-prod-pg">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>SO</label>
                                <!-- <select disabled class="form-control form-control-sm" [(ngModel)]="data.so_no">
                                    <option value=""> Select</option>
                                    <option *ngFor="let item of soList" [value]="item.so_no">{{item.so_no}}</option>
                                </select> -->
                                <input [(ngModel)]="data.so_no" type="text" class="form-control form-control-sm"
                                    formControlName="so_no" [attr.disabled]="true">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>DO No</label>
                                <input [(ngModel)]="data.do_no" type="text" class="form-control form-control-sm"
                                    formControlName="do_no">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Invoice No</label>
                                <input type="text" [(ngModel)]="data.invoice_no" class="form-control form-control-sm"
                                    formControlName="invoice_no">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <div class="position-relative">
                                    <input type="date" [(ngModel)]="invoiceDate"
                                        class="form-control form-control-sm datepicker" formControlName="invoice_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Material Grade</label>
                                <input type="text" [(ngModel)]="data.sub_cat_name" class="form-control form-control-sm"
                                    formControlName="material_grade" [attr.disabled]="true">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Invoice Quantity (MT)</label>
                                <input type="text" [(ngModel)]="data.do_quantity"
                                    class="form-control form-control-sm datepicker" formControlName="do_quantity">
                            </div>
                        </div>

                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Date of despatch</label>
                                <div class="position-relative">
                                    <input type="date" [(ngModel)]="despatch_date"
                                        class="form-control form-control-sm datepicker" formControlName="despatch_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Truck No</label>
                                <input type="text" [(ngModel)]="data.truck_no" class="form-control form-control-sm"
                                    formControlName="truck_no">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="form-group">
                                <label>Driver No</label>
                                <input type="text" [(ngModel)]="data.driver_no" class="form-control form-control-sm"
                                    formControlName="driver_no">
                            </div>
                        </div>
                        <div class="col-12 col-lg-9"></div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Remarks</label>
                                <textarea [(ngModel)]="data.premarks" class="form-control" style="height:80px;"
                                    formControlName="premarks"></textarea>
                            </div>
                        </div>

                    </div>

                </section>
                <section class="add-prod-pg mx-3 mt-3">
                    <div class="">
                        <div class="prof-form-bdy mb-5">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h6 class="text-center">Upload Documents</h6>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="form-group text-center">

                                        <div class="upld--doc">

                                            <div class="upld--doc-itm">
                                                <a type="file" class="btn btn-primary" (click)="fileLR.click()">Upload
                                                    LR <i class="fa fa-upload" aria-hidden="true"></i>
                                                    <input type="file" accept=".png, .jpg, .jpeg, .pdf" #fileLR hidden
                                                        (change)="onGetLrDoc($event)">
                                                </a>
                                                <p>{{lr_file?.name}}</p>
                                            </div>

                                            <div class="upld--doc-itm">
                                                <a type="file" class="btn btn-primary" (click)="Ewaybill.click()">Upload
                                                    e-waybill <i class="fa fa-upload" aria-hidden="true"></i>
                                                    <input type="file" accept=".png, .jpg, .jpeg, .pdf, .zip" #Ewaybill
                                                        hidden (change)="onGetEwaybillDoc($event)">
                                                </a>
                                                <p>{{ewaybill?.name}}</p>
                                            </div>

                                            <div class="upld--doc-itm">
                                                <a type="file" class="btn btn-primary"
                                                    (click)="TestCertificate.click()">Test Certificate <i
                                                        class="fa fa-upload" aria-hidden="true"></i>
                                                    <input type="file" accept=".png, .jpg, .jpeg, .pdf, .zip"
                                                        #TestCertificate hidden (change)="onGetTestCertificate($event)">
                                                </a>
                                                <p>{{testCertificate?.name}}</p>
                                            </div>

                                            <div class="upld--doc-itm">
                                                <a type="file" class="btn btn-primary"
                                                    (click)="EInvoice.click()">Invoice <i class="fa fa-upload"
                                                        aria-hidden="true"></i>
                                                    <input type="file" accept=".png, .jpg, .jpeg, .pdf, .zip" #EInvoice
                                                        hidden (change)="onGetEInvoice($event)">
                                                </a>
                                                <p>{{eInvoice?.name}}</p>
                                            </div>

                                            <div class="upld--doc-itm">
                                                <a type="file" class="btn btn-primary" (click)="misDoc.click()">Misc.
                                                    Doc <i class="fa fa-upload" aria-hidden="true"></i>
                                                    <input type="file" accept=".png, .jpg, .jpeg, .pdf, .zip" #misDoc
                                                        hidden (change)="onGetMisDoc($event)">
                                                </a>
                                                <p>{{miseDoc}}</p>
                                            </div>
                                        </div>


                                        <!-- <div class="col-12 my-3">
                                            <button href="javascript:;" type="submit"
                                                class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i>
                                                Submit</button>
                                        </div> -->
                                        <div class="add-btn-sec pt-2 pb-2 text-right mt-3">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-check"
                                                    (click)="updateDo()"></i>Updated</button>&nbsp;
                                            <button type="button" class="btn btn-danger" onclick="history.back()">
                                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </section>
</div>
<app-footer></app-footer>