<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="page-content">
        <section class="sub-header-2">
           <div class="container">
              <h1>RFQ List</h1>
              <!-- <a href="add-product.html" class="btn btn-primary add-btn-right"><i class="fa fa-plus-circle"></i> ADD</a> -->
              <div class="clearfix"></div>
           </div>
        </section>
        <section class="add-prod-pg">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12">
                    <div class="cart-table">
                       <div class="table-responsive">
                          <table class="table">
                             <thead>
                                <tr>
                                   <th>RFQ No.</th>
                                   <th>RFQ Date</th>
                                   <th>Customer</th>
                                   <th>Total Quantity</th>
                                   <th>Status</th>
                                   <th></th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td>
                                      XXXXX
                                   </td>
                                   <td>
                                      18-08-2022
                                   </td>
                                   <td>XXXXX</td>
                                   <td>XXXX</td>
                                   <td>
                                      Pending
                                   </td>
                                   <td>
                                      <div class="btn-edt-del">
                                         <a href="RFQ-detail.html" class="edt-btn btn-primary2" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>   
                                      </div>
                                   </td>
                                </tr>
                                <tr>
                                   <td>
                                      XXXXX
                                   </td>
                                   <td>
                                      18-08-2022
                                   </td>
                                   <td>XXXXX</td>
                                   <td>XXXX</td>
                                   <td>
                                      Price Negotiation 
                                   </td>
                                   <td>
                                      <div class="btn-edt-del">
                                         <a href="RFQ-detail.html" class="edt-btn btn-primary2" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>   
                                      </div>
                                   </td>
                                </tr>
                                <tr>
                                   <td>
                                      XXXXX
                                   </td>
                                   <td>
                                      18-08-2022
                                   </td>
                                   <td>XXXXX</td>
                                   <td>XXXX</td>
                                   <td>
                                      Rejected
                                   </td>
                                   <td>
                                      <div class="btn-edt-del">
                                         <a href="RFQ-detail.html" class="edt-btn btn-primary2" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>   
                                      </div>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
     </div>
     <app-footer></app-footer>
</body>
</html>