h1 {
    background: #236965 url(https://tools.obyte.it/img/idrobyte/logo_sfera.svg) no-repeat;
    background-position: 2px 2px;
    margin: 0 0 10px;
    padding: 0 0 0 50px;
    background-size: 45px;
    line-height: 26px;
    color:white;
    font-family: Lato;
    font-size: 20px;
  }
  
  p {
    font-family: Lato;
  }
  
  .hide {
    display: none;
  }
  .inner-addon { 
      position: relative; 
  }
  .inner-addon .far, .inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
  }
  .left-addon .far, .left-addon .fas  { left:  0px; }
  .right-addon .far, .right-addon .fas { right: 0px; }
  
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }


  .eye_show_hide {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;    
    z-index: 999;
}
.form-group.inner-addon.right-addon .input-group.mx-auto {
    position: relative;
}
.form-group.inner-addon.right-addon .input-group.mx-auto input {
    border-radius: 0.25rem!important;
}