<!DOCTYPE HTML>
<html lang="en">
   <body>
      <section class="login-bg" *ngIf="hideShowPass">
         <div class="vertical-center">
               <div class="container">
                  <div class="row justify-content-center my-55">
                     <div class="col-10 col-md-6 col-lg-4 position-relative">
                        <div class="nav-round3"></div>
                        <div class="row login-inner">
                           <div class="col-12 mb-3">
                              <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                           </div>
                           <div class="col-12">
                              <p class="log-txt">Forgot Password</p>
                           </div>
                           <div class="col-12">
                              <div>
                                 <label>Email ID</label>
                                 <input [(ngModel)]="email" type="email" class="form-control">
                              </div>
                           </div>
                           <!--/-->
                           
                           <div class="col-12 my-3">
                              <button (click)="resetPassword()" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Submit</button>
                           </div>
                           <!--/-->
                         </div>
                     </div>
                  </div>
               </div>
            </div>
      </section>

      <!-- Forget password -->
      <section class="login-bg" *ngIf="showForgetPass">
         <div class="vertical-center">
               <div class="container">
                  <div class="row justify-content-center my-55">
                     <div class="col-10 col-md-6 col-lg-4 position-relative">
                        <div class="nav-round3"></div>
                        <form [formGroup]="forgetPassForm" (ngSubmit)="resetPassword()">
                        <div class="row login-inner">
                           <div class="col-12 mb-3">
                              <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                           </div>
                           <div class="col-12">
                              <p class="log-txt">Set Your Password</p>
                           </div>
                           <div class="col-12">
                              <div>
                                 <label>Email</label>
                                 <input formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                  </div>
                              </div>
                           </div>
                           <div class="col-12">
                              <div>
                                 <label>New password</label>
                                 <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                  </div>
                              </div>
                           </div>
                           <div class="col-12">
                              <div>
                                 <label>Confirm password</label>
                                 <input formControlName="password_confirm" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirm.errors }">
                                 <div *ngIf="submitted && f.password_confirm.errors" class="invalid-feedback">
                                    <div *ngIf="f.password_confirm.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.password_confirm.errors.mustMatch">Password and confirm not match</div>
                                  </div>
                              </div>
                           </div>
                           <!--/-->
                           
                           <div class="col-12 my-3">
                              <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Submit</button>
                           </div>
                           <!--/-->
                         </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
      </section>

      
   </body>
</html>
