<!DOCTYPE HTML>
<html lang="en">
   <body>
      <!-- Forget password -->
      <section class="login-bg" *ngIf="showForgetPass">
         <div class="vertical-center">
               <div class="container">
                  <div class="row justify-content-center my-55">
                     <div class="col-10 col-md-6 col-lg-4 position-relative">
                        <div class="nav-round3"></div>
                        <div class="row login-inner">
                           <div class="col-12">
                              <form [formGroup]="forgetPassForm">
                                 <div class="row">
                                    <div class="col-12 mb-2">
                                       <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                                    </div>
                                    <div class="col-12">
                                       <p class="log-txt">Forgot Password</p>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>Email</label>
                                          <input formControlName="email" id="emailfield" placeholder="xyz@gmail.com" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                             <div *ngIf="f.email.errors.required">Email is required</div>
                                             <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <label>OTP</label>
                                       <div class="d-flex2 display-f">
                                          <!-- <input formControlName="otp" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp }"> -->
                                          <input type="email" [readOnly]="!showFields"  formControlName="otp" id="resetEmail" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp }"  class="form-control" />
                                          <button type="button" (click)="getOtp()" class="btn blue-btn">
                                             Get OTP
                                           </button>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>New password</label>
                                          <!-- <input formControlName="password" [readOnly]="!showFields" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"> -->
                                          <div class="input-group mx-auto">
                                             <input name="password" formControlName="password"
                                                 [type]="showPassword ? 'text' : 'password'"
                                                 class="form-control pwd-control" [readOnly]="!showFields"
                                                 id="password-field" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                             <div class="eye_show_hide">
                                               <i alt="show" class="fa fa-eye eye-show" 
                                               (click)="showPassword = !showPassword"
                                               [class.hide]="showPassword"></i>
                                               <i alt="hide" class="fa fa-eye-slash eye-hide" 
                                               (click)="showPassword = !showPassword"
                                               [class.hide]="!showPassword"></i>
                                             </div>
                                           </div>
                                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                             <div *ngIf="f.password.errors.required">Password is required</div>
                                             <div *ngIf="f.password.errors.minlength">Password must be at least 10 characters</div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>Confirm password</label>
                                          <!-- <input formControlName="password_confirm" [readOnly]="!showFields" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirm.errors }"> -->
                                          <div class="input-group mx-auto">
                                             <input name="password" formControlName="password_confirm" [readOnly]="!showFields"
                                                 [type]="showPassword1 ? 'text' : 'password'"
                                                 class="form-control pwd-control" [readOnly]="!showFields"
                                                 id="password-field" placeholder="Confirm password" [ngClass]="{ 'is-invalid': submitted && f.password_confirm.errors }">
                                             <div class="eye_show_hide">
                                               <i alt="show" class="fa fa-eye eye-show" 
                                               (click)="showPassword1 = !showPassword1"
                                               [class.hide]="showPassword1"></i>
                                               <i alt="hide" class="fa fa-eye-slash eye-hide" 
                                               (click)="showPassword1 = !showPassword1"
                                               [class.hide]="!showPassword1"></i>
                                             </div>
                                           </div>
                                          <div *ngIf="submitted && f.password_confirm.errors" class="invalid-feedback">
                                             <div *ngIf="f.password_confirm.errors.required">Confirm Password is required</div>
                                             <div *ngIf="f.password_confirm.errors.mustMatch">Password and confirm not match</div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col-12 ttext-right">
                                       <a  class="smll-font pointer" routerLink="/auth/login">Back to login!</a>
                                    </div>
                                    <!--/-->
                                  </div>
                                 </form>
                                 <form #form="ngForm" *ngIf="showFields">
                                    <div class="row mt-3">
                                      <div class="col-12 mb-2">
                                        <re-captcha id="recaptcha"  name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                                        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                                          <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                                        </div>
                                        <div>
                                          <button type="submit" (click)="forgotPassword(form)" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Submit</button>
                                       </div>
                                      </div>
                                    </div>
                                  
                                  </form>
                           </div>
                        </div>
                       

                     </div>
                  </div>
               </div>
            </div>
      </section>

      
   </body>
</html>
