.phase-active{
    color: rgb(41, 117, 231) !important;
  }
.pointerClass {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

table.table .custom-file-label {
  height: auto;
}
table.table .custom-file-input:lang(en)~.custom-file-label::after {
  height: 100%;
}
table.table .form-control {
  height: auto;
}
.tab-content .form-control {
  height: auto;
}
.tab-content .blue-btn {
  border-radius: 0.25rem;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}