.phase-active{
    color: rgb(41, 117, 231) !important;
  }
.pointerClass {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

table.table .custom-file-label {
  height: auto;
}
table.table .custom-file-input:lang(en)~.custom-file-label::after {
  height: 100%;
}
table.table .form-control {
  height: auto;
}
.tab-content .form-control {
  height: auto;
}
.tab-content .blue-btn {
  border-radius: 0.25rem;
}