<!DOCTYPE html>
<html lang="en">
<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

</head>
<app-header></app-header>

<body>
  <div class="page-content bg-grey">
    <section>
      <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="height: 382px; width:100%;" src="assets/images/chromium Image.jpg" alt="image" />
            <!-- <div class="carousel-caption">
              <p>
                We mine minerals in some of India's most challenging places.
              </p>
            </div> -->
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide1.jpg" alt="image" />
            <div class="carousel-caption">
              <p>
                We mine minerals in some of India's most challenging places.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide2.jpg" alt="image" />
            <div class="carousel-caption">
              <p>Helping maintain biodiversity in areas of operation.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slide3.jpg" alt="image" />
            <div class="carousel-caption">
              <p>Proud to be mining sustainability champions.Everyday.</p>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>

    <section class="search_result_pg pptt-5">
      <div class="container py-3">
        <div class="row">
          <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="list.length > 0">
              <p class="pr-title">Our Products</p>
              <li class="nav-item" *ngFor="let product_menu of list">
                <a class="nav-link pointerTab" data-toggle="tab" role="tab" aria-controls="home" [ngClass]="{active: isActive(product_menu.id)}"
                  (click)="get_product_by_menu_id(product_menu.id)">{{ product_menu.pro_name }}</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#fc" role="tab" aria-controls="profile">Ferro
                  Chrome</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" data-toggle="tab" href="#co" role="tab"
                  aria-controls="profile">Chrome
                  Ore</a>
              </li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="fc" role="tabpanel">
                <div class="product-list-inr">
                  <div class="row product-list-inr-bg">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let pdata of product_list">
                      <div class="product-list pointerTab">
                        <a (click)="gotoDetailsPage(pdata.product_id)">
                          <div class="product-list-img">
                            <img src="{{ pdata.primary_image_url }}" alt="product-img" />
                          </div>
                          <h4>
                            {{ pdata.product_title }} - {{ pdata.category_name }}
                          </h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                      
                    </div>
                    <!--/-->
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="product_list.length == 0 && show_error == true">
                      <p style="color: red">No product found.</p>
                    </div>
                    <!--/-->
                    <div class="col-12 text-center mt-3" *ngIf="product_list.length > 2">
                      <a routerLink="/all-product" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i>
                        View
                        All</a>
                    </div>
                    <!-- <div class="col-12 text-center mt-3" *ngIf="product_list.length > 2">
                      <a *ngIf="!isUserLogin" routerLink="/login" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i>
                        View
                        All</a>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="co" role="tabpanel">
                <div class="product-list-inr">
                  <div class="row product-list-inr-bg">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product-list">
                        <a routerLink="/product-details">
                          <div class="product-list-img">
                            <img src="assets/images/high-carbon.jpg" alt="product-img" />
                          </div>
                          <h4>Tata Indicrome - Chrome Ore (Lumps)</h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                    </div>
                    <!--/-->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product-list">
                        <a routerLink="/product-details">
                          <div class="product-list-img">
                            <img src="assets/images/fecr-chips.jpg" alt="product-img" />
                          </div>
                          <h4>Tata Indicrome - Chrome Ore (Chips)</h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                    </div>
                    <!--/-->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="product-list">
                        <a routerLink="/product-details">
                          <div class="product-list-img">
                            <img src="assets/images/fecr-fines-1.jpg" alt="product-img" />
                          </div>
                          <h4>Tata Indicrome - Chrome Ore (Fines)</h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                    </div>
                    <!--/-->
                    <div class="col-12 text-center mt-3">
                      <a routerLink="/all-product" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i>
                        View
                        All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/Product List-->
        <!--Mid Banner-->
        <section class="mid-banner">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <div class="txt-pos">
                  <p>
                    We operate 3 Chromite mines and 8 Ferro Alloy plants across
                    the country and provide raw materials to stainless steel,
                    alloy steel and refractory manufacturers across the globe.<br />
                    Join us to gain access to our network of distributors and
                    resources
                  </p>
                  <!-- <a routerLink="/register" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    Register
                    Now</a> -->
                </div>
              </div>
            </div>
          </div>
        </section>

    <!--Featured Products-->
    <section class="white-bg py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p class="pr-title">Popular Products</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="large-12 columns">
              <!-- remove dive -->
              <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let pl of popular_product_list">
                <ng-template  class="slide" carouselSlide [id]="pl.id">
                  <div >
                    <div class="item">
                      <div class="product-list" *ngIf="isUserLogin">
                        <a routerLink="/product-details/{{ pl.product_id }}/{{
                              pl.category_id
                            }}">
                          <div class="product-list-img">
                            <img src="{{ pl.primary_image_url }}" [alt]="pl.id" [title]="pl.id" alt="product-img" />
                          </div>
                          <h4>
                            {{ pl.product_title }} - {{ pl.category_name }}
                          </h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                      <!-- isUserLogin -->
                      <div *ngIf="!isUserLogin" class="product-list">
                        <a routerLink="/login">
                          <div class="product-list-img">
                            <img src="{{ pl.primary_image_url }}" alt="product-img" />
                          </div>
                          <h4>
                            {{ pl.product_title }} - {{ pl.category_name }}
                          </h4>
                          <span class="pop_line"><img src="assets/images/pop_line.png" alt="line" /></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Featured Products-->
  </div>
  <app-footer></app-footer>
</body>
</html>