<body>
   <!-- Header -->
   <app-header></app-header>
   <div class="page-content">
      <section class="prof-head">
         <div class="container">
            <h2>Customer Complaints</h2>
         </div>
      </section>
      <section class="prof-form">
         <div class="container">
            <div class="prof-form-bdy">
               <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Categories</label>
                        <select class="form-control" disabled>
                           <option>{{compInfo?.com_cate_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 1</label>
                        <select class="form-control" disabled>
                           <option>{{compInfo?.com_sub_cate_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 2</label>
                        <select class="form-control" disabled>
                           <option>{{compInfo?.com_sub_cate2_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 3</label>
                        <select class="form-control" disabled>
                           <option>{{compInfo?.com_sub_cate3_name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-12">
                     <hr style="border: 1px solid;">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let remarks of remarkAll">
                     <!-- <div class="form-group" *ngIf="remarks?.customer_remarks != null">
                        <label for="">Customer Remarks</label>
                        <textarea class="form-control" rows="5" disabled>{{remarks.customer_remarks}}</textarea>
                     </div>
                     <div class="form-group" *ngIf="remarks?.kam_remarks != null">
                        <label for="">Kam's Remarks</label>
                        <textarea class="form-control" rows="5" disabled>{{remarks.kam_remarks}}</textarea>
                     </div> -->
                     <ol class="chat">
                        <li class="other" *ngIf="remarks?.customer_remarks != null">
                           <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                           <div class="msg">
                              <p>Customer Remarks!</p>
                              <p>{{remarks.customer_remarks}}</p>
                              <time>{{remarks.created_at}}</time>
                           </div>
                        </li>
                        <li class="self" *ngIf="remarks?.kam_remarks != null">
                           <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                           <div class="msg">
                              <p>Kam's Remarks!</p>
                              <p>{{remarks.kam_remarks}}</p>
                              <time>{{remarks.created_at}}</time>
                           </div>
                        </li>
                     </ol>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="showKamTextArea">
                     <div class="form-group">
                        <label for="">Customer Remarks</label>
                        <textarea [(ngModel)]="remarkReply" #remarkRep="ngModel" class="form-control" rows="5"
                           required></textarea>
                        <small *ngIf="remarkRep.invalid && (remarkRep.dirty || remarkRep.touched || submitt)"
                           class="inputValidation">Remarks is required</small>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">

                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-6">
                     <div class="reply_btn_box">
                        <div class="clos-btn">
                           <div class="form-check">
                              <input class="form-check-input" [checked]="closeChat" (change)="closeStatus($event)"
                                 type="checkbox" value="" id="defaultCheck1">
                              <label class="form-check-label" for="defaultCheck1">
                                 Close
                              </label>
                           </div>
                        </div>
                        <div class="reply_btn"><button (click)="reply()" class="btn btn-primary btn-sm"><i
                                 class="fa fa-reply"></i> Reply</button></div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-lg-12">
                     <button (click)="submitReply(compInfo?.complain_id)" class="btn btn-primary"><i
                           class="fa fa-paper-plane"></i> Submit</button>&nbsp;
                     <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <!-- Footer -->

   <!-- <input class="textarea" type="text" placeholder="Type here!" /> -->
 
   <app-footer></app-footer>
   <div class="foot_arw">
      <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
   </div>
</body>