<body>
   <!-- Header -->
   <app-header></app-header>
   <div class="page-content">
      <section class="prof-head">
         <div class="container">
            <h2>Customer Complaints</h2>
         </div>
      </section>
      <section class="prof-form">
         <div class="container">
            <div class="prof-form-bdy">
               <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Categories</label>
                        <select class="form-control" disabled>
                           <option>Registration</option>
                           <option>Finance/Tax</option>
                           <option>Refunds</option>
                           <option>Invoicing Issues</option>
                           <option>Quality</option>
                           <option>Logistics</option>
                           <option>Other Queries</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 1</label>
                        <select class="form-control" disabled>
                           <option>Delay in Registration etc.</option>
                           <option>Taxes in my invoice/ GST related</option>
                           <option>Credit Note</option>
                           <option>Credit availability</option>
                           <option>Check refund status and timeline</option>
                           <option>Non receipt of refund amount</option>
                           <option>Incorrect Invoicing</option>
                           <option>Non-reciept of invoices</option>
                           <option>Weight Shortage received</option>
                           <option>Material quality issue</option>
                           <option>Improper Vehicle (eg. damaged vehicle, tarpaulin missing)</option>
                           <option>Packaging Issues</option>
                           <option>Additional Product Information</option>
                           <option>Marketing/ business related</option>
                           <option>General feedback</option>
                           <option>Post sales support</option>
                           <option>Other help topics</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 2</label>
                        <select class="form-control" disabled>
                           <option>Damaged item</option>
                           <option>Incorrect item</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="form-group">
                        <label for="">Sub Categories 3</label>
                        <select class="form-control" disabled>
                           <option>--select--</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                     <div class="form-group">
                        <label for="">Remarks</label>
                        <textarea class="form-control" rows="5" disabled></textarea>
                     </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                     <div id="remarksArea" style="display:none;" class="form-group">
                        <label for="">Remarks</label>
                        <textarea class="form-control" rows="5"></textarea>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="down_btn_box">
                        <div class="reply_btn"><a href="complains-list.html" class="btn btn-primary"><i
                                 class="fa fa-download"></i> Download</a></div>
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-6">
                     <div class="reply_btn_box">
                        <div class="clos-btn">
                           <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              <label class="form-check-label" for="defaultCheck1">
                                 Close
                              </label>
                           </div>
                        </div>
                        <div class="reply_btn"><button class="btn btn-primary btn-sm" id="replyButton"><i
                                 class="fa fa-reply"></i> Reply</button></div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-lg-12">
                     <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>&nbsp;
                     <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <!-- Footer -->
   <app-footer></app-footer>
   <div class="foot_arw">
      <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
   </div>
</body>