<app-header></app-header>
<div class="page-content">
    <section class="sub-header">
        <h1>Cookies Policy</h1>
        <ul>
            <li><a href="#"><img src="assets/images/home.png"></a></li>
            <li><a href="#">/ Cookies Policy</a></li>

        </ul>
    </section>
    <section class="product-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-box">
                        <h4>Cookies Policy</h4>

                        <p>Tata Steel Mining Limited (hereinafter referred to as “TSML”, “we”, “us”, “our”) uses
                            cookies across its websites to improve performance and enhance the experience. This
                            policy explains how we do that.</p>


                        <h4>What are cookies?</h4>

                        <p>Cookies are small text files that a website downloads onto your computer or other
                            internet-enabled devices (such as mobile phones and tablets) when you visit a website.
                            The cookie will help the website recognise your device the next time you visit.</p>

                        <p>Cookies can be used for a variety of purposes such as remembering your preferences,
                            measuring your activity and optimising your user experience.</p>


                        <h4>Usage of cookies</h4>

                        <p>When consulting the TSML websites, cookies may get placed on your computer, mobile or
                            tablet. Cookies can be used for a variety of purposes such as remembering your
                            preferences, measuring your activity and optimising your user experience.</p>

                        <p>It could contain the following data:</p>

                        <ul>
                            <li>Information about the browser; an identifier, in the form of a unique number;</li>
                            <li>An expiration date (some cookies only).</li>
                        </ul>


                        <h4>Purposes for which TSML uses cookies</h4>

                        <p>Generally, our cookies perform three different functions:</p>

                        <ul>
                            <li>
                                <span>Enabling our websites to function properly</span>
                                Some cookies are essential for the operation of our websites. For example, we use
                                cookies to ensure that you are shown the correct webpages for your location, or to
                                identify when we have broken links or other technical issues with the website.
                            </li>
                            <li>
                                <span>Analysing visitor behaviour</span>
                                We may use cookies to analyse how our visitors use our websites and to monitor
                                website performance. This allows us to provide a high quality experience by making
                                sure that our content and layout remains relevant to you. For example, we use
                                cookies to keep track of which pages and links are most popular and which are not
                                providing the information that’s required by our visitors.
                            </li>
                            <li>
                                <span>Optimising and personalising</span>
                                Cookies are also used to optimise the webpages that you visit, and to personalise
                                the content that we show you across all our digital assets, based on what we
                                understand about your requirements.
                            </li>
                        </ul>


                        <h4>Type of cookies used at TSML</h4>

                        <p>We may use cookies of four categories: Session cookies, Functionality cookies,</p>

                        <p>Analytical/Customization cookies and Advertising cookies.</p>

                        <ul>
                            <li>
                                <strong>Session Cookies:</strong> Session cookies enable the website you are
                                visiting to keep track of your movement from page to page, so you don't get asked
                                for the same information you've already given to the site. Cookies allow you to
                                proceed through many pages of a site quickly and easily without having to
                                authenticate or reprocess each new area you visit. These only last for as long as
                                the session (usually the current visit to a website or a browser session).
                            </li>
                            <li>
                                <strong>Functionality cookies:</strong> These cookies allow our services to remember
                                choices you make, such as:
                                <ol>
                                    <li>Remembering your username, preferences and settings;</li>
                                    <li>Remembering if you've filled in a survey or taken part in a poll or contest
                                        or otherwise reacted to something on through the services, so you're not
                                        asked to do it again;</li>
                                    <li>Remembering if you've used any of our services before; restricting the
                                        number of times you are shown a particular advertisement;</li>
                                    <li>Remembering your location; and ✓ enabling social media components like
                                        Facebook or Twitter.</li>
                                </ol>

                                <em>The aim of these cookies is to provide you with a more personal experience so
                                    that</em>

                                <em>you don't have to reset your preferences each time you use our services.</em>
                            </li>
                            <li><strong>Analytical/Customization cookies:</strong> These cookies collect information
                                about how visitors use and interact with our services, for instance which pages they
                                go to most often. These cookies also enable us to personalize content and remember
                                your preferences (e.g., your choice of language, country, or region). These cookies
                                help us improve the way our websites work and provide a better, personalized user
                                experience.</li>
                            <li><strong>Advertising cookies:</strong> These cookies record your visit to our
                                websites, the pages you have visited, and the links you have clicked. They gather
                                information about your browsing habits and remember that you have visited a website.
                                We (and third-party advertising platforms or networks) may use this information to
                                make our websites, content, and advertisements displayed on them more relevant to
                                your interests (this is sometimes called "behavioural" or "targeted" advertising).
                                These types of cookies are also used to limit the number of times you see an
                                advertisement as well as to help measure the effectiveness of advertising campaigns.
                            </li>
                        </ul>


                        <h4>How can you block cookies?</h4>

                        <p>You can control whether to accept cookies or not. If you decide to not accept cookies,
                            some features and services on our websites will not function properly.</p>

                        <p>If you would prefer not to accept cookies you can either:</p>

                        <ul>
                            <li>Change your browser settings to notify you when you receive a cookie, which lets you
                                choose whether or not to accept it; or</li>
                            <li>Set your browser to automatically not accept any cookies. You can manage cookies in
                                the privacy settings of the web browser you are using. Please note that if you use
                                your browser settings to block all cookies, you may not be able to access parts of
                                our or others' websites. The following pointers provide information on how to modify
                                the cookies’ settings on some popular browsers:</li>
                            <li>Apple Safari: <a
                                    href="#">https://support.apple.com/en-in/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a>
                            </li>
                            <li>Google Chrome: <a
                                    href="#">https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en</a>
                            </li>
                            <li>Microsoft Internet Explorer <a
                                    href="#">https://support.microsoft.com/en-in/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                            </li>
                            <li>Mozilla Firefox <a
                                    href="#">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
                            </li>
                        </ul>

                        <p>For more information on how we handle personal information please refer to our <a
                                routerLink="/privacy">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>