<!DOCTYPE HTML>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <title>Global Steel Suppliers & Manufacturers | Mining - Tata Group</title>
      <!-- jQuery -->
      <!-- <script src="js/jquery-2.2.4.min.js"></script>
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
      <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script> -->
      <!--product thumbelina-->
      <!-- <script src="js/thumbelina.js"></script>
      <script src="js/product-carousel.js"></script> -->
      <!--date picker-->
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="js/customs.js" type="text/javascript"></script>
      <link href="css/style.css" rel="stylesheet" type="text/css"/>
      <link href="css/responsive.css" rel="stylesheet" type="text/css"/> -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <style type="text/css">
         /* ============ only desktop view ============ */
         @media all and (min-width: 992px) {
         .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
         .navbar .nav-item:hover .nav-link{ color: #fff;  }
         .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
         .navbar .dropdown-menu.fade-up{ top:180%;  }
         .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
         }  
         /* ============ desktop view .end// ============ */
      </style>
   </head>
   <body>
      <header class="header_sec">
         <div class="header_top">
            <div class="container">
               <div class="header_top_inr">
                  <ul>
                     <li>
                        <a href="#" class="shopcut"> <img src="assets/images/cuticon.png" alt=""> <span class="noti">3</span> </a>
                        <div class="shopcutBx">
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product2.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product1.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="shopcutBx_media">
                              <div class="media">
                                 <em> <a href="#"> <img src="assets/images/product3.png" alt="product"> </a></em>
                                 <div class="media-body">
                                    <p><a href="#">HC Ferro Chrome</a></p>
                                    <b>Size: 10-50</b>
                                 </div>
                              </div>
                              <a href="#url" class="closecut"><i class="fa fa-times" aria-hidden="true"></i></a>
                           </div>
                           <div class="cutview_btn">
                              <ul>
                                 <li><a href="#url" class="sign_btn">View Cart</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="hedTopBtn"> <a href="#url" class="sign_btn">Contact</a> <a href="#url" class="sign_btn log_btn">English</a> </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="header_botom">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-dark">
                  <a class="navbar-brand" href="#"><span class="wit-pic wit-primary-logo"><img src="assets/images/logo-white.png" alt="logo" /></span><span class="blu-pic blu-primary-logo"><img src="assets/images/logo-blue.png" alt="logo" /></span></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="main_nav">
                     <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" routerLink="/">  Home </a></li>

                        <li class="nav-item dropdown">
                           <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  
                           Products   </a>
                           <div class="dropdown-menu dropdown-large">
                              <div class="row g-3">
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li><a routerLink="/overview">Overview </a></li>
                                       <li><a routerLink="/ferro-chrome">Ferro Chrome</a></li>
                                       <li><a routerLink="/chrome-ore">Chrome Ore</a></li>
                                    </ul>
                                 </div>
                                 <!-- end col-3 -->
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li>
                                          <img src="assets/images/about-us-dropdown.jpg">
                                       </li>
                                    </ul>
                                    <h6 class="title">Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</h6>
                                 </div>
                                 <!-- end col-3 -->
                              </div>
                              <!-- end row -->
                           </div>
                           <!-- dropdown-large.// -->
                        </li>
                        
                        <li class="nav-item dropdown">
                           <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  
                            My Account   </a>
                           <div class="dropdown-menu dropdown-large">
                              <div class="row g-3">
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li><a routerLink="/profile">Profile </a></li>
                                       <li><a routerLink="/my-cart">My Cart</a></li>
                                       <li><a href="#">Logout</a></li>
                                    </ul>
                                 </div>
                                 <!-- end col-3 -->
                                 <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                       <li>
                                          <img src="assets/images/about-us-dropdown.jpg">
                                       </li>
                                    </ul>
                                    <h6 class="title">Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</h6>
                                 </div>
                                 <!-- end col-3 -->
                              </div>
                              <!-- end row -->
                           </div>
                           <!-- dropdown-large.// -->
                        </li>
                        <li class="nav-item"><a class="nav-link" routerLink="view-profile"> My Profile </a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/login"> Logout </a></li>
                     </ul>
                  </div>
                  <!-- navbar-collapse.// -->
                  <div class="hedbt">
                     <a href="search-service-request.html" class="sebtn"><span class="wit-pic"><img src="assets/images/magnifiying-white.png"></span><span class="blu-pic"><img src="assets/images/magnifiying-black.png"></span></a>
                     <span class="wit-pic wit-secondary-logo"><img src="assets/images/secondary-white.png"></span><span class="blu-pic blu-secondary-logo"><img src="assets/images/secondary-blue.png"></span>
                  </div>
               </nav>
            </div>
         </div>
      </header>

      <div class="page-content">
         <section class="prof-head">
         <div class="container">
            <h2>View profile</h2>
         </div>
      </section>
         <section class="prof-form">
            <div class="container">
               <div class="prof-form-bdy">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="prof-form-head">
                           Customer Information
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">First Name</label>
                           <input type="" class="form-control" name="" value="Bhaiyalal Prajapati">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Last Name</label>
                           <input type="" class="form-control" name="" value="Prajapati">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Address Line 1</label>
                           <input type="" class="form-control" name="" value="CF-345, Salt Lake City, Sector-1">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Address Line 2</label>
                           <input type="" class="form-control" name="" value="CF-345, Salt Lake City, Sector-1">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">City</label>
                           <input type="" class="form-control" name="" value="Kolkata">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">State</label>
                           <input type="" class="form-control" name="" value="West Bengal">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Pincode</label>
                           <input type="" class="form-control" name="" value="700 064">
                        </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="prof-form-head">
                           Customer e-KYC
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Gst Number</label>
                           <input type="" class="form-control" name="" value="18AABCU9603R1ZM">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Linked Address</label>
                           <input type="" class="form-control" name="" value="CF-345, Salt Lake City, Sector-1">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Pan Number</label>
                           <input type="" class="form-control" name="" value="ALWPG5809L">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Company Name</label>
                           <input type="" class="form-control" name="" value="Beas Consultancy And Services Pvt.Ltd">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Nature of Business</label>
                           <select class="form-control">
                              <option>Speculative Business Income</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="prof-form-head">
                           mobile & gst number
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Mobile Number</label>
                           <input type="" class="form-control" name="" value="7031704698">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">GSTIN</label>
                           <input type="" class="form-control" name="" value="18AABCU9603R1ZM">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Email Id</label>
                           <input type="" class="form-control" name="" value="bhaiya.prajapati@gmail.com">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Organization PAN</label>
                           <input type="" class="form-control" name="" value="ALWPG5809L">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Organization Name</label>
                           <input type="" class="form-control" name="" value="Beas Consultancy And Services Pvt.Ltd">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Organization Address</label>
                           <input type="" class="form-control" name="" value="CF-345, Salt Lake City, Sector-1">
                        </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="prof-form-head">
                           Preferred product
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="cart-table">
                        <div class="table-responsive">
                           <table class="table">
                             <thead>
                               <tr>
                                 <th>Product Details</th>
                                 <th>Category</th>
                                 <th>Subcategory</th>
                                 <th>Size</th>
                                 <th></th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr>
                                 <td>
                                    <div class="product">
                                    <figure class="product-media">
                                       <a href="#">
                                       <img src="assets/images/cart1.png" alt="Product image">
                                       </a>
                                    </figure>
                                 </div>
                                 </td>
                                 <td>
                                    <div class="product">
                                    <div class="cart-details">
                                       <h3 class="product-title">
                                          <a href="#">High Carbon Ferro Chrome</a>
                                       </h3>
                                    </div>
                                 </div>
                                 </td>
                                 <td>High Carbon Ferro Chrome - High Phos</td>
                                 <td>10-150 mm</td>
                               </tr>
                               
                               
                             </tbody>
                           </table>
                        </div>
                     </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="prof-form-head">
                           Download documents
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download Address Proof</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download Cancelled Cheque</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download PAN Card</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download GST Certificate</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download ITR of Last 2 FYS</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download Form D</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download Registration Certificates</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download TCS</a>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group download-documents">
                           <a href="#"><span class="arrow-down"><img src="assets/images/arrow-down.png"></span><span class="arrow-down-hovr"><img src="assets/images/arrow-down-hovr.png"></span>  Download Declaration on turnover
section 1940 and 206 cc</a>
                        </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-lg-12">
                     <a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Approve</a> &nbsp;
                     <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> reject</button>
                  </div>
                  </div>
               </div>
            </div>
         </section>
         
      </div>
      <footer class="footer footer-v1 footer-v2">
         <div class="content-block footer-main">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5">
                     <div class="footer-logo">
                        <img src="https://www.tatasteelmining.com/themes/custom/tsml/images/logos/logo-white.png" class="img-fluid" alt="image-description">
                     </div>
                     <div class="footer_content">
                        <p>Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers across the globe and strive to become a key player in mining and Ferro Alloys business.</p>
                        <ul class="footer_social">
                           <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4">
                     <h2>About Us</h2>
                     <ul class="clearfixnav">
                        <li class="navitem">
                           <a href="">Disclaimer</a>
                        </li>
                        <li class="navitem">
                           <a href="">Cookie Policy</a>
                        </li>
                        <li class="navitem">
                           <a href="">Privacy Policy</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-4">
                     <h2>Products & Customers</h2>
                     <ul class="clearfix-nav">
                        <li class="navitem">
                           <a href="">Overview</a>
                        </li>
                        <li class="navitem">
                           <a href="">Chrome Ore</a>
                        </li>
                        <li class="navitem">
                           <a href="">Ferro Chrome</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-2 col-md-4">
                     <h2>Contact</h2>
                     <ul class="clearfixnav">
                        <li class="navitem">
                           <a href="/contact-us">Contact Us</a>
                        </li>
                        <li class="navitem">
                           <a href="">Linkedin</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="footer-bottom">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                        <div id="block-footercopyright">
                           <div class="content">
                              <div class="text-center">
                                 <p>© 2021 Tata Steel Mining Limited. All Rights Reserved.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <div class="foot_arw">
         <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
      </div>
   </body>
</html>
