<!DOCTYPE html>
<html lang="en">

<body>
   <header class="header_sec">
      <div class="header_top">
         <div class="container">
            <div class="header_top_inr">
               <ul>
                  <li class="hedTopBtn"> <a class="sign_btn log_btn">English</a> </li>
                  <li>
                     <a class="shopcut pointer"> 
                        <i class="fa fa-bell" aria-hidden="true"></i> <span class="noti">{{notifications?.length}}+</span>
                     </a>
                     <div class="shopcutBx notiBox">
                        <div class="shopcutBx_media" *ngFor="let noti of notifications; let i = index">
                           <div class="noti-loop">
                              <div class="noti-pic">
                                 <img src="https://i.imgur.com/HYcn9xO.png">
                              </div>
                              <div class="noti-info">
                                 <p>{{noti.desc}} -- {{noti.desc_no }} <span class="badge badge-warning">New</span></p>
                              </div>
                           </div>                           
                           <small >-- {{noti.user_id}}</small>
                           <a (click)="removeNoti(noti.id)" class="closecut pointer text-primary"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                     </div>
                     
                  </li>
                  <li class="login-uuser" *ngIf="isUserLogIn != false && loginFalse != true">
                     <div class="after_login"><span><i class="fa fa-user" aria-hidden="true"></i></span> Welcome,
                        {{userName}}</div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="header_botom">
         <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
               <a class="navbar-brand pointer" (click)="clickOnLogo()"><span class="wit-pic wit-primary-logo"><img
                        src="assets/images/logo-white.png" alt="logo" /></span><span
                     class="blu-pic blu-primary-logo"><img src="assets/images/logo-blue.png" alt="logo" /></span></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="main_nav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item"><a class="nav-link" routerLink="/"> Home </a></li>
                     <li class="nav-item dropdown" *ngIf="userRol != 'SM'">
                        <a class="nav-link  dropdown-toggle" href="javascript:;" data-toggle="dropdown">Products</a>
                        <div class="dropdown-menu dropdown-large">
                           <div class="row g-3">
                              <div class="col-sm-6">
                                 <ul class="list-unstyled">
                                    <li><a routerLink="">Ferro Chrome & Chrome Ore</a></li>
                                 </ul>
                              </div>
                              <!-- end col-3 -->
                              <div class="col-sm-6">
                                 <ul class="list-unstyled">
                                    <li>
                                       <img src="assets/images/about-us-dropdown.jpg">
                                    </li>
                                 </ul>
                                 <h6 class="title">Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent
                                    subsidiary of Tata Steel Ltd. We have nurtured strong relationship with customers
                                    across the globe and strive to become a key player in mining and Ferro Alloys
                                    business.</h6>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="nav-item" *ngIf="(isUserLogIn != false && loginFalse != true)"
                     ><a class="nav-link" routerLink="/plant/do-list">View Do</a></li>
                     <!-- <li class="nav-item" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'PLANT')"
                     ><a class="nav-link" routerLink="/plant/do-entry">Do Entry</a></li> -->

                     <li class="nav-item"><a class="nav-link" *ngIf="isUserLogIn == false || loginFalse == true" routerLink="/auth/register">
                           Register </a></li>
                     <li class="nav-item" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'Sales' && userRol != 'SM' && userRol != 'OPT')">
                             <a class="nav-link" href="javascript:;" data-toggle="dropdown">  
                                 Order Planning</a>
                                 <div class="dropdown-menu small-dd" style="color: black;">
                                     <a routerLink="/order/order-planing">Order Planing</a><br>
                                     <a routerLink="/order/order-planing-form" class="mt-2">Order Planing Form</a><br>
                                     <a routerLink="/order/dispatch-plan" class="mt-2">Dispatch Plan</a>
                                   </div>
                      </li>
                      <!-- Oder proccesing team -->
                      <li class="nav-item" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'OPT' && userRol != 'sales')">
                        <a class="nav-link" href="javascript:;" data-toggle="dropdown">  
                           Add Information</a>
                            <div class="dropdown-menu small-dd" style="color: black;">
                                <a routerLink="/sales/prepare-sc">Add Sales Contract</a><br>
                                <a routerLink="/sales/prepare-so" class="mt-2">Add Sales Order</a><br>
                              </div>
                        </li>

                      <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'SM')" routerLink="/sales-manager/rfq-list">Confirm RFQs</a></li>
                      <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'Sales' && userRol != 'SM')" routerLink="/products/confirm-rfq">
                        Confirm RFQs </a></li>
                     <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && !userType && userRol != 'SM')" routerLink="/order/order-planing"> View Order Planning
                        </a></li>
                     <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && userType && userRol != 'SM' && userRol != 'PLANT')" routerLink="/dashboard/customer-dashboard">
                           Dashboard </a></li>
                     <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && !userType && userRol != 'SM' && userRol != 'PLANT')" routerLink="/dashboard/kam-dashboard">
                              Dashboard </a></li>
                     <!-- For sales manager dashboard -->
                     <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'SM')" routerLink="/dashboard/manager-dashboard">
                        Dashboard </a></li>
                        <!-- For Plant dashboard -->
                        <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != false && loginFalse != true && userRol == 'PLANT')" routerLink="/dashboard/plant-dashboard">
                           Dashboard </a></li>
                     <li class="nav-item"><a class="nav-link" *ngIf="(isUserLogIn != true || loginFalse != false)" routerLink="/auth/login"> Login
                        </a></li>
                     <li class="nav-item"><a class="nav-link pointer" (click)="logOut()" *ngIf="(isUserLogIn != false && loginFalse != true)"> Logout </a></li>
                  </ul>
               </div>
               <!-- navbar-collapse.// -->
               <div class="hedbt">
                  <a class="sebtn sharch_tog" routerLink="/sales/prepare-so" id="sharch_tog"><span class="wit-pic"><img
                           src="assets/images/magnifiying-white.png"></span><span class="blu-pic"><img
                           src="assets/images/magnifiying-black.png"></span></a>
                  <span class="wit-pic wit-secondary-logo" routerLink="/sales/prepare-sc"><img src="assets/images/secondary-white.png"></span><span
                     class="blu-pic blu-secondary-logo"><img src="assets/images/secondary-blue.png"></span>
               </div>


               <div class="search-section input-group">

                  <div class="d-flex align-items-center">

                     <input type="text" class="" placeholder="Search here">

                     <span class="input-group-btn">

                        <button class="btn btn-default" type="button"> Search
                           <!-- <img src="assets/images/search.png">  -->
                        </button>

                     </span>
                  </div>

               </div>
            </nav>
         </div>
      </div>
   </header>
</body>

<!-- Logout modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <h3>Log Out !</h3>
         </div>
         <div class="modal-body">
            <p>Are you sure want to logout !</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary pointer"
               data-bs-dismiss="modal">Logout</button>
         </div>
      </div>
   </div>
</div>

</html>