.pointer {cursor: pointer;};
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
       display: block;
       opacity: 0;
       visibility: hidden;
       transition: .3s;
       margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link {
       color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
       top: 80%;
       transform: rotateX(-75deg);
       transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
       top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
       transition: .3s;
       opacity: 1;
       visibility: visible;
       top: 100%;
       transform: rotateX(0deg);
    }
 }

 .notiBox {
    padding: 0;
    width: 300px;
    height: 330px;
    overflow: auto;
    p {
      font-size: 14px;      
    margin-bottom: 0;
    padding-right: 15px;
      span {
         font-weight: normal;
      }
    }
    small {
      text-align: right;
         display: block;
    }
    .shopcutBx_media {      
      a {
         position: absolute;
            top: 13px;
            right: 10px;
      }
    }
 }

 .noti-loop {
   display: flex;
   .noti-pic {
      margin-right: 10px;
      img {
         max-width: 16px;
      }
   }
 }

 .notiBox .shopcutBx_media:nth-child(even) {background: #5774ef96; padding: 5px 15px;}
 .notiBox .shopcutBx_media:nth-child(odd) {background: #cbccf3; padding: 5px 15px;}

//  27-12-2022
a {
   text-decoration: none;
   color: black;
 }
 
 a:visited {
   color: black;
 }
 
 .box::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #f5f5f5;
   border-radius: 5px;
 }
 
 .box::-webkit-scrollbar {
   width: 10px;
   background-color: #f5f5f5;
   border-radius: 5px;
 }
 
 .box::-webkit-scrollbar-thumb {
   background-color: black;
   border: 2px solid black;
   border-radius: 5px;
 }
 
 header {
   -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
   box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
   height: 110px;
   vertical-align: middle;
 }
 
 h1 {
   float: left;
   padding: 10px 30px;
 }
 
 body {
   margin: 0;
   padding: 0;
   font-family: "Raleway", sans-serif;
 }
 
 .icons {
   display: inline;
   float: right;
 }
 
 .notification {
   padding-top: 8px;
   position: relative;
   display: inline-block;
   margin-right: 7px;
   z-index:99;
 }
 
 .number {
  height: 20px;
  width: 20px;
  background-color: #d63031;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 2px;
  left: 8px;
  border-style: solid;
  border-width: 2px;
  font-size: 9px;
  line-height: 20px;
 }
 
 .number:empty {
   display: none;
 }
 
 .notBtn {
   transition: 0.5s;
   cursor: pointer;
 }
 
 .fas {
   font-size: 25pt;
   padding-bottom: 10px;
   color: black;
   margin-right: 40px;
   margin-left: 40px;
 }
 
 .box {
   width: 400px;
   height: 0px;
   border-radius: 10px;
   transition: 0.5s;
   position: absolute;
   overflow-y: scroll;
   padding: 0px;
   left: -300px;
   margin-top: 5px;
   background-color: #f4f4f4;
   -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
   box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
   cursor: context-menu;
 }
 
 .fas:hover {
   color: #d63031;
 }
 
 .notBtn:hover > .box {
   height: 40vh;
 }
 
 .content {
   padding: 20px;
   color: black;
   vertical-align: middle;
   text-align: left;
 }
 
 .gry {
   background-color: #f4f4f4;
 }
 
 .top {
   color: black;
   padding: 10px;
 }
 
 .display {
   position: relative;
 }
 
 .cont {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #f4f4f4;
 }
 
 .cont:empty {
   display: none;
 }
 
 .stick {
   text-align: center;
   display: block;
   font-size: 50pt;
   padding-top: 70px;
   padding-left: 80px;
 }
 
 .stick:hover {
   color: black;
 }
 
 .cent {
   text-align: center;
   display: block;
 }
 
 .sec {
   padding:10px;
   background-color: #f4f4f4;
   transition: 0.5s;
   border-bottom: 1px dotted #ccc;
 }
 
 .profCont {
   padding-left: 5px;
   margin-right:20px;
 }
 
 .profile {
   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
   width: 35px;
   float: left;
 }
 
 .txt {
  vertical-align: middle;
  font-size: 14px;
  padding: 0 0 0 53px;
 }
 
 .sub {
  font-size: 11px;
    color: grey;
 }
 
 .new {
   border-style: none none solid none;
   border-color: red;
 }
 
 .sec:hover {
   background-color: #bfbfbf;
 }
 .dt{padding:0 20px;}
 