<!DOCTYPE html>
<html lang="en">
<!-- haeder -->
<app-header></app-header>

<body>
    <div class="page-content">
        <section class="sub-header-2" *ngIf="showButtons > 0 && userByrole != 'Sales'">
            <div class="container">
                <h1>Price Negotiation</h1>
                <div class="clearfix"></div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="prod-list-detl">
                    <!-- List start -->

                    <div class="demo" *ngFor="let productData of selectedItem; let i = index">
                        <div id="accordion" class="accordion accordion--"
                            *ngIf="isSchduleArr[i] == 3 || isSchduleArr[i] == 0">
                            <div class="card md-0">
                                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                                    [attr.data-target]="'#collapseOne'+i">
                                    <div class="rowBox">
                                        <div class="oodr-info-03">
                                            <span>Customer Name {{isSchduleArr[i]}}</span>
                                            <p>{{productData.user_name}}</p>
                                        </div>
                                        <div class="oodr-info-03">
                                            <span>Category</span>
                                            <p>{{productData.cat_name}}</p>
                                        </div>
                                        <div class="oodr-info-01">
                                            <em>
                                                <span>RFQ Number</span>
                                                <p>{{rfqNum}}</p>
                                            </em>
                                        </div>
                                        <!-- <div class="oodr-info-01">
                                            <em>
                                                <span>Product Name</span>
                                                <p></p>
                                            </em>
                                        </div> -->
                                        <div class="oodr-info-01">
                                            <em>
                                                <span>RFQ Date</span>
                                                <p>{{productData.dt | date: 'dd/MM/YYYY' }}</p>
                                            </em>
                                        </div>
                                        <div class="oodr-info-01">

                                            <em>
                                                <span>Quantity (MT)</span>
                                                <p>{{productData.quantity}}</p>
                                            </em>

                                        </div>
                                        <!-- (click)="deleteRfqById(formData?.quote_id)" -->
                                        <div class="oodr-info-02">
                                            <div class="">
                                                <button *ngIf="userType == false" class="del-btn btn-danger"
                                                    (click)="deleteRfqById(productData?.quote_id, productData?.id)"
                                                    data-toggle="modal" data-target="#remarksModel"><i
                                                        class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div [attr.id]="'collapseOne'+i" class="card-body collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row mt-3"
                                            *ngFor="let formData of productData['schedule'];let y = index">
                                            <ng-container
                                                *ngIf="formData.quote_status == 3 || formData.quote_status == 0">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Sub Category</label>
                                                        <input type="hidden" [(ngModel)]="formData.sub_cat_id"
                                                            name="saubCat_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" id=""
                                                            value="{{formData.sub_cat_name}}" />
                                                        <input type="text" readonly
                                                            name="saubCat_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" id=""
                                                            value="{{formData.sub_cat_name}}" />
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Sizes Offered</label>
                                                        <input #qtyInput="ngModel" disabled type="text"
                                                            (change)="getTotalQuantity(i)"
                                                            [(ngModel)]="formData.pro_size"
                                                            name="pro_size_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" id="" placeholder=""
                                                            value="formData.pro_size" />

                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Quantity (MT)</label>
                                                        <input #qtyInput="ngModel" disabled type="number"
                                                            (change)="getTotalQuantity(i)"
                                                            [(ngModel)]="formData.quantity"
                                                            name="quantity_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" id="" placeholder=""
                                                            value="formData.quantity" required />
                                                        <small
                                                            *ngIf="qtyInput.invalid && (qtyInput.dirty || qtyInput.touched || submit)"
                                                            class="inputValidation">Quantity is required</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3" *ngIf="userByrole != 'Sales'">
                                                    <div class="form-group">
                                                        <label for="">Expected Price</label>
                                                        <div class="pri-box">
                                                            <span>₹</span>
                                                            <input type="number"
                                                            disabled
                                                                #priceInput="ngModel"
                                                                [(ngModel)]="formData.expected_price"
                                                                name="expected_price{{ formData.schedule_no }}"
                                                                class="form-control form-control-sm" id=""
                                                                placeholder="" value="" required />
                                                            <small
                                                                *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched || submit)"
                                                                class="inputValidation">Price is required</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Delivery Method</label>
                                                        <select disabled
                                                            #dlvrMethodInput="ngModel" [(ngModel)]="formData.delivery"
                                                            name="delivery_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" required>
                                                            <option value="">Select ..</option>
                                                            <option value="{{dlvry.methods}}"
                                                                *ngFor="let dlvry of deliveryDropList">{{dlvry.methods}}
                                                            </option>
                                                        </select>
                                                        <small
                                                            *ngIf="dlvrMethodInput.invalid && (dlvrMethodInput.dirty || dlvrMethodInput.touched || submit)"
                                                            class="inputValidation">Select delivery method</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Pickup From</label> &nbsp;
                                                        <label for=""
                                                            (change)="selectPlant($event, formData.schedule_no)">
                                                            <input type="radio" id="contactChoice1"
                                                                [(ngModel)]="formData.pickup_type"
                                                                id="pickupTyp_{{ formData.schedule_no }}_a"
                                                                name="contact{{ formData.schedule_no }}_a" value="PLANT"
                                                                class="mr-1" />
                                                            <label for="contactChoice1">Plant</label>&nbsp;
                                                            <input type="radio" id="contactChoice2"
                                                                [(ngModel)]="formData.pickup_type"
                                                                id="pickupTyp_{{ formData.schedule_no }}_b"
                                                                name="contact{{ formData.schedule_no }}_b" value="DEPOT"
                                                                class="mr-1" />
                                                            <label for="contactChoice2">Depot</label>&nbsp;
                                                            <input type="radio" id="contactChoice3"
                                                                [(ngModel)]="formData.pickup_type"
                                                                id="pickupTyp_{{ formData.schedule_no }}_c"
                                                                name="contact{{ formData.schedule_no }}_c" value="PORT"
                                                                class="mr-1" />
                                                            <label for="contactChoice3">Port</label>
                                                        </label>
                                                        <select [disabled]="userByrole == 'C'" #pickUpfrom="ngModel"
                                                            (change)="plantSele($event, formData.schedule_no)"
                                                            [(ngModel)]="formData.plant"
                                                            name="plant_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" required>
                                                            <option value="{{formData.plant}}" selected>{{formData.plant}}</option>
                                                            <option  value="{{plantItem.name}}" selected *ngFor="let plantItem of plantAddrr">{{plantItem.name? plantItem.name :formData.plant}}</option>
                                                        </select>
                                                        <small
                                                            *ngIf="pickUpfrom.invalid && (pickUpfrom.dirty || pickUpfrom.touched || submit)"
                                                            class="inputValidation">Pickup from is required</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Location</label>
                                                        <select disabled class="form-control form-control-sm" #location="ngModel"
                                                            [(ngModel)]="formData.location"
                                                            name="location_{{ formData.schedule_no }}" required>
                                                            <option value="{{formData.location}}" *ngIf="locationState[formData.schedule_no] == null; else newLocation">{{formData.location}}</option>
                                                                <ng-template #newLocation>
                                                                <option value="">--Select--</option>
                                                                <option selected value="{{locationState[formData.schedule_no]}}">{{locationState[formData.schedule_no]}}</option>
                                                                </ng-template>
                                                        </select>
                                                        <small
                                                            *ngIf="location.invalid && (location.dirty || location.touched || submit)"
                                                            class="inputValidation">Location is required</small>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <div class="bil-add-new-add">
                                                            <label for="">Bill To</label>
                                                        </div>
                                                        <select class="form-control form-control-sm"
                                                        disabled #billTo="ngModel"
                                                            [(ngModel)]="formData.bill_to"
                                                            name="bill_to_{{ formData.schedule_no }}" required>
                                                            <option value="{{formData.bill_to}}" selected>
                                                                {{formData.bill_to}}</option>
                                                            <!-- <option *ngFor="let state of states" value="{{ state?.name }}">
                                                            {{ state?.name }}
                                                        </option> -->
                                                        </select>
                                                        <small
                                                            *ngIf="billTo.invalid && (billTo.dirty || billTo.touched || submit)"
                                                            class="inputValidation">Select bill to</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <div class="bil-add-new-add">
                                                            <label for="">Ship To</label>
                                                        </div>
                                                        <select class="form-control form-control-sm"
                                                        disabled #shipTo="ngModel"
                                                            [(ngModel)]="formData.ship_to"
                                                            name="ship_to_{{ formData.schedule_no }}" required>
                                                            <option value="{{formData.ship_to}}" selected>
                                                                {{formData.ship_to}}</option>
                                                            <!-- <option *ngFor="let state of states" value="{{ state?.name }}">
                                                            {{ state?.name }}
                                                        </option> -->
                                                        </select>
                                                        <small
                                                            *ngIf="shipTo.invalid && (shipTo.dirty || shipTo.touched || submit)"
                                                            class="inputValidation">Select ship to</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for="">Proposed Delivery Date</label>
                                                        <div class="date-rang">
                                                            <div class="position-relative">
                                                                <input type="date" disabled
                                                                    [(ngModel)]="formData.from_date" #dlvrDate="ngModel"
                                                                    (change)="setNxtData($event, formData.schedule_no)"
                                                                    min="{{date}}"
                                                                    name="from_date_{{ formData.schedule_no }}"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="From" value="" required />
                                                                <small
                                                                    *ngIf="dlvrDate.invalid && (dlvrDate.dirty || dlvrDate.touched || submit)"
                                                                    class="inputValidation">Delivery date from</small>
                                                                <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                                                            </div>
                                                            <div class="position-relative">
                                                                <input type="date" disabled
                                                                    [(ngModel)]="formData.to_date" #dlvrDateTo="ngModel"
                                                                    id="to_date_{{formData.schedule_no}}"
                                                                    name="to_date_{{ formData.schedule_no }}"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="To" value="" required />
                                                                <small
                                                                    *ngIf="dlvrDateTo.invalid && (dlvrDateTo.dirty || dlvrDateTo.touched || submit)"
                                                                    class="inputValidation">Delivery date to</small>
                                                                <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label for=""
                                                            (click)="getPrice(formData.location,formData.pickup_type, formData?.schedule_no,formData.ship_to,productData.product_id,productData.cat_id,formData?.pro_size,formData?.sub_cat_id,formData.plant, i, y)">Tsml's
                                                            price
                                                            <span
                                                                class="price-info price-info0" data-toggle="modal"
                                                                data-target="#addPrice"><i
                                                                    class="fa fa-info-circle"></i></span></label>
                                                        <div class="pri-box">
                                                            <span>₹</span>
                                                            <input type="text" disabled [(ngModel)]="formData.kam_price"
                                                                class="form-control form-control-sm kamClass"
                                                                id="camsPrice{{formData.schedule_no}}" placeholder="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group" *ngIf="userByrole != 'Sales'">
                                                        <label for="">Valid Till </label>
                                                        <div class="position-relative">
                                                            <input type="datetime-local"
                                                            disabled
                                                                #validTill="ngModel" [(ngModel)]="formData.valid_till"
                                                                class="form-control form-control-sm datepicker"
                                                                >
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" *ngIf="!userType || userByrole == 'Sales'">
                                                    <div class="form-group">
                                                        <label for="">Tentative delivery date</label>
                                                        <div class="">
                                                            <span type="button" class="badge badge-primary mt-0"
                                                                data-toggle="modal" data-target="#createSechdule"
                                                                (click)="schduleSele(formData.schedule_no, formData.quantity)">
                                                                Set delivery date <i class="fa fa-calendar"
                                                                    aria-hidden="true"></i><span
                                                                    class="badge badge-light"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- customer remarks -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="">Customer Remarks</label>
                                                        <textarea [(ngModel)]="formData.remarks"
                                                        disabled #remarks="ngModel"
                                                            name="remarks_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" rows="4"
                                                            required></textarea>
                                                        <small
                                                            *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submit)"
                                                            class="inputValidation">Remarks is required</small>
                                                    </div>
                                                </div>
                                                <!-- Kam's remarks -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="">Cam's Remarks</label>
                                                        <textarea disabled
                                                            [(ngModel)]="formData.kamsRemarks" #kamsRemarks="ngModel"
                                                            name="kamRemarks_{{ formData.schedule_no }}"
                                                            class="form-control form-control-sm" rows="4"
                                                            required></textarea>
                                                        <small
                                                            *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submit)"
                                                            class="inputValidation">Remarks is required</small>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <span class="text-primary pointerTab" data-toggle="modal"
                                                        data-target="#viewMoreMessage"
                                                        (click)="messageBox(formData.schedule_no)">See
                                                        Remarks</span>
                                                </div>
                                                
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3 text-right">
                                <div (change)="selectRadio($event)">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" value="6" name="flexRadioDefault"
                                            id="flexRadioDefault1" />
                                        <label class="form-check-label" for="flexRadioDefault1"> Accept </label>
                                    </div>
        
                                    <!-- Default checked radio -->
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" value="9" name="flexRadioDefault"
                                            id="flexRadioDefault2" />
                                        <label class="form-check-label" for="flexRadioDefault2"> Reject </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right pb-5" *ngIf="showButtons > 0">
                    <button type="button" *ngIf="userByrole != 'C' || selectedItem[0].quotest != 0"
                        [disabled]="selectedItem[0].quotest == 7 && userByrole != 'Sales'" class="btn btn-primary"
                        (click)="submitRfq()"><i class="fa fa-paper-plane"></i> Submit</button>
                    &nbsp;
                    <button type="button" (click)="clickBack()" class="btn btn-danger"><i class="fa fa-arrow-left"></i>
                        Back</button>
                </div>

                <!-- Message modal -->
                <div class="modal" id="viewMoreMessage">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-uppercase">Remarks</h4>
                                <div class="">
                                    <button type="button" class="btn bt-sm btn-danger" (click)="cancelprice()"><i
                                            class="fa fa-times"></i></button>
                                </div>

                            </div>
                            <!-- Modal body -->
                            <div class="modal-body row" *ngIf="messages == 'Quote not updated'">
                                <p class="ml-2">{{messages}}</p>
                            </div>
                            <div class="modal-body row" *ngIf="messages != 'Quote not updated'">
                                <div *ngFor="let remark of messages">
                                    <ol class="chat">
                                        <li class="other" *ngIf="remark?.remarks != null && userByrole != 'Sales'">
                                            <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png"
                                                    draggable="false" /></div>
                                            <div class="msg">
                                                <p>Customer Remarks!</p>
                                                <p>{{remark.remarks}}</p>
                                                <time>{{remark.created_at | date}}</time>
                                            </div>
                                        </li>
                                        <li class="other" *ngIf="remark?.salesRemarks != null && userByrole != 'C'">
                                            <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png"
                                                    draggable="false" /></div>
                                            <div class="msg">
                                                <p>Sales Remarks!</p>
                                                <p>{{remark.salesRemarks}}</p>
                                                <time>{{remark.created_at | date}}</time>
                                            </div>
                                        </li>
                                        <li class="self" *ngIf="remark?.kamsRemarks != null">
                                            <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png"
                                                    draggable="false" /></div>
                                            <div class="msg">
                                                <p>Cam's Remarks!</p>
                                                <p>{{remark.kamsRemarks}}</p>
                                                <time>{{remark.created_at | date}}</time>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="page-content text-center mb-3" *ngIf="show_data == false && product_data == ''">
        <b style="color: rgb(124, 121, 121);">No data found.</b>
    </div>
    <app-footer></app-footer>
    <!-- Price calculation -->
    <div class="modal" id="addPrice">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase">Price Calculation</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form [formGroup]="priceForm">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Pricing Components</th>
                                    <th scope="col">Calculated Price (₹)</th>
                                    <th scope="col">Updated Price (₹)</th>
                                </tr>
                            </thead>
                            <tbody (change)="calculatePrice(schldId)">
                                <tr>
                                    <td colspan="2">Basic Price Table</td>
                                    <td>
                                        <div class="pp-bx" id="bptId">
                                            {{productPrice?.bpt_price}}
                                        </div>
                                    </td>
                                    <td><input type="number" readonly 
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_bptPrice{{schldId}}" placeholder=""
                                            value="{{productPrice?.bpt_price}}">
                                        </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Quality Premium</td>
                                    <td>
                                        <div class="pp-bx" id="pricePrId">
                                            {{productPrice?.price_premium}}
                                        </div>
                                    </td>
                                    <td><input type="number" formControlName="price_premium"
                                            [ngClass]="{ 'is-invalid': f.price_premium.errors && f.price_premium.touched}"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="price_premium{{schldId}}" value="" placeholder="">
                                        <small class="addClass" *ngIf="premiumPrice">Price Premium should not be less
                                            than {{productPrice?.price_premium}}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">CAM Price Adjustment</td>
                                    <td>
                                        <div class="pp-bx" id="kamid">
                                            {{productPrice?.cam_discount}}
                                        </div>
                                    </td>
                                    <td><input type="number" formControlName="cam_discount"
                                            [ngClass]="{ 'is-invalid': f.cam_discount.errors && f.cam_discount.touched}"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_discount{{schldId}}">
                                        <small class="addClass" *ngIf="kamDiscount">Kam discount should be less
                                            than
                                            {{productPrice?.cam_discount}}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Delivery Cost</td>
                                    <td>
                                        <div class="pp-bx" id="delCost">
                                            {{productPrice?.delivery_cost}}
                                        </div>
                                    </td>
                                    <td><input type="number" formControlName="delivery_cost"
                                            [ngClass]="{ 'is-invalid': f.delivery_cost.errors && f.delivery_cost.touched}"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="delivery{{schldId}}" placeholder="">
                                        <small class="addClass" *ngIf="deliveryCost">Delivery cost should not be less
                                            than {{productPrice?.delivery_cost}}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Interest Rate ( % )</td>
                                    <td>
                                        <div class="pp-bx" id="intrId">
                                            {{productPrice?.interest_rate }}
                                        </div>
                                    </td>
                                    <td><input type="number" formControlName="interest_rate"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_interest{{schldId}}" value="{{productPrice?.interest_rate }}" readonly>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Credit Cost For</td>
                                    <td>
                                        <select (change)="selectDay($event, productPrice?.price_premium_sing)"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150">
                                            <option value="0" selected>0 Days</option>
                                            <option value="30">30 Days</option>
                                            <option value="45">45 Days</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="pp-bx">
                                            <!-- <span *ngIf="days == 30">{{productPrice?.credit_cost_for30_days}}</span>
                                        <span *ngIf="days == 45">{{productPrice?.credit_cost_for45_days}}</span> -->
                                            <span>{{daysCostCount}}</span>
                                        </div>
                                    </td>
                                    <td><input type="number" readonly formControlName="creditCoast"
                                            [ngClass]="{ 'is-invalid': f.creditCoast.errors && f.creditCoast.touched}"
                                            class=" form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_credit{{schldId}}" value="{{daysCostCountCustomer}}" placeholder="">
                                        <small class="addClass" *ngIf="credCost">Credit Cost not be less than Cam's
                                            Cost</small>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Miscellaneous Cost (Sizing, Commission etc.)</td>
                                    <td>
                                        <div class="pp-bx" id="miscId">
                                            {{productPrice?.misc_expense}}
                                        </div>
                                    </td>
                                    <td><input type="number" formControlName="misc_expense"
                                            [ngClass]="{ 'is-invalid': f.misc_expense.errors && f.misc_expense.touched}"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="misc_expense{{schldId}}" placeholder="">
                                        <small class="addClass" *ngIf="miscPrice">Misc Expense should not be less than
                                            {{productPrice?.misc_expense}}</small>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">Final Price</td>
                                    <td>
                                        <div class="pp-bx">
                                            {{Totalsum}}
                                        </div>
                                    </td>
                                    <td><input type="number" readonly formControlName="totalSum"
                                            [ngClass]="{ 'is-invalid': f.totalSum.errors && f.totalSum.touched}"
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_total{{schldId}}" placeholder="" value="{{Totalsum1}}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Percentage difference Between BPT & Final Price (%)</td>
                                    <td>
                                        <!-- <div class="pp-bx bgGray">
                                            {{bptAndfinal}}
                                        </div> -->
                                    </td>
                                    <td><input type="text" formControlName="finalAmt" readonly
                                            class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                                            id="_bptAndfinal{{schldId}}" placeholder="" value="{{percentPrice}}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <p class="text-note"><i>Note: Price Quoted Excluding GST & TCS Charges</i></p>

                    <div class="add-btn-sec pt-2 pb-2">
                        <button class="btn btn-primary" [disabled]="userType"
                            (click)="priceSave(schldId, firstIndex, lastIndex)"><i class="fa fa-check"></i>
                            Ok</button>&nbsp;
                        <button type="button" class="btn btn-danger" (click)="cancelprice()"><i class="fa fa-times"></i>
                            Cancel</button>
                    </div>
                </div>
                <!--/-->
            </div>
        </div>
    </div>

    <!-- Delete remarks model -->
    <div class="modal fade" id="remarksModel" data-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remarks for delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control remarkArea" [(ngModel)]="remarksData"
                            id="message-text"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submitRemarks()"
                        data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Sechdule popup -->
    <div class="modal fade" id="createSechdule" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="staticBackdropLabel">Tentative delivery date: <b class="ml-4">Quantity
                            (MT) -
                            {{totlQty}}</b></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" *ngIf="showModalIsValue">
                        <div formArrayName="arr" *ngFor="let a of myForm.get('arr')['controls']; let i = index">
                            <div [formGroupName]="i" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" formControlName="quantity" value=""
                                            placeholder="Quantity">
                                    </div>
                                    <div class="col">
                                        <input type="date" class="form-control" formControlName="to_date"
                                            placeholder="Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary btn-sm float-right"
                            (click)="addItem()">Add</button>
                        <!-- <button type="submit">Submit</button> -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="onSubmit(totlQty)">OK</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
