<app-header></app-header>
<div class="page-content">
    <section class="sub-header-2">
       <div class="container">
          <h1>Delivery Order List</h1>
          <div class="clearfix"></div>
       </div>
    </section>
    <section class="add-prod-pg">
       <div class="container">
          <div class="row">
             <div class="col-12 text-right" *ngIf="userByRole == 'PLANT'">
                <b class="btn btn-sm btn-primary" type="button" (click)="onAdd();">Add DO</b>
             </div>
             <div class="col-12 mt-3">
                <div class="cart-table">
                   <div class="table-responsive">
                      <table class="table table-op">
                         <thead>
                            <tr>
                               <th>SO No</th>
                               <th>SO Date</th>
                               <th>SO Quantity (MT)</th>
                               <th>DO No.</th>
                               <th>DO Date</th>
                               <th>DO Quantity (MT)</th>
                               <th>Customer</th>
                               <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let item of soList">
                               <!-- <td>{{item.so_no}}</td> -->
                               <td>{{item.so_no}}</td>
                               <td>{{item.so_date}}</td>
                               <td>{{item.qty_cont}}</td>
                               <td>{{item.do_no}}</td>
                               <td>{{item.do_date}}</td>
                               <td>{{item.do_quantity}}</td>
                               <td>{{item.cus_name}}</td>
                               <td><button class="btn btn-sm btn-primary" (click)="onView(item.do_id)">View Details</button></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
          
 </div>
<app-footer></app-footer>
