<app-header></app-header>
<div class="page-content">
    <section class="sub-header-2">
       <div class="container">
          <h1>Delivery Order List</h1>
          <div class="clearfix"></div>
       </div>
    </section>
    <section class="add-prod-pg">
       <div class="container">
          <div class="row">
             <div class="col-12 text-right">
                <a class="btn btn-sm btn-primary" href="do-entry.html">Add DO</a>
             </div>
             <div class="col-12 mt-3">
                <div class="cart-table">
                   <div class="table-responsive">
                      <table class="table table-op">
                         <thead>
                            <tr>
                               <th>SO No</th>
                               <th>SO Date</th>
                               <th>SO Quantity</th>
                               <th>DO No.</th>
                               <th>DO Date</th>
                               <th>DO Quantity</th>
                               <th>Customer</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td align="right"><button class="btn btn-sm btn-primary">View Details</button></td>
                            </tr>
                            <tr>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td align="right"><button class="btn btn-sm btn-primary">View Details</button></td>
                            </tr>
                            <tr>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td align="right"><button class="btn btn-sm btn-primary">View Details</button></td>
                            </tr>
                           <!--  <tr>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td>...</td>
                               <td align="right"><button class="btn btn-sm btn-primary">Prepare SC</button></td>
                            </tr> -->
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
          
 </div>
<app-footer></app-footer>
