<!DOCTYPE HTML>
<html lang="en">
    <!-- header -->
    <app-header></app-header>
<body>
    <div class="page-content">
        <section class="sub-header">
           <h1>Tata Indicrome – High Carbon Ferro Chrome. Quality, convenience, trust. Unmatched.</h1>
           <ul>
              <li><a href="#"><img src="assets/images/home.png"></a></li>
              <li><a href="#">/  Products and Customers</a></li>
              <li>/  Ferro Chrome</li>
           </ul>
        </section>
        <section class="search_result_pg">
           <div class="container">
              <div class="search_result_inr">
                 <div class="search_result">
                    <div class="panel-box">
                       <a href="#" class="panelopen click_filter btn btn-primary w-100">Filters</a>
                    </div>
                    <div class="search_result_left">
                       <div class="sea_resu_left_body">
                          <div class="fil_top">
                             <strong>Filter by</strong>
                             <a href="#url" class="cler_bt">Clear All</a>
                          </div>
                          <div class="sea_left_tog">
                             <div class="panel-group fliter-list" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                   <div class="panel-heading" role="tab" id="headingOne">
                                      <h3 class="panel-title"><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Product</a></h3>
                                   </div>
                                   <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="diiferent-sec">
                                         <form>
                                            <div class="fit_frm">
                                               <select>
                                                  <option>Search by Product</option>
                                               </select>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </div>
                                <div class="panel panel-default">
                                   <div class="panel-heading" role="tab" id="headingTwo">
                                      <h3 class="panel-title"><a class="collapsed" data-toggle="collapse"  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Category </a></h3>
                                   </div>
                                   <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="diiferent-sec">
                                         <form>
                                            <div class="fit_frm">
                                               <select>
                                                  <option>Search by Category</option>
                                               </select>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </div>
                                <div class="panel panel-default">
                                   <div class="panel-heading" role="tab" id="headingfore">
                                      <h3 class="panel-title"><a class="collapsed" data-toggle="collapse"  href="#collapsefore" aria-expanded="false" aria-controls="collapsefore">Subcategory </a></h3>
                                   </div>
                                   <div id="collapsefore" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="diiferent-sec">
                                         <form>
                                            <div class="fit_frm">
                                               <select>
                                                  <option>Search by Subcategory</option>
                                               </select>
                                            </div>
                                         </form>
                                      </div>
                                   </div>
                                </div>
                                <div class="panel panel-default">
                                   <div class="panel-heading" role="tab" id="headingFive">
                                      <h3 class="panel-title"><a class="collapsed" data-toggle="collapse"  href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Sizes offered </a></h3>
                                   </div>
                                   <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                      <div class="diiferent-sec">
                                         <ul class="category-ul">
                                            <li>
                                               <input id="chk1" type="checkbox" value="all" name="chk1" checked="">
                                               <label for="chk1">All Sizes</label> 
                                            </li>
                                            <li>
                                               <input id="chk2" type="checkbox" value="all" name="chk1">
                                               <label for="chk2">10-50</label>  
                                            </li>
                                            <li>
                                               <input id="chk3" type="checkbox" value="all" name="chk1">
                                               <label for="chk3">10-70</label>  
                                            </li>
                                            <li>
                                               <input id="chk4" type="checkbox" value="all" name="chk1">
                                               <label for="chk4">10-100</label> 
                                            </li>
                                            <li>
                                               <input id="chk5" type="checkbox" value="all" name="chk1">
                                               <label for="chk5">10-150</label> 
                                            </li>
                                         </ul>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="form-group mt-3">
                             <label class="container-check">
                             <i>
                             Are you looking for customization of products?
                             </i>
                             <input type="checkbox" value="textBox" class="inputCheck">
                             <span class="checkmark"></span>
                             </label>
                             <div class="textBox" style="display:none;">
                                <textarea class="form-control w-90"></textarea>
                                <div class="text-center mt-3">
                                <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
                             </div>
                             </div>
                             
                          </div>
                       </div>
                    </div>
                    <div class="search_result_right">
                       <div class="sort_sec">
                          <h4>We found <b>12 products</b> available for you</h4>
                          <div class="sort_bx">
                             <ul class="str_sel_ul">
                                <li>Sort By</li>
                                <li>
                                   <strong class="str_sel">
                                      <select>
                                         <option>New Arrivals</option>
                                         <option>New Arrivals2</option>
                                      </select>
                                   </strong>
                                </li>
                             </ul>
                          </div>
                       </div>
                       <div class="se_re_rig_body">
                          <div class="popular_list_inr">
                             <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                   <div class="popular_list_bx">
                                      <div class="popular_list_img">
                                         <a href="product-details.html"><img src="assets/images/high-carbon.jpg" alt=""></a>
                                      </div>
                                      <div class="popular_text">
                                         <h4><a href="product-details.html">Tata Indicrome - HC Ferro Chrome (Lumps)</a></h4>
                                         <span class="pop_line"><img src="assets/images/pop_line.png" alt="" /></span>
                                      </div>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                   <div class="popular_list_bx">
                                      <div class="popular_list_img">
                                         <a href="product-details.html"><img src="assets/images/fecr-chips.jpg" alt=""></a>
                                      </div>
                                      <div class="popular_text">
                                         <h4><a href="product-details.html">Tata Indicrome - HC Ferro Ferro Chrome (Chips)</a></h4>
                                         <span class="pop_line"><img src="assets/images/pop_line.png" alt="" /></span>
                                      </div>
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                   <div class="popular_list_bx">
                                      <div class="popular_list_img">
                                         <a href="product-details.html"><img src="assets/images/fecr-fines-1.jpg" alt=""></a>
                                      </div>
                                      <div class="popular_text">
                                         <h4><a href="product-details.html">Tata Indicrome - HC Ferro Chrome (Fines)</a></h4>
                                         <span class="pop_line"><img src="assets/images/pop_line.png" alt="" /></span>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="clearfix"></div>
                 </div>
              </div>
           </div>
        </section>
     </div>
    <!-- footer -->
    <app-footer></app-footer>
    <div class="foot_arw">
        <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
    </div>
</body>

</html>