<app-header></app-header>
<div class="page-content container">
    <section class="sub-header-2">
       <div class="">
          <h1>UPDATE INFO</h1>
          <div class="clearfix"></div>
       </div>
    </section>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Customer PO No.</th>
            <th scope="col">PO Date</th>
            <th scope="col">Customer Name</th>
            <th scope="col">RFQ No</th>
            <th scope="col">RFQ Date</th>
            <th scope="col">Contract No.</th>
            <th scope="col">Order No.</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td><input type="text" ></td>
            <td><input type="text" ></td>
            <td><button class="btn btn-secondary btn-sm">Save</button></td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><button class="btn btn-secondary btn-sm">Save</button></td>
          </tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>