<app-header></app-header>
<div class="page-content container">
  <section class="sub-header-2">
    <div class="">
      <h1>UPDATE INFO</h1>
      <div class="clearfix"></div>
    </div>
  </section>
  <table class="table table-hover">
    <thead>
      <tr class="headercls">
        <th scope="col">Customer PO No.</th>
        <th scope="col">PO Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Material Code</th>
        <th scope="col">Plant</th>
        <th scope="col">Contract No.</th>
        <th scope="col">SO No.</th>
        <th scope="col">Payment Proc</th>
        <th scope="col">Financial Doc. No.</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scItem of scInfoItems | paginate: { itemsPerPage: 12, currentPage: p }">
        <td>{{scItem.cus_po_no}}</td>
        <td>{{scItem.po_date | date: 'dd/MM/yyyy'}}</td>
        <td>{{scItem.qty}}</td>
        <td>{{scItem.cus_name}}</td>
        <td>{{scItem.Material}}</td>
        <td>{{scItem.Plant}}</td>
        <td>
          <input type="text" id="scNumber{{scItem.id}}" maxlength="10" [disabled]="scItem.sc_no != null"
            value="{{scItem.sc_no}}">
        </td>
        <td>
          {{scItem.ordr_no}}

        </td>
        <td>{{scItem.payment_proc}}</td>
        <td>{{scItem.finance_no}}</td>
        <td><button class="btn btn-secondary btn-sm" [disabled]="scItem.sc_no !=  null"
            (click)="updateScSo(scItem.id)">UPDATE</button></td>
        <td><button
            [disabled]="scItem.sc_no == null || (scItem.ordr_no != null && scItem.payment_proc != null && scItem.finance_no != null)"
            class="btn btn-secondary btn-sm sizefit" data-toggle="modal"
            (click)="openModel(scItem.id,scItem.sc_no,scItem.ordr_no, scItem.Plant,scItem.payment_proc)"
            data-target="#soUpdateModel">UPDATE SO</button>
        </td>
        <td>
          <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top"
            title="View Sales Contract">
            <i routerLink="/sales/view-sc/{{scItem.id}}" class="fa fa-eye pointer" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<!-- Update SO Modal -->
<div class="modal fade" id="soUpdateModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPDATE SO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">SO Number</label>
            <input type="text" class="form-control" maxlength="10" id="soNumber" placeholder="Enter SO Number">
          </div>
          <div class="form-group">
            <!-- <label for="formGroupExampleInput2">Payment Guarantee Proc</label>
            <input type="text" class="form-control" maxlength="10" id="payment_pr" placeholder="Payment Guarantee Proc"> -->
            <label>Payment Garnt. Proc</label>
            <select class="form-control form-control-sm" id="payment_pr">
              <option value="">--Select--</option>
              <option value="{{paym.pay_gurantee_code}}" *ngFor="let paym of payGurProc">{{paym.pay_gurantee_code}}
                - {{paym.pay_gurantee_dec}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Financial Document number</label>
            <input type="text" class="form-control" maxlength="10" id="financial_d"
              placeholder="Financial Document number">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateSO()">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>