<app-header></app-header>
 <div class="page-content">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <h3 class="text-dark mt-4 mb-0">Sales Manager Dashboard</h3>
          </div>
       </div>
       <div class="row mt-3">
                <div class="col-md-6 col-sm-6 col-lg-3">
                   <a href="#">
                      <div class="mini-stat clearfix bx-shadow bg-info hvr-float-shadow">
                         <span class="mini-stat-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                         <div class="mini-stat-info text-right text-white">
                            <!-- <span class="counter text-white">{{dashItem?.volumeconfirmed}}</span> -->
                            <span [CountTo]="volConfm" [from]="0"
                                [duration]="2" class="counter"></span>
                            <b>Volume Confirmed</b>
                         </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                   <a href="#">
                      <div class="mini-stat clearfix bx-shadow bg-warning1  hvr-float-shadow">
                         <span class="mini-stat-icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                         <div class="mini-stat-info text-right text-white">
                            <!-- <span class="counter text-white">{{dashItem?.volume_under_negotiation}}</span> -->
                            <span [CountTo]="undrnego" [from]="0"
                                [duration]="2" class="counter"></span>
                           <span *ngIf="dashItem?.volume_under_negotiation <1" class="counter text-white">0</span>
                            <b>Volume (Under Negotiation)</b>
                         </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                   <a href="#">
                      <div class="mini-stat clearfix bx-shadow bg-pink hvr-float-shadow">
                         <span class="mini-stat-icon"><i class="fa fa-archive" aria-hidden="true"></i></span>
                         <div class="mini-stat-info text-right text-white">
                            <!-- <span class="counter text-white">{{dashItem?.ex_plant_confirmed_orders}} MT</span> -->
                            <span [CountTo]="exPlantConf" [from]="0"
                                [duration]="2" class="counter"></span>
                            <b> Ex-Plant Confirmed Orders</b>
                         </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                   <a href="#">
                      <div class="mini-stat clearfix bx-shadow bg-success1  hvr-float-shadow">
                         <span class="mini-stat-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                         <div class="mini-stat-info text-right text-white">
                            <!-- <span class="counter text-white">{{dashItem?.ex_Depot_confirmed_orders}} MT</span> -->
                            <span [CountTo]="exDepotConf" [from]="0"
                                [duration]="2" class="counter"></span>
                            <b>Ex-Depot Confirmed Orders</b>
                         </div>
                      </div>
                   </a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-3">
                  <a href="#">
                     <div class="mini-stat clearfix bx-shadow bg-pink  hvr-float-shadow">
                        <span class="mini-stat-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <div class="mini-stat-info text-right text-white">
                           <!-- <span class="counter text-white">{{dashItem?.DAP_confirmed_orders}} MT</span> -->
                           <span [CountTo]="dapConf" [from]="0"
                                [duration]="2" class="counter"></span>
                           <b>DAP Confirmed Orders</b>
                        </div>
                     </div>
                  </a>
               </div>
             </div>
       <!--Top Four Blocks-->
       <!--Graphs-->
       <div class="row">
          <div class="col-12 mt-2">
             <div class="month-year-search">
                <!-- <div class="form-group">
                   <label>Select Month</label>
                   <select class="form-control">
                      <option>Select</option>
                   </select>
                </div> -->
                <!-- <div class="form-group">
                  <a href="#" class="btn btn-primary btn-block mt-41"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                </div> -->
                <div class="form-group">
                   <label>Select Year</label>
                   <select class="form-control">
                      <option>Select Year</option>
                   </select>
                </div>
             </div>
          </div>
       </div>
       <div class="row mt-2 mb-5">
          <div class="col-12 col-lg-6 grid-margin stretch-card">
             <div class="card">
                <div class="card-body">
                   <!-- <img style="width:100%;max-width:600px" src="assets/images/G3.png" alt=""> -->
                   <h5 class="ml-3 my-2 dash-color">EX Depot, EX Plant & DAP - YTD FY 23</h5>
                   <hr class="hrlne"/>
                  <div id="chart">
                     <apx-chart
                       [series]="chartOptions?.series"
                       [chart]="chartOptions?.chart"
                       [labels]="chartOptions?.labels"
                       [responsive]="chartOptions?.responsive"
                     ></apx-chart>
                   </div>
                </div>
             </div>
          </div>
          <!--/-->
          <div class="col-12 col-lg-6 grid-margin stretch-card">
             <div class="card">
                <div class="card-body">
                    <!-- <img style="width:100%;max-width:600px" src="assets/images/G4.png" alt=""> -->
                  <h5 class="ml-3 my-2 dash-color">Current Month Ex Depot, Ex Plant & DAP (Data in MT)</h5>
                  <hr class="hrlne"/>
                  <div id="chart">
                     <apx-chart
                       [series]="chartOptions1?.series"
                       [chart]="chartOptions1?.chart"
                       [labels]="chartOptions1?.labels"
                       [responsive]="chartOptions1?.responsive"
                     ></apx-chart>
                  </div>
                </div>
             </div>
          </div>
          <!--/-->
       <!--/Graphs-->
    </div>
 </div>
 </div>
 <app-footer></app-footer>
