<!DOCTYPE HTML>
<html lang="en">

<body>
   <!-- Forget password -->
   <section class="login-bg">
      <div class="vertical-center">
         <div class="container">
            <div class="row justify-content-center my-55">
               <div class="col-10 col-md-6 col-lg-4 position-relative">
                  <div class="nav-round3"></div>
                  <div class="row login-inner">
                     <div class="col-12">
                        <form [formGroup]="resetPassForm">
                           <div class="row">
                              <div class="col-12 mb-2">
                                 <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                              </div>
                              <div class="col-12">
                                 <p class="log-txt">Reset Password</p>
                              </div>
                              <div class="col-12">
                                 <div>
                                    <label>Registered email</label>
                                    <!-- <input formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.email.errors }">
                                          <div *ngIf="submitt && f.email.errors" class="invalid-feedback">
                                             <div *ngIf="f.email.errors.required">Email is required</div>
                                             <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                           </div> -->
                                    <!--  -->
                                    <div class="d-flex2 display-f">
                                       <input type="email" formControlName="email" placeholder="example@gmail.com"
                                          id="resetEmail" type="email" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitt && f.email.errors }"
                                          class="form-control" />
                                       <button type="button" (click)="getOtp()" class="btn blue-btn">
                                          Get OTP
                                       </button>
                                    </div>
                                 </div>
                                 <div *ngIf="submitt && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                 </div>
                              </div>
                              <ng-container>
                                 <div class="col-12">
                                    <div *ngIf="recevedOtp">
                                       <label>Enter 6 digit OTP</label>
                                       <input formControlName="otp" type="text" minlength="6" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitt && f.otp.errors }">
                                       <div *ngIf="submitt && f.otp.errors" class="invalid-feedback">
                                          <div *ngIf="f.otp.errors.required">OTP is required</div>
                                          <div *ngIf="f.otp.errors.minlength">Password must be at least 6 characters
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <label>Current password</label>
                                    <div class="d-flex2 display-f">
                                       <!-- <input formControlName="old_pass" [readonly]="!recevedOtp" type="password" minlength="6" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.old_pass.errors }"> -->
                                       <div class="input-group mx-auto">
                                          <input name="password" formControlName="old_pass" [readonly]="!recevedOtp"
                                             [type]="showPassword1 ? 'text' : 'password'"
                                             class="form-control pwd-control" id="password-field"
                                             placeholder="Current password"
                                             [ngClass]="{ 'is-invalid': submitt && f.old_pass.errors }">
                                          <div class="eye_show_hide">
                                             <i alt="show" class="fa fa-eye eye-show"
                                                (click)="showPassword1 = !showPassword1"
                                                [class.hide]="showPassword1"></i>
                                             <i alt="hide" class="fa fa-eye-slash eye-hide"
                                                (click)="showPassword1 = !showPassword1"
                                                [class.hide]="!showPassword1"></i>
                                          </div>
                                       </div>
                                       <div *ngIf="submitt && f.old_pass.errors" class="invalid-feedback">
                                          <div *ngIf="f.old_pass.errors.required">Current password is required</div>
                                       </div>

                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div>
                                       <label>New password</label>
                                       <!-- <input formControlName="password" [readonly]="!recevedOtp" type="password" class="form-control" (keyup)="passwordCheck($event)" [ngClass]="{ 'is-invalid': submitt && f.password.errors }"> -->
                                       <div class="input-group mx-auto">
                                          <input name="password" formControlName="password" [readonly]="!recevedOtp"
                                             [type]="showPassword ? 'text' : 'password'"
                                             class="form-control pwd-control" id="password-field"
                                             placeholder="New password" (keyup)="passwordCheck($event)"
                                             [ngClass]="{ 'is-invalid': submitt && f.password.errors }">
                                          <div class="eye_show_hide">
                                             <i alt="show" class="fa fa-eye eye-show"
                                                (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                                             <i alt="hide" class="fa fa-eye-slash eye-hide"
                                                (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
                                          </div>
                                       </div>
                                       <div *ngIf="submitt && f.password.errors" class="invalid-feedback">
                                          <div *ngIf="f.password.errors.required">Password is required</div>
                                          <div *ngIf="f.password.errors.minlength">Password must be at least 10
                                             characters</div>
                                       </div>
                                       <small class="text-danger" *ngIf="!errorMsg">
                                          Should be atleast 10 characters in length with 1 Uppercase letter and Special
                                          characters
                                       </small>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div>
                                       <label>Confirm password</label>
                                       <!-- <input formControlName="password_confirm" [readonly]="!recevedOtp" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.password_confirm.errors }"> -->
                                       <div class="input-group mx-auto">
                                          <input name="password" formControlName="password_confirm"
                                             [readonly]="!recevedOtp" [type]="showPassword2 ? 'text' : 'password'"
                                             class="form-control pwd-control" id="password-field"
                                             placeholder="Confirm password"
                                             [ngClass]="{ 'is-invalid': submitt && f.password_confirm.errors }">
                                          <div class="eye_show_hide">
                                             <i alt="show" class="fa fa-eye eye-show"
                                                (click)="showPassword2 = !showPassword2"
                                                [class.hide]="showPassword2"></i>
                                             <i alt="hide" class="fa fa-eye-slash eye-hide"
                                                (click)="showPassword2 = !showPassword2"
                                                [class.hide]="!showPassword2"></i>
                                          </div>
                                       </div>
                                       <div *ngIf="submitt && f.password_confirm.errors" class="invalid-feedback">
                                          <div *ngIf="f.password_confirm.errors.required">Confirm Password is required
                                          </div>
                                          <div *ngIf="f.password_confirm.errors.mustMatch">Password and confirm not
                                             match</div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 ttext-right">
                                    <a class="smll-font pointer" routerLink="/myaccount/view-profile">Back to
                                       profile!</a>
                                 </div>
                              </ng-container>
                              <!--/-->
                           </div>
                           <div class="col-sm-12 mb-2">
                              <div class="captha">
                                 <label for="captha-input">Enter Captha</label>
                                 <div class="preview">
                                    <p>{{this.generatedCaptchaValue}}</p>
                                 </div>
                                 <div class="captha-form captcha-box">
                                    <input (paste)="$event.preventDefault()" class="form-control" type="text" formControlName="capthaValueEntered">
                                    <button class="captcha-refresh" (click)="generateCaptha()">
                                       <i class="fa fa-refresh"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                           <div>
                              <button type="submit" (click)="sabmitResetPass()" class="btn btn-primary btn-block"><i
                                    class="fa fa-paper-plane"></i> Submit</button>
                           </div>
                        </form>
                     </div>
                  </div>


               </div>
            </div>
         </div>
      </div>
   </section>


</body>

</html>