<!DOCTYPE HTML>
<html lang="en">
   <body>
      <!-- Forget password -->
      <section class="login-bg">
         <div class="vertical-center">
               <div class="container">
                  <div class="row justify-content-center my-55">
                     <div class="col-10 col-md-6 col-lg-4 position-relative">
                        <div class="nav-round3"></div>
                        <div class="row login-inner">
                           <div class="col-12">
                              <form [formGroup]="resetPassForm">
                                 <div class="row">
                                    <div class="col-12 mb-2">
                                       <img src="assets/images/logo-blue.png" alt="logo" class="f-logo img-fluid">
                                    </div>
                                    <div class="col-12">
                                       <p class="log-txt">Reset Password</p>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>Registered email</label>
                                          <!-- <input formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.email.errors }">
                                          <div *ngIf="submitt && f.email.errors" class="invalid-feedback">
                                             <div *ngIf="f.email.errors.required">Email is required</div>
                                             <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                           </div> -->
                                           <!--  -->
                                           <div class="d-flex2 display-f">
                                             <input type="email"  formControlName="email" placeholder="example@gmail.com" id="resetEmail" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.email.errors }"  class="form-control" />
                                             <button type="button" (click)="getOtp()" class="btn blue-btn">
                                                   Get OTP
                                                 </button>
                                             </div>
                                          </div>
                                          <div *ngIf="submitt && f.email.errors" class="invalid-feedback">
                                             <div *ngIf="f.email.errors.required">Email is required</div>
                                             <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                           </div>
                                    </div>
                                    <ng-container>
                                    <div class="col-12">
                                       <div *ngIf="recevedOtp">
                                          <label>Enter 6 digit OTP</label>
                                          <input formControlName="otp" type="text" minlength="6" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.otp.errors }">
                                          <div *ngIf="submitt && f.otp.errors" class="invalid-feedback">
                                             <div *ngIf="f.otp.errors.required">OTP is required</div>
                                             <div *ngIf="f.otp.errors.minlength">Password must be at least 6 characters</div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <label>Current password</label>
                                       <div class="d-flex2 display-f">
                                          <input formControlName="old_pass" [readonly]="!recevedOtp" type="password" minlength="6" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.old_pass.errors }">
                                          <div *ngIf="submitt && f.old_pass.errors" class="invalid-feedback">
                                             <div *ngIf="f.old_pass.errors.required">Current password is required</div>
                                           </div>
                                           

                                             <!-- <input matInput [type]="hide ? 'password' : 'text'" formControlName="old_pass" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.old_pass.errors }">
                                             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                             </button>
                                             <div *ngIf="submitt && f.old_pass.errors" class="invalid-feedback">
                                                <div *ngIf="f.old_pass.errors.required">Current password is required</div>
                                              </div> -->
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>New password</label>
                                          <input formControlName="password" [readonly]="!recevedOtp" type="password" class="form-control" (keyup)="passwordCheck($event)" [ngClass]="{ 'is-invalid': submitt && f.password.errors }">
                                          <div *ngIf="submitt && f.password.errors" class="invalid-feedback">
                                             <div *ngIf="f.password.errors.required">Password is required</div>
                                             <div *ngIf="f.password.errors.minlength">Password must be at least 10 characters</div>
                                           </div>
                                           <small class="text-danger" *ngIf="!errorMsg">
                                             Should be atleast 10 characters in length with 1 Uppercase letter and Special characters
                                           </small>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div>
                                          <label>Confirm password</label>
                                          <input formControlName="password_confirm" [readonly]="!recevedOtp" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitt && f.password_confirm.errors }">
                                          <div *ngIf="submitt && f.password_confirm.errors" class="invalid-feedback">
                                             <div *ngIf="f.password_confirm.errors.required">Confirm Password is required</div>
                                             <div *ngIf="f.password_confirm.errors.mustMatch">Password and confirm not match</div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="col-12 ttext-right">
                                       <a  class="smll-font pointer" routerLink="/myaccount/view-profile">Back to profile!</a>
                                    </div>
                                    </ng-container>
                                    <!--/-->
                                  </div>
                                 </form>
                                 <form #form="ngForm" *ngIf="recevedOtp">
                                    <div class="row mt-3">
                                      <div class="col-12 mb-2">
                                        <re-captcha id="recaptcha"  name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                                        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                                          <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                                        </div>
                                        <div>
                                          <button type="submit" (click)="sabmitResetPass(form)" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Submit</button>
                                       </div>
                                      </div>
                                    </div>
                                  </form>
                           </div>
                        </div>
                       

                     </div>
                  </div>
               </div>
            </div>
      </section>

      
   </body>
</html>
