<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <app-header></app-header>
    <div class="page-content">
      <section class="sub-header">
          <h1>Privacy Policy</h1>
      </section>
      <section class="product-sec">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="content-box">
                          <h4>Privacy Policy</h4>

                          <p>This Privacy Policy explains how Tata Steel Mining Limited (hereinafter referred to as
                              “TSML”, “we”, “us”, “our”) may collect, use, store, disclose or otherwise process your
                              personal data including personal data provided when using our websites (TSML websites)
                              and describes the rights you have with respect to your personal data.</p>

                          <p>TSML is committed to providing the highest level of protection regarding the processing
                              of their employees’, vendors’ and clients’/customers’ personal data based on applicable
                              data protection laws and regulations.</p>

                          <p>Personal data comprises all the details that TSML collects and processes directly or
                              indirectly about you as an individual, for instance information about your identity and
                              contact details (such as name, email-ID, contact number), including information received
                              from third parties and information collected through use of TSML websites, cookies or
                              other similar tools. TSML will first and foremost comply with local law where it exists.
                          </p>


                          <h4>Processing Personal Data</h4>

                          <p>TSML may process your personal data where such relevant personally identifiable
                              information is required to be processed for legitimate TSML purposes as follows, but not
                              limited to:</p>

                          <ul>
                              <li>Processing applications for products and services;</li>
                              <li>Providing products and services; (It is not feasible for an organisation to provide
                                  product / service without processing)</li>
                              <li>Monitoring and improving our website and its content;</li>
                              <li>Conducting market research and surveys with the aim of improving our products and
                                  services;</li>
                              <li>Sending you information about our products and services for marketing purposes and
                                  promotions;</li>
                              <li>Complying with applicable local or foreign law, regulation, policy, voluntary codes,
                                  directive, judgement or court order, as well as any contractual obligation ursuant
                                  to agreements between TSML and any authority, regulator or enforcement agency or
                                  body or any request coming from said entities.</li>
                              <li>Establishing, exercising or defending legal rights in connection with legal
                                  proceedings (including any prospective legal proceedings) and seeking professional
                                  or legal advice in relation to such legal proceedings.</li>
                              <li>Surveillance of premises. (Video Recording)</li>
                          </ul>

                          <p>TSML processes your personal data for the performance of the contracts/agreements
                              concluded with you, compliance with applicable legal or regulatory obligations or TSML
                              legitimate interests to provide you with adequate and qualitative products and services
                              and to prevent against any excessive risk. Where providing the data is optional, and you
                              choose not to share personal data, features like personalisation that use such data will
                              not work for you.</p>


                          <h4>Access to Personal Data</h4>

                          <p>Your personal data processed by TSML will only be accessible by a limited list of
                              recipients on a need to know basis or where required by law.</p>

                          <p>Our policy does not apply to third-party websites where our online advertisements are
                              displayed, nor to linked third-party websites which we do not operate or control.</p>

                          <p>To the extent permitted by law, TSML may record and monitor your communications with TSML
                              to ensure compliance with our legal and regulatory obligations and our internal
                              policies.</p>


                          <h4>Retention of Personal Information</h4>

                          <p>Your personal data processed by TSML are kept in a form which permits your identification
                              for no longer than is necessary for the purposes for which the personal data are
                              processed in line with legal, regulatory or statutory obligations.</p>

                          <p>At the expiry of such periods, your personal data will be deleted or archived to comply
                              with legal retention obligations or in accordance with applicable statutory limitation
                              periods.</p>


                          <h4>How to access and control your personal data?</h4>

                          <p>Subject to applicable law, regulations and/or industry guidelines, you may have the right
                              to invoke a data subject right in relation to your personal data being processed by
                              TSML.</p>

                          <p>TSML may be allowed by law, in particular in case of excessive or manifestly unfounded
                              request, to charge a fee for fulfilling your request, subject to applicable conditions.
                          </p>

                          <p>TSML shall provide information on action taken on a request pertaining to the Data
                              Subject Rights without undue delay and in any event within one month of receipt of the
                              request. That period may be extended by two further months where necessary, taking into
                              account the complexity and number of the requests.</p>

                          <p>TSML shall inform the data subject of any such extension within one month of receipt of
                              the request, together with the reasons for the delay.</p>

                          <p>To invoke your data subject rights, please use the data subject right request form or
                              send an email to data protection officer (for contact details refer to the last section
                              of this policy).</p>

                          <p>Finally, note that you are entitled to lodge a complaint with a competent Data Protection
                              Authority where existing, concerning TSML’s compliance with the applicable data
                              protection laws and regulation.</p>


                          <h4>Security</h4>

                          <p>The security and confidentiality of your Personal Data is important to us and TSML has
                              invested significant resources to protect the safekeeping and confidentiality of your
                              personal data. When using external service providers acting as processors, we require
                              that they adhere to the same standards as TSML. Regardless of where your personal
                              information is transferred or stored, we take all steps reasonably necessary to ensure
                              that personal data is kept secure.</p>


                          <h4>Social Media</h4>

                          <p>TSML operates channels, pages and accounts on some social media sites to inform, assist
                              and engage with employees, vendors and clients/customers. TSML monitors and records
                              comments and posts made on these channels about TSML in order to improve its products
                              and services.</p>

                          <p>Please note that you must not communicate to TSML through such social media sites the
                              following information:</p>


                          <ul>
                              <li>Confidential personal data, including any information regarding your financial
                                  situation, bank account details, transactions, etc.</li>
                              <li>sensitive personal data including (i) special categories of personal data meaning
                                  any information revealing racial or ethnic origin, political opinions, religious or
                                  philosophical beliefs, or trade union membership, and the processing of genetic
                                  data, biometric data for the purpose of uniquely identifying a natural person, data
                                  concerning health or data concerning a natural person's sex life or sexual
                                  orientation and (ii) other sensitive personal data such as criminal convictions and
                                  offences and national identification number; and</li>
                              <li>Excessive, inappropriate, offensive or insulting information towards individuals.
                              </li>
                          </ul>

                          <p>TSML is not responsible for any information posted on those sites other than the
                              information posted by its employees on its behalf. TSML is only responsible for its own
                              use of the personal data received through such sites.</p>

                          <h4>Changes to this Privacy Policy</h4>

                          <p>TSML may in its absolute discretion update this policy from time to time.</p>

                          <p>The use of the TSML Websites and any products and services supplied are subject to our
                              Terms and Conditions.</p>


                          <h4>Who to Contact</h4>

                          <p>If you have any questions regarding this privacy policy or the protection of your
                              personal data, you may reach out to TSML’s ITS Team at 
                              <!-- <a href="mailto:connect@tatasteelmining.com">connect@tatasteelmining.com</a> -->
                              <b>connect@tatasteelmining.com</b>
                            </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
</body>
<!-- footer -->
<app-footer></app-footer>
</html>
