.dropCls {
    padding-left: 2px;
}

.tdWidth {
    width: 205px;
}
.cart-table .table td, .table th {
    vertical-align: initial;
}
.badge {
    font-size: 12px;
}

.pointer {
    cursor: pointer;
}