<app-header></app-header>
<div class="page-content">
    <section class="sub-header-2">
       <div class="container">
          <h1>Prepare Sales Contract</h1>
          <div class="clearfix"></div>
       </div>
    </section>
    <section class="add-prod-pg">
       <div class="container">
          <div class="row">
             <div class="col-lg-12">
                <div class="cart-table">
                   <div class="table-responsive">
                      <table class="table table-op">
                         <thead>
                            <tr>
                               <th>Customer PO No.</th>
                               <th>PO Date</th>
                               <th>Customer Name</th>
                               <th>RFQ No</th>
                               <th>RFQ Date</th>
                               <th></th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let po of salesPo | paginate: { itemsPerPage: 8, currentPage: p }">
                              <td>{{po.cus_po_no}}</td>
                               <td>{{po.po_date}}</td>
                               <td>{{po.user}}</td>
                               <td>{{po.rfq_no}}</td>
                               <td>{{po.rfq_date}}</td>
                               <td align="right">
                                <button (click)="prepareSc(po.po_no)" class="btn btn-sm btn-primary">Prepare SC</button>
                            </td>
                            </tr>
                         </tbody>
                      </table>
                      <div class="text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                   </div>
                </div>
             </div>
          </div>

             <div class="" *ngIf="showSc">
                <div class="prof-form-bdy mb-5">
                   <div class="po-summery">
                      <div class="half-summery">
                         <ul>
                            <li>
                               <span>PO No: </span> {{poNumber}}
                            </li>
                            <li>
                               <span>PO Date: </span> {{scData?.po_date | date: 'dd/MM/YYYY'}}
                            </li>
                            <li>
                               <span>Customer Name: </span> {{scData?.cus_name}}
                            </li>
                            <li>
                               <span>RFQ No: </span> {{scData?.rfq_no}}
                            </li>
                         </ul>
                      </div>
                   </div>
               <!-- 1st form -->
                  <form [formGroup]="scForm">
                   <div class="row mt-2">
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Contract Type</label>
                            <select class="form-control form-control-sm" formControlName="contract_ty" [ngClass]="{ 'is-invalid': submit && f['contract_ty'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{contract.contract_type_code}}" *ngFor="let contract of contractTyp">{{contract.contract_type_dec}}</option>
                            </select>
                            
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Sales Organization</label>
                            <select class="form-control form-control-sm" formControlName="sales_org" [ngClass]="{ 'is-invalid': submit && f['sales_org'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{org.sales_orgerms_code}}" *ngFor="let org of orgSales">{{org.sales_orgerms_dec}}</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Distribution Channel</label>
                            <select class="form-control form-control-sm" (change)="selectDist($event)" formControlName="dis_chnl" [ngClass]="{ 'is-invalid': submit && f['dis_chnl'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{dst.distr_chan_code}}" *ngFor="let dst of distribution">{{dst.distr_chan_terms_dec}}</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Division</label>
                            <select class="form-control form-control-sm" formControlName="div" [ngClass]="{ 'is-invalid': submit && f['div'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{divi.division_code}}" *ngFor="let divi of sapDivision">{{divi.division_dec}}</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Sales office</label>
                            <select class="form-control form-control-sm" formControlName="sales_ofc" [ngClass]="{ 'is-invalid': submit && f['sales_ofc'].errors }">
                                <option value="">--Select--</option>
                               <option value="{{slcOfc.sales_office_code}}" *ngFor="let slcOfc of salesOffic">{{slcOfc.sales_office_dec}}</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Sales Group</label>
                            <select class="form-control form-control-sm" formControlName="sales_grp" [ngClass]="{ 'is-invalid': submit && f['sales_grp'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{sapGp.sales_group_code}}" *ngFor="let sapGp of sapGroup">{{sapGp.sales_group_dec}}</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Qty Contract TSML</label>
                            <input type="text" formControlName="qty_cont" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['qty_cont'].errors }">
                         </div>
                      </div>
                      <div class="col-12 col-lg-3">
                         <div class="form-group">
                            <label>Net Value</label>
                            <input type="text" formControlName="net_val" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['net_val'].errors }">
                         </div>
                      </div>

                      <div class="col-12 col-lg-3">
                        <div class="form-group">
                           <label>Valid From</label>
                           <input type="date" formControlName="ContractValidFrom" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['ContractValidFrom'].errors }">
                        </div>
                     </div>
                     <div class="col-12 col-lg-3">
                        <div class="form-group">
                           <label>Valid To</label>
                           <input type="date" formControlName="ContractValidTo" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['ContractValidTo'].errors }">
                        </div>
                     </div>

                      <div class="col-12 col-lg-4">
                         <div class="form-group">
                            <label>Sold-To-Party</label>
                            <input type="text" formControlName="sold_to_party" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['sold_to_party'].errors }">
                         </div>
                      </div>
                      <!-- sold to party address -->
                      <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Sold-To-Party Address</label>
                           <textarea type="text" formControlName="sold_to_addr" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['sold_to_addr'].errors }"></textarea>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Cust Referance No.</label>
                           <input type="text" formControlName="cus_ref" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['cus_ref'].errors }">
                        </div>
                     </div>
                      <div class="col-12 col-lg-4">
                         <div class="form-group">
                            <label>Ship-To-Party</label>
                            <input type="text" formControlName="ship_to_party" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['ship_to_party'].errors }">
                         </div>
                      </div>
                      <!-- ship to party address -->
                      <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Ship-To-Party Address</label>
                           <textarea type="text" formControlName="ship_to_addr" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submit && f['ship_to_addr'].errors }"></textarea>
                        </div>
                     </div>
                      
                      <div class="col-12 col-lg-4">
                         <div class="form-group">
                            <label>Cust. Ref. Date</label>
                            <div class="position-relative">
                               <input type="text" formControlName="cus_ref_dt" class="form-control form-control-sm datepicker" [ngClass]="{ 'is-invalid': submit && f['cus_ref_dt'].errors }">
                               <span class="over_llp"><img src="assets/images/cal.png" alt=""></span>
                            </div>
                         </div>
                      </div>
                      <div class="col-12 col-lg-4">
                         <div class="form-group">
                            <label>Shp. Cond.</label>
                            <select class="form-control form-control-sm" formControlName="shp_cond" [ngClass]="{ 'is-invalid': submit && f['shp_cond'].errors }">
                                <option value="">--Select--</option>
                                <option value="{{dlvrMode.delivery_mode_code}}" *ngFor="let dlvrMode of modeOfDlvr">{{dlvrMode.delivery_mode_dec}}</option>
                            </select>
                         </div>
                      </div>
                   </div>
                </form>
                   <div class="row">
                      <div class="col-lg-12">
                         <div class="cart-table">
                            <div class="table-responsive">
                               <table class="table table-op">
                                  <thead>
                                     <tr>
                                        <th>Material</th>
                                        <th>Order Quantity</th>
                                        <th>Basic Price</th>
                                        <th>Cnty</th>
                                        <th>Value</th>
                                        <th>Plant</th>
                                        <th></th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                                        <td>
                                          <div class="form-group dropCls col-sm-12">
                                             <select id="inputState" name="{{dynamic.matCode}}" (change)="getMaterial($event,i)" [(ngModel)]="dynamic.matCode" class="form-control form-control-sm">
                                               <option value="" selected>Choose...</option>
                                               <option value="{{item.mat_code}}" *ngFor="let item of scInfo; let i = index">{{item.mat_code}}</option>
                                             </select>
                                           </div>
                                        </td>
                                        <td class="tdWidth">
                                          <div class="col-sm-8 mb-3 dropCls">
                                             <input class="form-control form-control-sm" id="odrQty_{{i}}" name="{{dynamic.ordrQty}}" [(ngModel)]="dynamic.ordrQty" type="text">
                                          </div>
                                       </td>
                                       <td class="tdWidth">
                                          <div class="col-sm-8 mb-3 dropCls">
                                             <input class="form-control form-control-sm" id="basicPrc_{{i}}" readonly name="{{dynamic.basicPrc}}" [(ngModel)]="dynamic.basicPrc" value="{{scData?.price_det[0]['amt']}}" type="text">
                                          </div>
                                       </td>
                                        <td>
                                          <div class="form-group dropCls col-sm-12">
                                             <select id="inputState" name="{{dynamic.cnty}}" [(ngModel)]="dynamic.cnty" class="form-control form-control-sm">
                                               <option value="" selected>Choose...</option>
                                               <option value="ZPR0">ZPR0</option>
                                               <option value="ZPRX">ZPRX</option>
                                             </select>
                                           </div>
                                        </td>
                                        <!-- <td class="mb-3">{{scData?.value}}</td> -->
                                        <td class="tdWidth">
                                          <div class="col-sm-8 mb-3 dropCls">
                                             <input class="form-control form-control-sm" readonly name="{{dynamic.value}}" [(ngModel)]="dynamic.value" [value]="dynamic.ordrQty * dynamic.basicPrc" type="text">
                                          </div>
                                       </td>
                                        <td>
                                          <div class="form-group dropCls col-sm-8">
                                             <select id="inputState" name="{{dynamic.plant}}" (change)="getPlant($event, i)" [(ngModel)]="dynamic.plant" class="form-control form-control-sm">
                                               <option value="" selected>Choose...</option>
                                               <option value="{{plant.code}}" *ngFor="let plant of allPlants; let i = index">{{plant.name}}</option>
                                             </select>
                                           </div>
                                        </td>
                                        <td align="right">
                                            <button type="button" class="fa fa-minus btn btn-sm btn-danger ui1" *ngIf="i > 0" (click)="deleteRow(i)"></button>
                                        </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div class="text-center">
                                    <b *ngIf="dynamicArray.length == 0" >Add material here !</b>
                                 </div>
                                 <div class="text-right mb-2">
                                   <h4 type="" class="fa fa-plus badge badge-primary pointer" (click)="addRow()"> Add Item</h4>
                                 </div>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- <div class="ui1Bx" id="targetForm" *ngIf="showUpdateInfo">
                      <div class="row">
                         <div class="col-lg-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Cnty</th>
                                           <th>Description</th>
                                           <th>Amount</th>
                                        </tr>
                                     </thead>
                                     <tbody *ngFor="let item of priceInfo.price_det; let i = index">
        
                                        <td>
                                          <select class="form-control form-control-sm mr-sm-2" (change)="getPrice($event, i)">
                                             <option value="">--Select--</option>
                                             <option value="ZPR0">ZPR0</option>
                                          </select>
                                        </td>
                                        <td>{{item.des}}</td>
                                        <td id="priceVal{{i}}">{{item.amt}}</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="row">

                         <div class="col-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Material</th>
                                           <th>Characteristics</th>
                                           <th>Minimum</th>
                                           <th>Maximum</th>
                                        </tr>
                                     </thead>
                                     <tbody *ngFor="let spc of specs[0]">
                                        <td>{{priceInfo.mat_code}}</td>
                                        <td>...</td>
                                        <td>{{spc.min}}</td>
                                        <td>{{spc.max}}</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>

                         <div class="col-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Material</th>
                                           <th>Characteristics</th>
                                           <th>Permissible Percentage</th>
                                           <th>UOM</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <td id="mat_code{{matCodeId}}">{{priceInfo.mat_code}}</td>
                                        <td id="charact{{matCodeId}}"> ...</td>
                                        <td>
                                            <div class="col-12 col-lg-2">
                                                <div class="form-group">
                                                   <input type="number" id="_per{{matCodeId}}" (change)="percent(permissPerc,matCodeId)" [(ngModel)]="permissPerc" class="form-control form-control-sm">
                                                </div>
                                             </div>
                                        </td>
                                        <td class="mt-0">%</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div> -->
                   <!-- 2nd Form -->
                   <div class="row">
                     <div class="col-12">
                        <div class="po-summery">
                          <form [formGroup]="updateInfoForm">
                           <div class="row">
                              <div class="col-12 col-lg-4">
                                <div class="form-group">
                                   <label>Incoterms</label>
                                   <select class="form-control form-control-sm" formControlName="incoterms" [ngClass]="{ 'is-invalid': submit && ff['incoterms'].errors }">
                                      <option value="">--Select--</option>
                                      <option value="{{item.incoterms_code}}" *ngFor="let item of incotermsInfo">{{item.incoterms_dec}}</option>
                                   </select>
                                </div>
                             </div>
                             <div class="col-12 col-lg-4">
                                <div class="form-group">
                                   <label>Payment Terms</label>
                                   <select class="form-control form-control-sm" formControlName="pay_terms" [ngClass]="{ 'is-invalid': submit && ff['pay_terms'].errors }">
                                      <option value="">--Select--</option>
                                      <option value="{{item.payment_terms_code}}" *ngFor="let item of paymentInfo">{{item.payment_terms_dec}}</option>
                                   </select>
                                </div>
                             </div>

                              <div class="col-12 col-lg-4">
                                 <div class="form-group">
                                    <label>Feight</label>
                                    <select class="form-control form-control-sm" formControlName="freight" [ngClass]="{ 'is-invalid': submit && ff['freight'].errors }">
                                       <option value="">--Select--</option>
                                       <option value="{{item.freight_code}}" *ngFor="let item of freightItems">{{item.freight_dec}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-12 col-lg-4">
                                 <div class="form-group">
                                    <label>Customer Group</label>
                                    <select class="form-control form-control-sm" formControlName="cus_grp" [ngClass]="{ 'is-invalid': submit && ff['cus_grp'].errors }">
                                       <option value="">--Select--</option>
                                       <option value="{{custGrp.cus_group_code}}" *ngFor="let custGrp of customerGrp">{{custGrp.cus_group_dec}}</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-12 col-lg-4">
                                 <div class="form-group">
                                    <label>Feight Indicator</label>
                                    <select class="form-control form-control-sm" formControlName="fr_ind" [ngClass]="{ 'is-invalid': submit && ff['fr_ind'].errors }">
                                       <option value="">--Select--</option>
                                       <option value="{{indi.freight_indication_code}}" *ngFor="let indi of freightIndicator">{{indi.freight_indication_dec}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                          </form>
                        </div>
                     </div>
                   </div>
                </div>
                <div class="row mb-5">
                   <div class="col-lg-12">
                      <button type="button" class="btn btn-primary" (click)="submitSc()"><i class="fa fa-paper-plane"></i> Submit</button>&nbsp;
                      <!-- <button type="button" class="btn btn-primary" (click)="checkSubmit()"><i class="fa fa-paper-plane"></i> Submit-2</button>&nbsp; -->
                      <button type="button" (click)="backTo()" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                   </div>
                </div>
             </div>

             <!-- Footer -->
            <app-footer></app-footer>
