<app-header></app-header>
<div class="page-content">
   <section class="sub-header-2">
      <div class="container">
         <h1>Prepare Sales Contract</h1>
         <div class="clearfix"></div>
      </div>
   </section>
   <section class="add-prod-pg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="cart-table">
                  <div class="table-responsive">
                     <table class="table table-op">
                        <thead>
                           <tr>
                              <th>Customer PO No.</th>
                              <th>PO Date</th>
                              <th>Customer Name</th>
                              <th>RFQ No</th>
                              <th>RFQ Date</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let po of salesPo | paginate: { itemsPerPage: 8, currentPage: p }">
                              <td>{{po.cus_po_no}}</td>
                              <td>{{po.po_date}}</td>
                              <td>{{po.user}}</td>
                              <td>{{po.rfq_no}}</td>
                              <td>{{po.rfq_date}}</td>
                              <td align="right">
                                 <button (click)="redirectPo(po.po_no)" class="btn btn-sm btn-primary" style="margin-right: 8px;">View PO</button>
                                 <button (click)="prepareSc(po.po_no)" class="btn btn-sm btn-primary">Prepare SC</button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="" *ngIf="showSc">
            <div class="prof-form-bdy mb-5">
               <div class="po-summery">
                  <div class="half-summery">
                     <ul>
                        <li>
                           <span>PO No: </span> {{poNumber}}
                        </li>
                        <li>
                           <span>PO Date: </span> {{scData?.po_date | date: 'dd/MM/YYYY'}}
                        </li>
                        <li>
                           <span>Customer Name: </span> {{scData?.cus_name}}
                        </li>
                        <!-- <li>
                               <span>RFQ No: </span> {{scData?.rfq_no}}
                            </li> -->
                     </ul>
                  </div>
               </div>
               <!-- 1st form -->
               <form [formGroup]="scForm">
                  <div class="row mt-2">
                     <div class="col-12 col-lg-4">
                        <!-- <div class="form-group">
                            <label>Contract Type</label>
                            <select class="form-control form-control-sm" formControlName="contract_ty" [ngClass]="{ 'is-invalid': submit && f['contract_ty'].errors }">
                               <option value="">--Select--</option>
                               <option value="{{contract.contract_type_code}}" *ngFor="let contract of contractTyp">{{contract.contract_type_code}} - {{contract.contract_type_dec }}</option>
                            </select>
                         </div> -->
                        <mat-form-field class="mat-class">
                           <label>Contract Type</label>
                           <input #contrctInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="contract_ty" aria-label="" [matAutocomplete]="auto5"
                              [formControl]="contrctCtrl" required matTooltip="Type to filter the Contrct list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto5="matAutocomplete">
                              <mat-option (onSelectionChange)="contrctInput.value !=undefined && onContrct($event)"
                                 *ngFor="let contrct of filteredContrt | async" [value]="contrct.concatValue">
                                 <span>{{ contrct.contract_type_code }} - {{ contrct.contract_type_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <mat-form-field class="mat-class">
                           <label>Sales Organization</label>
                           <input #slOrgInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="sales_org" aria-label="" [matAutocomplete]="auto6"
                              [formControl]="salesOrgCtrl" required matTooltip="Type to filter the Sales Org list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto6="matAutocomplete">
                              <mat-option (onSelectionChange)="slOrgInput.value !=undefined && onSalesOrg($event)"
                                 *ngFor="let slOrg of filteredSlOrg | async" [value]="slOrg.concatValue">
                                 <span>{{ slOrg.sales_orgerms_code }} - {{ slOrg.sales_orgerms_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <mat-form-field class="mat-class">
                           <label>Distribution Channel</label>
                           <input #distriInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="dis_chnl" aria-label="" [matAutocomplete]="auto7"
                              [formControl]="distriCtrl" required matTooltip="Type to filter the distribution list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto7="matAutocomplete">
                              <mat-option (onSelectionChange)="distriInput.value !=undefined && onDistrib($event)"
                                 *ngFor="let dist of filteredDistri | async" [value]="dist.concatValue">
                                 <span>{{ dist.distr_chan_code }} - {{ dist.distr_chan_terms_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <mat-form-field class="mat-class">
                           <label>Division</label>
                           <input #divisInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="div" aria-label="" [matAutocomplete]="auto8" [formControl]="diviCtrl"
                              required matTooltip="Type to filter the Division list" matTooltipPosition="after">
                           <mat-autocomplete #auto8="matAutocomplete">
                              <mat-option (onSelectionChange)="divisInput.value !=undefined && onDiviCh($event)"
                                 *ngFor="let divi of filteredDivi | async" [value]="divi.concatValue">
                                 <span>{{ divi.division_code }} - {{ divi.division_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <mat-form-field class="mat-class">
                           <label>Sales office</label>
                           <input #officeInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="sales_ofc" aria-label="" [matAutocomplete]="auto9"
                              [formControl]="officeCtrl" required matTooltip="Type to filter the Sales Office list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto9="matAutocomplete">
                              <mat-option (onSelectionChange)="officeInput.value !=undefined && onOffice($event)"
                                 *ngFor="let ofic of filteredOffice | async" [value]="ofic.concatValue">
                                 <span>{{ ofic.sales_office_code }} - {{ ofic.sales_office_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <mat-form-field class="mat-class">
                           <label>Sales Group</label>
                           <input #grpInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="sales_grp" aria-label="" [matAutocomplete]="auto10"
                              [formControl]="salesGrpCtrl" required matTooltip="Type to filter the Sales Office list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto10="matAutocomplete">
                              <mat-option (onSelectionChange)="grpInput.value !=undefined && onSalesGrp($event)"
                                 *ngFor="let grp of filteredSlGrp | async" [value]="grp.concatValue">
                                 <span>{{ grp.sales_group_code }} - {{ grp.sales_group_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Qty Contract TSML</label>
                           <input type="text" formControlName="qty_cont" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['qty_cont'].errors }">
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Net Value</label>
                           <input type="text" formControlName="net_val" readonly class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['net_val'].errors }">
                        </div>
                     </div>

                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Valid From</label>
                           <input type="date" formControlName="ContractValidFrom" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['ContractValidFrom'].errors }">
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Valid To</label>
                           <input type="date" formControlName="ContractValidTo" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['ContractValidTo'].errors }">
                        </div>
                     </div>

                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Sold-To-Party</label>
                           <input type="text" formControlName="sold_to_party" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['sold_to_party'].errors }">
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Sold-To-Party Address</label>
                           <textarea type="text" formControlName="sold_to_addr" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['sold_to_addr'].errors }"></textarea>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Cust Referance No.</label>
                           <input type="text" formControlName="cus_ref" readonly class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['cus_ref'].errors }">
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Ship-To-Party</label>
                           <input type="text" formControlName="ship_to_party" class="form-control form-control-sm" (change)="shipToPartyChanged($event)"
                              [ngClass]="{ 'is-invalid': submit && f['ship_to_party'].errors }">
                        </div>
                     </div>
                     <!-- ship to party address -->
                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Ship-To-Party Address</label>
                           <textarea type="text" formControlName="ship_to_addr" class="form-control form-control-sm"
                              [ngClass]="{ 'is-invalid': submit && f['ship_to_addr'].errors }"></textarea>
                        </div>
                     </div>

                     <div class="col-12 col-lg-4">
                        <div class="form-group">
                           <label>Cust. Ref. Date</label>
                           <div class="position-relative">
                              <input type="text" formControlName="cus_ref_dt" id="custRefdate" readonly
                                 class="form-control form-control-sm datepicker"
                                 [ngClass]="{ 'is-invalid': submit && f['cus_ref_dt'].errors }">
                              <span class="over_llp"><img src="assets/images/cal.png" alt=""></span>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-4">
                        <!-- <div class="form-group">
                            <label>Shp. Cond.</label>
                            <select class="form-control form-control-sm" formControlName="shp_cond" [ngClass]="{ 'is-invalid': submit && f['shp_cond'].errors }">
                                <option value="">--Select--</option>
                                <option value="{{dlvrMode.delivery_mode_code}}" *ngFor="let dlvrMode of modeOfDlvr">{{dlvrMode.delivery_mode_code}} - {{dlvrMode.delivery_mode_dec}}</option>
                            </select>
                         </div> -->
                        <mat-form-field class="mat-class">
                           <label>Shp. Cond.</label>
                           <input #modeInput (keyup)="0" matInput class="form-control form-control-sm"
                              formControlName="shp_cond" aria-label="" [matAutocomplete]="auto11"
                              [formControl]="modeCtrl" required matTooltip="Type to filter the Shp. Cond list"
                              matTooltipPosition="after">
                           <mat-autocomplete #auto11="matAutocomplete">
                              <mat-option (onSelectionChange)="modeInput.value !=undefined && onMode($event)"
                                 *ngFor="let md of filteredMode | async" [value]="md.delivery_mode_code">
                                 <span>{{ md.delivery_mode_code }} - {{ md.delivery_mode_dec }}</span>
                              </mat-option>
                           </mat-autocomplete>
                        </mat-form-field>
                     </div>
                  </div>
               </form>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="cart-table">
                        <div class="table-responsive">
                           <table class="table table-op">
                              <thead>
                                 <tr>
                                    <th>Material</th>
                                    <th>Order Quantity</th>
                                    <th>Net Value</th>
                                    <th>Cnty</th>
                                    <th>Value</th>
                                    <th>Plant</th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                                    <td>
                                       <div class="form-group dropCls addClass col-sm-12">
                                          <select id="inputState" name="{{dynamic.matCode}}"
                                             (change)="getMaterial($event,i)" [(ngModel)]="dynamic.matCode"
                                             class="form-control form-control-sm">
                                             <option value="" selected>Choose...</option>
                                             <option value="{{item.mat_no}}"
                                                *ngFor="let item of matarial; let i = index">{{item.mat_no}}</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td class="tdWidth">
                                       <div class="col-sm-8 mb-3 dropCls">
                                          <input class="form-control form-control-sm" id="odrQty_{{i}}"
                                             name="{{dynamic.ordrQty}}" [(ngModel)]="dynamic.ordrQty" type="text">
                                       </div>
                                    </td>
                                    <td class="tdWidth">
                                       <div class="col-sm-8 mb-3 dropCls">
                                          <input class="form-control form-control-sm" id="basicPrc_{{i}}"
                                             name="{{dynamic.basicPrc}}" [(ngModel)]="scData.net_value"
                                             value="{{scData?.price_det[0]['amt']}}" type="text">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="form-group dropCls col-sm-12">
                                          <select id="inputState" name="{{dynamic.cnty}}" [(ngModel)]="dynamic.cnty"
                                             class="form-control form-control-sm">
                                             <option value="" selected>Choose...</option>
                                             <option value="ZPR0">ZPR0</option>
                                             <option value="ZPRX">ZPRX</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td class="tdWidth">
                                       <div class="col-sm-8 mb-3 dropCls">
                                          <input class="form-control form-control-sm" name="{{dynamic.value}}"
                                             [(ngModel)]="dynamic.value" [value]="dynamic.ordrQty * dynamic.basicPrc"
                                             type="text">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="form-group dropCls col-sm-8">
                                          <select id="inputState" name="{{dynamic.plant}}"
                                             (change)="getPlant($event, i)" [(ngModel)]="dynamic.plant"
                                             class="form-control form-control-sm">
                                             <option value="" selected>Choose...</option>
                                             <option value="{{plant.code}}"
                                                *ngFor="let plant of allPlants; let i = index">{{plant.code}} -
                                                {{plant.name}}</option>
                                          </select>
                                       </div>
                                    </td>
                                    <td align="right">
                                       <button type="button" class="fa fa-minus btn btn-sm btn-danger ui1" *ngIf="i > 0"
                                          (click)="deleteRow(i)"></button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <div class="text-center">
                              <b *ngIf="dynamicArray.length == 0">Add material here !</b>
                           </div>
                           <div class="text-right mb-2">
                              <h4 type="" class="fa fa-plus badge badge-primary pointer" (click)="addRow()"> Add Item
                              </h4>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- <div class="ui1Bx" id="targetForm" *ngIf="showUpdateInfo">
                      <div class="row">
                         <div class="col-lg-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Cnty</th>
                                           <th>Description</th>
                                           <th>Amount</th>
                                        </tr>
                                     </thead>
                                     <tbody *ngFor="let item of priceInfo.price_det; let i = index">
        
                                        <td>
                                          <select class="form-control form-control-sm mr-sm-2" (change)="getPrice($event, i)">
                                             <option value="">--Select--</option>
                                             <option value="ZPR0">ZPR0</option>
                                          </select>
                                        </td>
                                        <td>{{item.des}}</td>
                                        <td id="priceVal{{i}}">{{item.amt}}</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="row">

                         <div class="col-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Material</th>
                                           <th>Characteristics</th>
                                           <th>Minimum</th>
                                           <th>Maximum</th>
                                        </tr>
                                     </thead>
                                     <tbody *ngFor="let spc of specs[0]">
                                        <td>{{priceInfo.mat_code}}</td>
                                        <td>...</td>
                                        <td>{{spc.min}}</td>
                                        <td>{{spc.max}}</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>

                         <div class="col-12">
                            <div class="cart-table">
                               <div class="table-responsive">
                                  <table class="table table-op">
                                     <thead>
                                        <tr>
                                           <th>Material</th>
                                           <th>Characteristics</th>
                                           <th>Permissible Percentage</th>
                                           <th>UOM</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                        <td id="mat_code{{matCodeId}}">{{priceInfo.mat_code}}</td>
                                        <td id="charact{{matCodeId}}"> ...</td>
                                        <td>
                                            <div class="col-12 col-lg-2">
                                                <div class="form-group">
                                                   <input type="number" id="_per{{matCodeId}}" (change)="percent(permissPerc,matCodeId)" [(ngModel)]="permissPerc" class="form-control form-control-sm">
                                                </div>
                                             </div>
                                        </td>
                                        <td class="mt-0">%</td>
                                     </tbody>
                                  </table>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div> -->
               <!-- 2nd Form -->
               <div class="row">
                  <div class="col-12">
                     <div class="po-summery">
                        <form [formGroup]="updateInfoForm">
                           <div class="row">
                              <div class="col-12 col-lg-4">
                                 <!-- <div class="form-group">
                                   <br/> -->
                                 <!-- <select class="form-control form-control-sm" formControlName="incoterms" [ngClass]="{ 'is-invalid': submit && ff['incoterms'].errors }">
                                      <option value="">--Select--</option>
                                      <option value="{{item.incoterms_code}}" *ngFor="let item of incotermsInfo">{{item.incoterms_code}} - {{item.incoterms_dec}}</option>
                                    </select> -->
                                 <!-- <div class="ng-autocomplete"> -->
                                 <mat-form-field class="mat-class">
                                    <label>Incoterms</label>
                                    <input #stateInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="incoterms" aria-label="" [matAutocomplete]="auto1"
                                       [formControl]="IncoTermCtrl" required
                                       matTooltip="Type to filter the Incoterms list" matTooltipPosition="after">
                                    <mat-autocomplete #auto1="matAutocomplete">
                                       <mat-option (onSelectionChange)="stateInput.value !=undefined && onEnter($event)"
                                          *ngFor="let inco of filteredInco | async" [value]="inco.concatValue">
                                          <span>{{ inco.incoterms_code }} - {{ inco.incoterms_dec }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-4">
                                 <mat-form-field class="mat-class">
                                    <label>Payment Terms</label>
                                    <input #pymtInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="pay_terms" aria-label="" [matAutocomplete]="auto2"
                                       [formControl]="pymntCtrl" required matTooltip="Type to filter the Payment list"
                                       matTooltipPosition="after">
                                    <mat-autocomplete #auto2="matAutocomplete">
                                       <mat-option
                                          (onSelectionChange)="pymtInput.value !=undefined && onEnterPymt($event)"
                                          *ngFor="let pym of filteredPymt | async" [value]="pym.concatValue">
                                          <span>{{ pym.payment_terms_code }} - {{ pym.payment_terms_dec }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>

                              <div class="col-12 col-lg-2">
                                 <mat-form-field class="mat-class">
                                    <label>Feight</label>
                                    <input #freightInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="freight" aria-label="" [matAutocomplete]="auto3"
                                       [formControl]="freightCtrl" required matTooltip="Type to filter the Freight list"
                                       matTooltipPosition="after">
                                    <mat-autocomplete #auto3="matAutocomplete">
                                       <mat-option
                                          (onSelectionChange)="freightInput.value !=undefined && onEnterFrei($event)"
                                          *ngFor="let fright of filteredFreit | async" [value]="fright.concatValue">
                                          <span>{{ fright.freight_code }} - {{ fright.freight_dec }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-2">
                                 <input *ngIf="showText == true" id="_freightInput" class="form-control form-control-sm"
                                    style="width: 45%; margin-top: 3rem;">
                              </div>
                              <div class="col-12 col-lg-4">
                                 <mat-form-field class="mat-class">
                                    <label>Customer Group</label>
                                    <input #CustInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="freight" aria-label="" [matAutocomplete]="auto4"
                                       [formControl]="custCtrl" required matTooltip="Type to filter the Freight list"
                                       matTooltipPosition="after">
                                    <mat-autocomplete #auto4="matAutocomplete">
                                       <mat-option
                                          (onSelectionChange)="CustInput.value !=undefined && onEnterCust($event)"
                                          *ngFor="let cust of filteredCust | async" [value]="cust.concatValue">
                                          <span>{{ cust.cus_group_code }} - {{ cust.cus_group_dec }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>
                              <div class="col-12 col-lg-4">
                                 <mat-form-field class="mat-class">
                                    <label>Feight Indicator</label>
                                    <input #freIndInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="fr_ind" aria-label="" [matAutocomplete]="auto15"
                                       [formControl]="freightIndCtrl" required
                                       matTooltip="Type to filter the Freight list" matTooltipPosition="after">
                                    <mat-autocomplete #auto15="matAutocomplete">
                                       <mat-option
                                          (onSelectionChange)="freIndInput.value !=undefined && onEnterIndi($event)"
                                          *ngFor="let indic of filteredFreitIndi | async"
                                          [value]="indic.concatValue">
                                          <span>{{ indic.freight_indication_code }} - {{ indic.freight_indication_dec
                                             }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>

                              <div class="col-12 col-lg-4">
                                 <mat-form-field class="mat-class">
                                    <label>Feight Partner</label>
                                    <input #frePartInput (keyup)="0" matInput class="form-control form-control-sm"
                                       formControlName="FrieghtPartner" aria-label="" [matAutocomplete]="auto16"
                                       [formControl]="freightPartnerCtrl" required
                                       matTooltip="Type to filter the Freight partner list" matTooltipPosition="after">
                                    <mat-autocomplete #auto16="matAutocomplete">
                                       <mat-option (onSelectionChange)="onEnterPartner($event)"
                                          *ngFor="let partner of filteredFreitPartner | async"
                                          [value]="partner.concatValue">
                                          <span>{{ partner.fr_part_code }} - {{ partner.frt_part_name }}</span>
                                       </mat-option>
                                    </mat-autocomplete>
                                 </mat-form-field>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row mb-5">
               <div class="col-lg-12">
                  <button type="button" class="btn btn-primary" (click)="submitSc()"><i class="fa fa-paper-plane"></i>
                     Submit</button>&nbsp;
                  <!-- <button type="button" class="btn btn-primary" (click)="checkSubmit()"><i class="fa fa-paper-plane"></i> Submit-2</button>&nbsp; -->
                  <button type="button" (click)="backTo()" class="btn btn-danger"><i class="fa fa-arrow-left"
                        aria-hidden="true"></i> Back</button>
               </div>
            </div>
         </div>

         <!-- Footer -->
         <app-footer></app-footer>