<app-header></app-header>
<div class="page-content">
    <section class="sub-header">
        <h1>FAQs</h1>
        <ul>
            <li><a href="#"><img src="images/home.png"></a></li>
            <li><a href="#">/ FAQs</a></li>

        </ul>
    </section>
    <section class="product-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="faq-box">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" data-toggle="collapse" data-target="#faqOne"
                                    aria-expanded="true">
                                    <span class="title"><strong>Q</strong> Unable to receive Username &
                                        password</span>
                                </div>
                                <div id="faqOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please reach out to your specific Customer Account Manager. In case, Account
                                        Manager is not assigned, you can reach out to our Call Centre Executive at
                                        xxxxx
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faqTwo"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How much time is required to successfully
                                        register and generate password?</span>
                                </div>
                                <div id="faqTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        We will take upto 24 hours to register you on the portal on working days. It
                                        can take upto 48 hours in case of Public Holidays and Sundays.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faqThree"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How do I avail a discount?</span>
                                </div>
                                <div id="faqThree" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please reach out to your specific Customer Account Manager
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq4"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How can I pay for my order?</span>
                                </div>
                                <div id="faq4" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Payment for Orders will be processed through RTGS/NEFT
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq5"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I modify my order after confirmation/
                                        payment?</span>
                                </div>
                                <div id="faq5" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please reach out to your Specific Customer account Manager
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq6"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How can I cancel my order?</span>
                                </div>
                                <div id="faq6" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Order Cancellation is not allowed by TSML Ltd on portal. Please contact the
                                        CAM
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq7"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How can I get a replacement if any
                                        material is damages/ incorrect? </span>
                                </div>
                                <div id="faq7" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please reach out to our customer call executive to log a complaint.
                                        Alternatively a complaint can be lodged n the portal in the Support Section.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq8"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> What is the minimum order value? </span>
                                </div>
                                <div id="faq8" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        VAB- Pig iron35 MT/Pig Iron-25 MT/WRM-35 MT /TMT-33 MT/DIP-100 MT
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq9"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I get delivery in different location
                                        for different items within the same order? </span>
                                </div>
                                <div id="faq9" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        No, for different address (Ship to Parties), separate orders will have to be
                                        placed
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq10"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How do I check my order status/How do I
                                        know if my order is confirmed? </span>
                                </div>
                                <div id="faq10" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Order Confirmation mail will be shared on registered e-mail. Additionally,
                                        the Order Status will be available on the Order Info page on the e-Commerce
                                        Portal
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq11"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How do I check if my refund has been
                                        processed? </span>
                                </div>
                                <div id="faq11" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        A complaint has be raised at our Support Page for Credit note issuance. You
                                        can also call our customer executive for the same. Refunds will be processed
                                        with 21 days from the date of complaint Logded
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq12"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I download an e-invoice copy? </span>
                                </div>
                                <div id="faq12" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        A complaint has be raised at our Support Page for Credit note issuance. You
                                        can also call our customer executive for the same. Refunds will be processed
                                        with 21 days from the date of complaint Logded
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq13"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Why is there a mismtach in invoice
                                        quantity & ordre quantity? </span>
                                </div>
                                <div id="faq13" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        As per truck availability to despatch material, there can be a mismatch
                                        between ordered quantity and invoiced quantity. This residual quanitut can
                                        be seen in the Oder Balance Page.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq14"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I pay later? </span>
                                </div>
                                <div id="faq14" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Payments have to be made when the material is being rolled and ready for
                                        despatch. An intimation from the Customer Account Manager will be shared
                                        over registered e-mail id
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq15"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I pay using EMI facility? </span>
                                </div>
                                <div id="faq15" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        No, we do not have any EMI facility
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq16"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> What is the shipping policy and delivery
                                        charges? </span>
                                </div>
                                <div id="faq16" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        As per incotems selected, delivery Charges are included in the price. These
                                        price vary as per the delivery destination and pincode
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq17"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I change my delivery address after
                                        order confirmation? </span>
                                </div>
                                <div id="faq17" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please reach out to your Specific Customer account Manager
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq18"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Can I choose a preferred delivery date
                                        and time? </span>
                                </div>
                                <div id="faq18" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        yes, after Order placement you can view the option of setting a preferred
                                        delivery slot. This will be further confirmed by the CAM
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq19"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> Will my advance amount be adjusted or
                                        returned? </span>
                                </div>
                                <div id="faq19" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Both. Amount can be adjusted against the new order. In case a refund is
                                        reqd. please raise a request at our suupport section.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header collapsed" data-toggle="collapse" data-target="#faq20"
                                    aria-expanded="false">
                                    <span class="title"><strong>Q</strong> How much time is required for refund
                                        amount to reflect in my bank account? </span>
                                </div>
                                <div id="faq20" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Once refund is processed from our end, the amount is reflected on the same
                                        day. You can also view the refund in our Ledger section
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
