<app-header></app-header>
<div class="page-content">
    <section class="sub-header-2">
        <div class="container">
            <h1>Prepare Sales Order</h1>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="add-prod-pg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <div class="table-responsive">
                            <table class="table table-op">
                                <thead>
                                    <tr>
                                        <th>PO No</th>
                                        <th>PO Date</th>
                                        <th>Customer Name</th>
                                        <th>Sales Contract No</th>
                                        <th>Contract Date </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let po of salesPo | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{po.po_no}}</td>
                                        <td>{{po.po_date}}</td>
                                        <td>{{po.user}}</td>
                                        <td>{{po.rfq_no}}</td>
                                        <td>{{po.rfq_date}}</td>
                                        <td align="right"><button (click)="prepareSo(po.sc_no, po.po_no)" class="btn btn-sm btn-primary">Prepare SO</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="" *ngIf="showSoInput">
                    <div class="prof-form-bdy mb-5">
                        <div class="po-summery">
                            <div class="half-summery">
                                <ul>
                                    <li>
                                        <span>Sales Contract No: </span> {{soDetails?.sc_no}}
                                    </li>
                                    <li>
                                        <span>Sales Contract Date: </span> {{soDetails?.sc_dt}}
                                    </li>
                                    <li>
                                        <span>Customer Name: </span> {{soDetails?.org_name}}
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Order Type</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="orderType">
                                        <option selected value="">--Select--</option>
                                        <option value="{{item.id}}" *ngFor="let item of contType">{{item.contract_type_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Sales Organization</label>
                                    <select class="form-control form-control-sm">
                                        <option selected value="{{soDetails?.sales_orgerms_dec}}">{{soDetails?.sales_orgerms_dec}}</option>
                                        <option value="{{org.id}}" *ngFor="let org of orgSales">{{org.sales_orgerms_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Distribution Channel</label>
                                    <select class="form-control form-control-sm" (change)="selectDist($event)">
                                        <option selected value="{{soDetails?.distr_chan_terms_dec}}">{{soDetails?.distr_chan_terms_dec}}</option>
                                        <option value="{{dst.distr_chan_code}}" *ngFor="let dst of distribution">{{dst.distr_chan_terms_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="form-control form-control-sm">
                                        <option selected value="{{soDetails?.division_dec}}">{{soDetails?.division_dec}}</option>
                                        <option value="{{divi.id}}" *ngFor="let divi of sapDivision">{{divi.division_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Sales office</label>
                                    <select class="form-control form-control-sm">
                                        <option selected value="{{soDetails?.sales_office_dec}}">{{soDetails?.sales_office_dec}}</option>
                                        <option value="{{slcOfc.id}}" *ngFor="let slcOfc of salesOffic">{{slcOfc.sales_office_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Sales Group</label>
                                    <select class="form-control form-control-sm">
                                        <option selected value="{{soDetails?.sales_group_dec}}">{{soDetails?.sales_group_dec}}</option>
                                        <option value="{{sapGp.id}}" *ngFor="let sapGp of sapGroup">{{sapGp.sales_group_dec}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Contract Number</label>
                                    <input type="text" value="{{soDetails?.sc_no}}" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Payment Guarantee Proc</label>
                                    <input type="text" [(ngModel)]="paymentGu" class="form-control form-control-sm">

                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="form-group">
                                    <label>Financial Document number</label>
                                    <input type="text" [(ngModel)]="fncilDoc" class="form-control form-control-sm">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-12">
                           <button type="button" (click)="submitSo()" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>&nbsp;
                           <button type="button" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                        </div>
                     </div>
                </div>
                <app-footer></app-footer>