<body>
    <!-- Heeader -->
    <app-header></app-header>
    <div class="page-content">
       <section class="sub-header-2">
          <div class="container">
             <h1>Customer Complaints List</h1>
             <div class="clearfix"></div>
          </div>
       </section>
       <section class="add-prod-pg">
          <div class="container">
             <div class="row">
                <div class="col-lg-12 pb-5">
                   <div class="cart-table">
                      <div class="table-responsive">
                         <table class="table">
                            <thead>
                               <tr>
                                  <th>Customer Name</th>
                                  <th>Categories</th>
                                  <th>Sub Categories 1</th>
                                  <th>Sub Categories 2</th>
                                  <th>Sub Categories 3</th>
                                  <th>Remarks</th>
                                  <th></th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr>
                                  <td>
                                     Chayanika Sarkar
                                  </td>
                                  <td>
                                     Registration
                                  </td>
                                  <td>
                                     Delay in Registration etc.
                                  </td>
                                  <td>
                                     Damaged item
                                  </td>
                                  <td>
                                     --
                                  </td>
                                  <td>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  <td>
                                     <div class="btn-edt-del">
                                        <a href="complains-form-reply.html" class="edt-btn btn-primary" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td>
                                     Sayan Basak
                                  </td>
                                  <td>
                                     Registration
                                  </td>
                                  <td>
                                     Delay in Registration etc.
                                  </td>
                                  <td>
                                     Damaged item
                                  </td>
                                  <td>
                                     --
                                  </td>
                                  <td>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  <td>
                                     <div class="btn-edt-del">
                                        <a href="complains-form-reply.html" class="edt-btn btn-primary" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td>
                                     Sayanti Das
                                  </td>
                                  <td>
                                     Registration
                                  </td>
                                  <td>
                                     Delay in Registration etc.
                                  </td>
                                  <td>
                                     Damaged item
                                  </td>
                                  <td>
                                     --
                                  </td>
                                  <td>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  <td>
                                     <div class="btn-edt-del">
                                        <a href="complains-form-reply.html" class="edt-btn btn-primary" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td>
                                     Pralay Maity
                                  </td>
                                  <td>
                                     Registration
                                  </td>
                                  <td>
                                     Delay in Registration etc.
                                  </td>
                                  <td>
                                     Damaged item
                                  </td>
                                  <td>
                                     --
                                  </td>
                                  <td>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  <td>
                                     <div class="btn-edt-del">
                                        <a href="complains-form-reply.html" class="edt-btn btn-primary" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                     </div>
                                  </td>
                               </tr>
                               <tr>
                                  <td>
                                     Sudeb Mandal
                                  </td>
                                  <td>
                                     Registration
                                  </td>
                                  <td>
                                     Delay in Registration etc.
                                  </td>
                                  <td>
                                     Damaged item
                                  </td>
                                  <td>
                                     --
                                  </td>
                                  <td>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  <td>
                                     <div class="btn-edt-del">
                                        <a href="complains-form-reply.html" class="edt-btn btn-primary" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></a>
                                     </div>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
    <div class="foot_arw">
       <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt=""></a>
    </div>
