<!DOCTYPE html>
<html lang="en">
<!-- haeder -->
<app-header></app-header>

<body>
  <div class="page-content">
    <section class="sub-header-2" *ngIf="showButtons > 0">
      <div class="container">
        <div class="top-txt">
          <h1>PO Number: <b>{{poInfo?.po_no}}</b></h1>
          <h2>PO date: <b>{{poInfo?.po_date}}</b></h2>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="prod-list-detl">
          <div class="gd-po">
            <div class="download-letterhead-PO-btn">
              <a [href]="leaterheadFile" *ngIf="!userType" target="_blank" class="leftClass" data-toggle="tooltip"
            data-placement="top" title="Please download the letterhead document."><i class="fa fa-download"></i>
            Download Letterhead PO</a>

            <a [href]="leaterheadFile" *ngIf="userType" target="_blank" class="leftClass" data-toggle="tooltip"
            data-placement="top" title="Please download the letterhead document."><i class="fa fa-download"></i>
            Download PO</a>
            </div>
          </div>

          <a [href]="downloadFile+'/download-po-pdf/'+poInfo?.po_no" target="_blank"><i class="fa fa-cloud-download"
              aria-hidden="true"></i> Generate-Po</a>
              <div class="stepwizard col-4 col-md-offset-3 mb-2 mt-2">
                <div class="stepwizard-row setup-panel">
                   <div class="stepwizard-step">
                      <a type="button"
                         class="btn btn-default btn-circle css-tooltip-top color-blue meet-rvw uu0"><span>New
                            Enquiry</span></a>
                   </div>
                   <div class="stepwizard-step">
                      <a type="button"
                         class="btn btn-default btn-circle css-tooltip-top color-blue meet-rvw uu0"><span>Quoted
                            By TSML</span></a>
                   </div>
                   <div class="stepwizard-step">
                      <a type="button"
                         class="btn btn-default btn-circle css-tooltip-top color-blue meet-rvw uu0"><span>Under
                            Negotiation</span></a>
                   </div>
                   <div class="stepwizard-step">
                      <a type="button"
                         class="btn btn-default btn-circle css-tooltip-top color-blue meet-rvw uu0"><span>Material
                            Confirmed</span></a>
                   </div>
                </div>
             </div>
          <!-- List start -->
          <div class="demo" *ngFor="let productData of selectedItem; let i = index">
            <div id="accordion" class="accordion accordion--">
              <div class="card md-0">
                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                  [attr.data-target]="'#collapseOne'+i">
                  <div class="acc-pro-pic pointerTab" (click)="goToCustomerPage(productData?.rfq_no)">
                    <img src="{{ productData?.primary_image_url }}" />
                  </div>
                  <div class="acc-pro-dec pointerTab" (click)="goToCustomerPage(productData?.rfq_no)">
                    <h3>{{ productData?.cat_name }}</h3>
                    <p>
                      Ranked among the top seven global chrome alloy producers, we are the leading manufacturer of 
                      High Carbon Ferro Chrome in India. <br>
                      We produce various grades of Ferro Chrome. 
                      Typical Chemical Composition: 
                      Cr - 60% Min, C – 6 - 8%, Phos – 0.015-0.05% , S - 0.05–0.06%, Si – 3 - 4% <br>
                      Typical Sizes Offered :
                      10-150 mm, 10-100 mm, 10-60 mm, 10-50 mm
                    </p>
                  </div>
                  <div class="acc-pro-qty">
                    <input type="text" class="form-control" id="qty_{{i}}" placeholder="0" disabled=""
                      value="{{productData.quantity}}" />
                  </div>
                </div>
                <div [attr.id]="'collapseOne'+i" class="card-body collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row" *ngFor="let formData of productData['schedule'];let y = index">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Grades offered</label>
                          <input type="hidden" [(ngModel)]="formData.sub_cat_id"
                            name="saubCat_{{ formData.schedule_no }}" class="form-control form-control-sm" id=""
                            value="{{formData.sub_cat_name}}" />
                          <input type="text" readonly name="saubCat_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" id="" value="{{formData.sub_cat_name}}" />
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Sizes Offered</label>
                          <input #qtyInput="ngModel" disabled type="text" (change)="getTotalQuantity(i)"
                            [(ngModel)]="formData.pro_size" name="pro_size_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" id="" placeholder="" value="formData.pro_size" />

                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Quantity (MT)</label>
                          <input #qtyInput="ngModel" [disabled]="userType" type="number" (change)="getTotalQuantity(i)"
                            [(ngModel)]="formData.quantity" name="quantity_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" id="" placeholder="" value="formData.quantity"
                            required />
                          <small *ngIf="qtyInput.invalid && (qtyInput.dirty || qtyInput.touched || submit)"
                            class="inputValidation">Quantity is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Expected Price</label>
                          <div class="pri-box">
                            <span>₹</span>
                            <input type="number" [disabled]="userType" #priceInput="ngModel"
                              [(ngModel)]="formData.expected_price" name="expected_price{{ formData.schedule_no }}"
                              class="form-control form-control-sm" id="" placeholder="" value="" required />
                            <small *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched || submit)"
                              class="inputValidation">Price is required</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Delivery Method</label>
                          <select #dlvrMethodInput="ngModel" [disabled]="userType" [(ngModel)]="formData.delivery"
                            name="delivery_{{ formData.schedule_no }}" class="form-control form-control-sm" required>
                            <option value="">Select ..</option>
                            <option value="{{dlvry.methods}}" *ngFor="let dlvry of deliveryDropList">{{dlvry.methods}}
                            </option>
                          </select>
                          <small
                            *ngIf="dlvrMethodInput.invalid && (dlvrMethodInput.dirty || dlvrMethodInput.touched || submit)"
                            class="inputValidation">Select delivery method</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Pickup From</label>
                          <input #qtyInput="ngModel" disabled type="text" [(ngModel)]="formData.plant"
                            name="plant_{{ formData.schedule_no }}" class="form-control form-control-sm" id=""
                            placeholder="" value="formData.pro_size" />

                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Location</label>
                          <select disabled class="form-control form-control-sm" #location="ngModel"
                            [(ngModel)]="formData.location" name="location_{{ formData.schedule_no }}" required>
                            <option value="{{formData.location}}" selected>{{formData.location}}</option>
                            <!-- <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option> -->
                          </select>
                          <small *ngIf="location.invalid && (location.dirty || location.touched || submit)"
                            class="inputValidation">Location is required</small>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Bill To</label>
                          </div>
                          <select [disabled]="userType" class="form-control form-control-sm" #billTo="ngModel"
                            [(ngModel)]="formData.bill_to" name="bill_to_{{ formData.schedule_no }}" required>
                            <option value="">Bill to</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="billTo.invalid && (billTo.dirty || billTo.touched || submit)"
                            class="inputValidation">Select bill to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Ship To</label>
                          </div>
                          <select [disabled]="userType" class="form-control form-control-sm" #shipTo="ngModel"
                            [(ngModel)]="formData.ship_to" name="ship_to_{{ formData.schedule_no }}" required>
                            <option value="">Ship to</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="shipTo.invalid && (shipTo.dirty || shipTo.touched || submit)"
                            class="inputValidation">Select ship to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Proposed Delivery Date</label>
                          <div class="date-rang">
                            <div class="position-relative">
                              <input [disabled]="userType" type="date" [(ngModel)]="formData.from_date"
                                (change)="setNxtData($event, formData.schedule_no)" min="{{date}}" #dlvrDate="ngModel"
                                name="from_date_{{ formData.schedule_no }}" class="form-control form-control-sm"
                                placeholder="From" value="" required />
                              <small *ngIf="dlvrDate.invalid && (dlvrDate.dirty || dlvrDate.touched || submit)"
                                class="inputValidation">Delivery date from</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                            <div class="position-relative">
                              <input [disabled]="userType" type="date" [(ngModel)]="formData.to_date"
                                id="to_date_{{formData.schedule_no}}" #dlvrDateTo="ngModel"
                                name="to_date_{{ formData.schedule_no }}" class="form-control form-control-sm"
                                placeholder="To" value="" required />
                              <small *ngIf="dlvrDateTo.invalid && (dlvrDateTo.dirty || dlvrDateTo.touched || submit)"
                                class="inputValidation">Delivery date to</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for=""
                            (click)="getPrice(formData.location,formData.pickup_type, formData?.schedule_no,formData.ship_to,productData.product_id,productData.cat_id,formData?.pro_size,formData?.sub_cat_id, i, y)">TSML's
                            price
                            <!-- <span class="price-info price-info0" data-toggle="modal" data-target="#addPrice"><i
                                class="fa fa-info-circle"></i></span> -->
                          </label>
                          <div class="pri-box">
                            <span>₹</span>
                            <input type="text" disabled [(ngModel)]="formData.kam_price"
                              class="form-control form-control-sm kamClass" id="camsPrice{{formData.schedule_no}}"
                              placeholder="0">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Valid Till </label>
                          <div class="position-relative">
                            <!-- <input type="date" [(ngModel)]="formData.valid_till"
                                    class="form-control form-control-sm datepicker"
                                    placeholder="To" value=""> -->
                            <input type="datetime-local" [disabled]="userType" [(ngModel)]="formData.valid_till"
                              class="form-control form-control-sm datepicker">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-9">

                      </div>
                      <!-- customer remarks -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">Remarks</label>
                          <textarea [(ngModel)]="formData.remarks" [disabled]="userType" #remarks="ngModel"
                            name="remarks_{{ formData.schedule_no }}" class="form-control form-control-sm" rows="4"
                            required></textarea>
                          <small *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submit)"
                            class="inputValidation">Remarks is required</small>
                        </div>
                      </div>
                      <!-- Kam remarks -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">Cam's Remarks</label>
                          <textarea [disabled]="userType" [(ngModel)]="formData.kamsRemarks" #kamsRemarks="ngModel"
                            name="kamRemarks_{{ formData.schedule_no }}" class="form-control form-control-sm" rows="4"
                            required></textarea>
                          <small *ngIf="kamsRemarks.invalid && (kamsRemarks.dirty || kamsRemarks.touched || submit)"
                            class="inputValidation">Remarks is required</small>
                        </div>
                      </div>
                      <div class="col-2">
                        <span class="text-primary classPointer" data-toggle="modal" data-target="#viewMoreMessage"
                          (click)="messageBox(formData.schedule_no)">View
                          More..</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right pb-5" *ngIf="showButtons > 0">
          <div (change)="selectRadio($event)" *ngIf="userType && poStatus != 1 && amndNomber != null">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="1" name="flexRadioDefault" id="flexRadioDefault1" />
              <label class="form-check-label" for="flexRadioDefault1"> Accept </label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="3" name="flexRadioDefault" id="flexRadioDefault2" />
              <label class="form-check-label" for="flexRadioDefault2"> Reject </label>
            </div>
          </div>


          <div class="po-frm" *ngIf="userType == false && selectedItem[0].cus_po_no == null">
            <div class="row">
              <div class="col-lg-3">
                <label>PO Number</label>
                <input type="text" class="form-control" [(ngModel)]="inputPONum" id="exampleInputEmail1"
                  placeholder="Enter PO number">
              </div>
              <div class="col-lg-3">
                <label>PO Number</label>
                <div class="form_box_area">
                  <input type="file" accept=".jpg,.jpeg,.pdf" class="form-control-file" id=""
                    (change)="selectFile($event)">
                </div>
                <small class="redText" *ngIf="letterHeadFile">Maximum file size:5MB (PDF, PNG, JPG)</small>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-primary btn-sm float-left" (click)="submitPoAttachment()">Submit</button>
              </div>
            </div>
          </div>


          <button type="button" (click)="raiseComplain(poInfo?.po_no,poInfo?.po_date)" *ngIf="userType"
            class="btn btn-primary">Raise Complaint</button>&nbsp;
          <button type="button" (click)="viewComplain(poInfo?.po_no)" *ngIf="!userType" class="btn btn-primary">View
            Complaint</button>&nbsp;
          <button type="button" *ngIf="userType && poStatus != 1  && amndNomber != null" (click)="submitStatus()"
            class="btn btn-primary"><i class="fa fa-paper-plane"></i>
            Submit</button> &nbsp;
          <button type="button" [routerLink]="['/po/po-list']" class="btn btn-danger"><i class="fa fa-arrow-left"></i>
            Back</button>
        </div>
      </div>
    </section>
<!-- view SO and SC data -->
    <div class="container">
      <h6>Details of SC, SO and DO <i class="fa fa-level-down" aria-hidden="true"></i></h6>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Customer PO N0.</th>
            <th scope="col">SC Number</th>
            <th scope="col">SO Number</th>
            <th scope="col">DO Number</th>
            <th scope="col">DO Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="poSunnry?.do_no.length < 1">
            <td>{{poSunnry?.cus_po_no}}</td>
            <td>{{poSunnry?.sc_no}}</td>
            <td>{{poSunnry?.so_no}}</td>
            <td></td>
            <td></td>
          </tr>
          <ng-container *ngIf="poSunnry?.do_no.length > 0">
          <tr *ngFor="let do of poSunnry?.do_no">
            <td>{{poSunnry?.cus_po_no}}</td>
            <td>{{poSunnry?.sc_no}}</td>
            <td>{{poSunnry?.so_no}}</td>
            <td>{{do?.do_no}}</td>
            <td>{{do?.do_quantity}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-content text-center mb-3" *ngIf="show_data == false && product_data == ''">
    <b style="color: rgb(124, 121, 121);">No data found.</b>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
  <!-- price modal -->
  <div class="modal" id="addPrice">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-uppercase">Price Calculation</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="priceForm">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Pricing Components</th>
                  <th scope="col">Calculated Price (₹)</th>
                  <th scope="col">Updated Price (₹)</th>
                </tr>
              </thead>
              <tbody (change)="calculatePrice(schldId)">
                <tr>
                  <td colspan="2">Basic Price Table</td>
                  <td>
                    <div class="pp-bx" id="bptId">
                      {{productPrice?.bpt_price}}
                    </div>
                  </td>
                  <td><input type="number" readonly
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_bptPrice{{schldId}}" placeholder="" value="{{productPrice?.bpt_price}}"></td>
                </tr>
                <tr>
                  <td colspan="2">Quality Premium</td>
                  <td>
                    <div class="pp-bx" id="pricePrId">
                      {{productPrice?.price_premium}}
                    </div>
                  </td>
                  <td><input type="number" formControlName="price_premium"
                      [ngClass]="{ 'is-invalid': f.price_premium.errors && f.price_premium.touched}"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="price_premium{{schldId}}" value="" placeholder="">
                    <small class="addClass" *ngIf="premiumPrice">Price Premium should not be less
                      than {{productPrice?.price_premium}}</small>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">CAM Price Adjustment</td>
                  <td>
                    <div class="pp-bx" id="kamid">
                      {{productPrice?.cam_discount}}
                    </div>
                  </td>
                  <td><input type="number" formControlName="cam_discount"
                      [ngClass]="{ 'is-invalid': f.cam_discount.errors && f.cam_discount.touched}"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_discount{{schldId}}" placeholder="">
                    <small class="addClass" *ngIf="kamDiscount">Kam discount should not be less than
                      {{productPrice?.cam_discount}}</small>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">Delivery Cost</td>
                  <td>
                    <div class="pp-bx" id="delCost">
                      {{productPrice?.delivery_cost}}
                    </div>
                  </td>
                  <td><input type="number" formControlName="delivery_cost"
                      [ngClass]="{ 'is-invalid': f.delivery_cost.errors && f.delivery_cost.touched}"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="delivery{{schldId}}" placeholder="">
                    <small class="addClass" *ngIf="deliveryCost">Delivery cost should not be less
                      than {{productPrice?.delivery_cost}}</small>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">Interest Rate ( % )</td>
                  <td>
                    <div class="pp-bx" id="intrId">
                      {{productPrice?.interest_rate }}
                    </div>
                  </td>
                  <td><input type="number" formControlName="interest_rate"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_interest{{schldId}}" value="{{productPrice?.interest_rate }}" readonly>

                  </td>
                </tr>
                <tr>
                  <td>Credit Cost For</td>
                  <td>
                    <select (change)="selectDay($event, productPrice?.price_premium_sing)"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150">
                      <option value="0" selected>0 Days</option>
                      <option value="30">30 Days</option>
                      <option value="45">45 Days</option>
                    </select>
                  </td>
                  <td>
                    <div class="pp-bx">
                      <!-- <span *ngIf="days == 30">{{productPrice?.credit_cost_for30_days}}</span>
                                    <span *ngIf="days == 45">{{productPrice?.credit_cost_for45_days}}</span> -->
                      <span>{{daysCostCount}}</span>
                    </div>
                  </td>
                  <td><input type="number" readonly formControlName="delivery_cost"
                      [ngClass]="{ 'is-invalid': f.creditCoast.errors && f.creditCoast.touched}"
                      class=" form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_credit{{schldId}}" value="{{daysCostCountCustomer}}" placeholder="">
                    <small class="addClass" *ngIf="credCost">Credit Cost not be less than Cam's
                      Cost</small>

                  </td>
                </tr>

                <tr>
                  <td colspan="2">Miscellaneous Cost (Sizing, Commission etc.)</td>
                  <td>
                    <div class="pp-bx" id="miscId">
                      {{productPrice?.misc_expense}}
                    </div>
                  </td>
                  <td><input type="number" formControlName="misc_expense"
                      [ngClass]="{ 'is-invalid': f.misc_expense.errors && f.misc_expense.touched}"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="misc_expense{{schldId}}" placeholder="">
                    <small class="addClass" *ngIf="miscPrice">Misc Expense should not be less than
                      {{productPrice?.misc_expense}}</small>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">Final Price</td>
                  <td>
                    <div class="pp-bx">
                      {{Totalsum}}
                    </div>
                  </td>
                  <td><input type="number" readonly formControlName="totalSum"
                      [ngClass]="{ 'is-invalid': f.totalSum.errors && f.totalSum.touched}"
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_total{{schldId}}" placeholder="" value="{{Totalsum1}}"></td>
                </tr>
                <tr>
                  <td colspan="2">Percentage difference Between BPT & Final Price (%)</td>
                  <td>
                    <!-- <div class="pp-bx">
                      {{bptAndfinal}}
                    </div> -->
                  </td>
                  <td><input type="text" formControlName="finalAmt" readonly
                      class="form-control form-control-sm form-control form-control-sm-sm wid-150"
                      id="_bptAndfinal{{schldId}}" value="{{percentPrice}}"></td>
                </tr>
              </tbody>
            </table>
          </form>
          <p class="text-note"><i>Note: Price Quoted Excluding GST & TCS Charges</i></p>

          <div class="add-btn-sec pt-2 pb-2">
            <button class="btn btn-primary" [disabled]="userType" (click)="priceSave(schldId, firstIndex, lastIndex)"><i
                class="fa fa-check"></i> Ok</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="cancelprice()"><i class="fa fa-times"></i>
              Cancel</button>
          </div>
        </div>
        <!--/-->
      </div>
    </div>
  </div>


  <!-- Message modal -->
  <div class="modal" id="viewMoreMessage">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-uppercase">Remarks</h4>
          <div class="">
            <button type="button" class="btn bt-sm btn-danger" data-dismiss="modal" aria-label="Close" (click)="cancelprice()"><i
                class="fa fa-times"></i></button>
          </div>

        </div>
        <!-- Modal body -->
        <div class="modal-body row" *ngIf="messages == 'Quote not updated'">
          {{messages}}
        </div>
        <div class="modal-body row" *ngIf="messages != 'Quote not updated'">
          <div *ngFor="let remark of messages">
            <ol class="chat">
              <li class="other" *ngIf="remark?.remarks != null && userRole != 'Sales'">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                  <p>Customer Remarks!</p>
                  <p>{{remark.remarks}}</p>
                  <time>{{remark.created_at | date}}</time>
                </div>
              </li>
              <li class="other" *ngIf="remark?.salesRemarks != null && userRole != 'C'">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                  <p>Sales Remarks!</p>
                  <p>{{remark.salesRemarks}}</p>
                  <time>{{remark.created_at | date}}</time>
                </div>
              </li>
              <li class="self" *ngIf="remark?.kamsRemarks != null">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                  <p>Cam's Remarks!</p>
                  <p>{{remark.kamsRemarks}}</p>
                  <time>{{remark.created_at | date}}</time>
                </div>
              </li>
            </ol>
          </div>

        </div>
        <!--/-->
      </div>
    </div>
  </div>
</body>

</html>