<!DOCTYPE html>
<html lang="en">
<!-- haeder -->
<app-header></app-header>

<body>
  <div class="page-content">
    <section class="sub-header">
      <h1>
        Tata Indicrome – High Carbon Ferro Chrome. Quality, convenience,
        trust. Unmatched.
      </h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><span>/</span></li>
        <li><a href="#">Products and Customers</a></li>
        <li><span>/</span></li>
        <li>Ferro Chrome</li>
      </ul>
    </section>
    <section>
      <div class="container">
        <div class="prod-list-detl">
          <div class="sec-pro-cat">
            <span>Add item</span>
            <select (change)="selectItems($event)" class="form-control form-control-sm pointerTab">
              <option value="">--select--</option>
              <option value="1" *ngIf="productId != 2">Lumps</option>
              <option value="2" *ngIf="productId != 2">Chips</option>
              <option value="3" *ngIf="productId != 2">Fines</option>
              <option value="4" *ngIf="productId != 1">High</option>
              <option value="5" *ngIf="productId != 1">Medium</option>
            </select>
          </div>
          <!-- List start -->

          <div class="demo" *ngFor="let productData of selectedItem; let i = index">
            <div id="accordion" class="accordion accordion--">
              <div class="card mb-0">
                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                  [attr.data-target]="'#collapseOne'+i">
                  <!-- <button type="button" class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i">
                    <i class="fa fa-plus"></i>
                  </button> -->
                  <div class="acc-pro-pic">
                    <img src="{{ productData?.primary_image_url }}" />
                  </div>
                  <div class="acc-pro-dec">
                    <h3>{{ productData?.cat_name }}</h3>
                    <p>
                      Ranked among the top-seven global chrome alloy
                      producers, we are the leading manufacturers of High
                      Carbon Ferro Chrome in India. We produce various grades
                      of Ferro Chrome Chemical Composition: Cr - 60% Min, C -
                      6-8%, Phos - 0.05% Max, S - 0.05% Max, Si - 4% Max
                    </p>
                  </div>

                  <div class="acc-pro-qty">
                    <input type="text" class="form-control" id="qty_{{i}}" placeholder="0" disabled="" />
                  </div>
                </div>
                <!-- <div [attr.id]="'collapseOne'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"> -->
                <div [attr.id]="'collapseOne'+i" class="card-body collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row" *ngFor="
                          let formData of productData['form_data'];
                          let y = index
                        ">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Sizes Offered</label>
                          <select (change)="sizeOfferd($event)" #offerInput="ngModel" [(ngModel)]="formData.pro_size"
                            name="pro_size_{{ formData.schedule_no }}" class="form-control form-control-sm" required>
                            <option value="">Select ..</option>
                            <option value="10-50">10-50</option>
                            <option value="10-70">10-70</option>
                            <option value="10-100">10-100</option>
                            <option value="10-150">10-150</option>
                          </select>
                          <small *ngIf="offerInput.invalid && (offerInput.dirty || offerInput.touched || submit)"
                            class="inputValidation">Offer size is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Quantity (MT)</label>
                          <input #qtyInput="ngModel" type="number" (change)="getTotalQuantity(i)"
                            [(ngModel)]="formData.quantity" name="quantity_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" id="" placeholder="" value="formData.quantity"
                            required />
                          <small *ngIf="qtyInput.invalid && (qtyInput.dirty || qtyInput.touched || submit)"
                            class="inputValidation">Quantity is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Expected Price</label>
                          <div class="pri-box">
                            <span>₹</span>
                            <input type="number" #priceInput="ngModel" [(ngModel)]="formData.expected_price"
                              name="expected_price{{ formData.schedule_no }}" class="form-control form-control-sm" id=""
                              placeholder="" value="" required />
                            <small *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched || submit)"
                              class="inputValidation">Price is required</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Delivery Method</label>
                          <select #dlvrMethodInput="ngModel" [(ngModel)]="formData.delivery"
                            name="delivery_{{ formData.schedule_no }}" class="form-control form-control-sm" required>
                            <option value="">Select ..</option>
                            <option value="Delivery At Premises">Delivery At Premises</option>
                            <option value="Ex-Works">Ex-Works</option>
                          </select>
                          <small
                            *ngIf="dlvrMethodInput.invalid && (dlvrMethodInput.dirty || dlvrMethodInput.touched || submit)"
                            class="inputValidation">Select delivery method</small>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Pickup From</label>&nbsp;
                          <label for="" (change)="selectPlant($event, formData.schedule_no)" >
                            <input type="radio" id="contactChoice1" [(ngModel)]="formData.pickup_type" id="pickupTyp_{{ formData.schedule_no }}_a" name="contact{{ formData.schedule_no }}_a" value="PLANT" class="mr-1" />
                            <label for="contactChoice1">Plant</label>&nbsp;
                            <input type="radio" id="contactChoice2" [(ngModel)]="formData.pickup_type" id="pickupTyp_{{ formData.schedule_no }}_b" name="contact{{ formData.schedule_no }}_b" value="DEPOT" class="mr-1"/>
                            <label for="contactChoice2">Depot</label>&nbsp;
                            <input type="radio" id="contactChoice3" [(ngModel)]="formData.pickup_type" id="pickupTyp_{{ formData.schedule_no }}_c" name="contact{{ formData.schedule_no }}_c" value="PORT" class="mr-1"/>
                            <label for="contactChoice3">Port</label>

                          </label>
                          <select #pickUpfrom="ngModel" [(ngModel)]="formData.plant" 
                            name="plant_{{ formData.schedule_no }}" class="form-control form-control-sm" required>
                            <option value="">Select..</option>
                            <option value="{{plantItem.name}}" *ngFor="let plantItem of plantAddrr">{{plantItem.name}}</option>
                            <!-- <option value="Depot">Depot</option>
                            <option value="Port">Port</option> -->
                          </select>
                          <small *ngIf="pickUpfrom.invalid && (pickUpfrom.dirty || pickUpfrom.touched || submit)"
                            class="inputValidation">Pickup from is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Location</label>
                          <select class="form-control form-control-sm" #location="ngModel"
                            [(ngModel)]="formData.location" name="location_{{ formData.schedule_no }}" required>
                            <option value="">Select location</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="location.invalid && (location.dirty || location.touched || submit)"
                            class="inputValidation">Location is required</small>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Bill To</label>
                          </div>
                          <select class="form-control form-control-sm" #billTo="ngModel" [(ngModel)]="formData.bill_to"
                            name="bill_to_{{ formData.schedule_no }}" required>
                            <option value="" disabled>--Bill to--</option>
                            <option value="{{ showCity }}" data-toggle="tooltip" data-placement="top"
                              title="{{ userAddr }}">
                              {{ showCity }}
                            </option>
                          </select>
                          <small *ngIf="billTo.invalid && (billTo.dirty || billTo.touched || submit)"
                            class="inputValidation">Select bill to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Ship To</label>
                          </div>
                          <select class="form-control form-control-sm" #shipTo="ngModel" [(ngModel)]="formData.ship_to"
                            name="ship_to_{{ formData.schedule_no }}" required>
                            <option value="" disabled> --Ship to--</option>
                            <option value="{{ showCity }}" data-toggle="tooltip" data-placement="top"
                              title="{{ userAddr }}">
                              {{ showCity }}
                            </option>
                          </select>
                          <small *ngIf="shipTo.invalid && (shipTo.dirty || shipTo.touched || submit)"
                            class="inputValidation">Select ship to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Proposed Delivery Date</label>
                          <div class="date-rang">
                            <div class="position-relative">
                              <input type="date" [(ngModel)]="formData.from_date"
                                (change)="setNxtData($event, formData.schedule_no)" min="{{date}}" #dlvrDate="ngModel"
                                name="from_date_{{ formData.schedule_no }}" class="form-control form-control-sm"
                                placeholder="From" required />
                              <small *ngIf="dlvrDate.invalid && (dlvrDate.dirty || dlvrDate.touched || submit)"
                                class="inputValidation">Delivery date from</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                            <div class="position-relative">
                              <input type="date" [(ngModel)]="formData.to_date" #dlvrDateTo="ngModel"
                                name="to_date_{{ formData.schedule_no }}" id="to_date_{{formData.schedule_no}}"
                                class="form-control form-control-sm" placeholder="To" required />
                              <small *ngIf="dlvrDateTo.invalid && (dlvrDateTo.dirty || dlvrDateTo.touched || submit)"
                                class="inputValidation">Delivery date to</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label for="">Remarks</label>
                          <textarea [(ngModel)]="formData.remarks" #remarks="ngModel"
                            name="remarks_{{ formData.schedule_no }}" class="form-control form-control-sm" rows="4"
                            required></textarea>
                          <small *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submit)"
                            class="inputValidation">Remarks is required</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <a href="javascript:;" class="btn btn-primary my-4 float-right" data-toggle="collapse"
                        (click)="addItem(i)"><i class="fa fa-plus-circle"></i> Add New</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 add-btn-sec pt-0 text-right">
            <button type="button" *ngIf="userType" (click)="ReqForQuatation()" class="btn btn-primary">Request for
              quotation</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="page-content text-center mb-3" *ngIf="show_data == false && product_data == ''">
    <b style="color: rgb(124, 121, 121);">No data found.</b>
  </div>
  <!-- footer -->
  <app-footer></app-footer>

</body>

</html>