<body>
    <!-- Header -->
    <app-header></app-header>
    <div class="page-content">
       <section class="prof-head">
          <div class="container">
             <h2>Customer Complaints</h2>
          </div>
       </section>
       <section class="prof-form">
          <div class="container">
             <div class="prof-form-bdy">
                <div class="row">
                   <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="form-group">
                         <label for="">Categories</label>
                         <select class="form-control" disabled>
                            <option>{{compInfo?.com_cate_name}}</option>
                         </select>
                      </div>
                   </div>
                   <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="form-group">
                         <label for="">Sub Categories 1</label>
                         <select class="form-control" disabled>
                            <option>{{compInfo?.com_sub_cate_name}}</option>
                         </select>
                      </div>
                   </div>
                   <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="form-group">
                         <label for="">Sub Categories 2</label>
                         <select class="form-control" disabled>
                            <option>{{compInfo?.com_sub_cate2_name}}</option>
                         </select>
                      </div>
                   </div>
                   <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="form-group">
                         <label for="">Sub Categories 3</label>
                         <select class="form-control" disabled>
                            <option>{{compInfo?.com_sub_cate3_name}}</option>
                         </select>
                      </div>
                   </div>
                   <div class="col-12">
                     <hr style="border: 1px solid;">
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let remarks of remarkAll">
                     <ol class="chat">
                        <li class="other" *ngIf="remarks?.customer_remarks != 'undefined'">
                           <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                           <div class="msg">
                              <p><b>Customer Remarks!</b></p>
                              <p>{{remarks.customer_remarks}}</p>
                              <time>{{remarks.created_at}}</time>
                           </div>
                        </li>
                        <li class="self  msgReply" *ngIf="remarks?.kam_remarks != null">
                           <div class="avatar" style="margin-left:10px;"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                           <div class="msg">
                              <p><b>Kam's Remarks!</b></p>
                              <p>{{remarks.kam_remarks}}</p>
                              <time>{{remarks.created_at}}</time>
                           </div>
                        </li>
                     </ol>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="showKamTextArea">
                     <div class="form-group">
                        <label for="">Customer Remarks</label>
                        <textarea [(ngModel)]="remarkReply" #remarkRep="ngModel" class="form-control" rows="5"
                           required></textarea>
                        <small *ngIf="remarkRep.invalid && (remarkRep.dirty || remarkRep.touched || submitt)"
                           class="inputValidation">Remarks is required</small>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 mt-2 pointer">
                     <input type="file" accept=".pdf" (change)="onSelectFile($event)" class="custom-file-input pointer" id="customFile" name="filename">
                     <label class="custom-file-label" for="customFile">{{fileName ?
                         fileName:'Upload Attachement'}}</label>
                     
                  </div>
                   <div class="col-lg-8 col-md-6 col-sm-6" *ngIf="compInfo?.complain_status != 2">
                      <div class="reply_btn_box">
                         <div class="clos-btn">
                            <div class="form-check">
                               <input class="form-check-input" type="checkbox" [checked]="closeChat" (change)="closeStatus(compInfo?.complain_id)" value="" id="defaultCheck1">
                               <label class="form-check-label" for="defaultCheck1">
                                  Close
                               </label>
                            </div>
                         </div>
                         <div class="reply_btn"><button (click)="reply()" class="btn btn-primary btn-sm" ><i
                                  class="fa fa-reply"></i> Reply</button></div>
                      </div>
                   </div>
                </div>
                <hr>
                <div class="row">
                   <div class="col-lg-12">
                     <!-- <a [href]="imageUrl" [download]="imageUrl" target="_blank" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Please download the supporting document."><i
                        class="fa fa-download"></i></a> &nbsp; -->
                      <button *ngIf="compInfo?.complain_status != 2" (click)="submitReply(compInfo?.complain_id)"class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>&nbsp;
                      <button type="button" class="btn btn-danger" routerLink="/complains-list"><i class="fa fa-arrow-left"></i> Cancel</button>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
 </body>
