<footer class="footer footer-v1 footer-v2">
   <div class="content-block footer-main">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               <div class="footer-logo">
                  <img src="https://www.tatasteelmining.com/themes/custom/tsml/images/logos/logo-white.png"
                     class="img-fluid" alt="image-description">
               </div>
               <div class="footer_content">
                  <p>Tata Steel Mining Ltd. (Formerly TS Alloys Ltd) is a 100 per cent subsidiary of Tata Steel Ltd. We
                     have nurtured strong relationship with customers across the globe and strive to become a key player
                     in mining and Ferro Alloys business.</p>
                  <ul class="footer_social">
                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2 col-md-4">
               <h2>About Us</h2>
               <ul class="clearfixnav">
                  <li class="navitem">
                     <a href="">Disclaimer</a>
                  </li>
                  <li class="navitem">
                     <a routerLink="/others/cookies">Cookie Policy</a>
                  </li>
                  <li class="navitem">
                     <a routerLink="/others/privacy">Privacy Policy</a>
                  </li>
                  <li class="navitem">
                     <a routerLink="/others/FAQ">FAQ</a>
                  </li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-4">
               <h2>Products & Customers</h2>
               <ul class="clearfix-nav">
                  <li class="navitem">
                     <a href="">Overview</a>
                  </li>
                  <li class="navitem">
                     <a href="">Chrome Ore</a>
                  </li>
                  <li class="navitem">
                     <a href="">Ferro Chrome</a>
                  </li>
               </ul>
            </div>
            <div class="col-lg-2 col-md-4">
               <h2>Contact</h2>
               <ul class="clearfixnav">
                  <li class="navitem">
                     <a href="/contact-us">Contact Us</a>
                  </li>
                  <li class="navitem">
                     <a href="">Linkedin</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="footer-bottom pb-0">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div id="block-footercopyright">
                     <div class="content">
                        <div class="text-center">
                           <p>© 2021 Tata Steel Mining Limited. All Rights Reserved.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="text-center bg-white">
            <p class="text-dark mb-0 power-text"><span>Powered by</span>
               <img src="assets/images/mjunction_logo.png" alt="mjunction-logo">
            </p>
         </div>

      </div>
      <div class="foot_arw">
         <a (click)="scrollTop()" class="pointerTab"><img src="assets/images/footarw.png" alt="" /></a>
     </div>
   </div>
</footer>