<!DOCTYPE html>
<html lang="en">
<!-- haeder -->
<app-header></app-header>

<body>
  <div class="page-content">
    <section class="sub-header-2" *ngIf="showButtons > 0">
      <div class="container">
        <h1>RFQ Detail - {{productId}}</h1>
        <div class="clearfix"></div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="prod-list-detl">
          <div class="sec-pro-cat" *ngIf="showButtons > 0">
            <span>Add item</span>
            <select [disabled]="userType" (change)="selectItems($event)"
              class="form-control form-control-sm pointerTab">
              <option value="">--select--</option>
              <option value="1">Lumps</option>
              <option value="2">Chips</option>
              <option value="3">Fines</option>
            </select>
          </div>
          <!-- List start -->

          <div class="demo" *ngFor="let productData of selectedItem; let i = index">
            <div class="accordion--" id="accordionExample">
              <div class="card">
                <div class="card-header card-header--" id="headingOne">
                  <button type="button" class="btn btn-link" data-toggle="collapse"
                    [attr.data-target]="'#collapseOne'+i">
                    <i class="fa fa-plus"></i>
                  </button>
                  <div class="acc-pro-pic pointerTab" (click)="goToCustomerPage(productData?.rfq_no)">
                    <img src="{{ productData?.primary_image_url }}" />
                  </div>
                  <div class="acc-pro-dec pointerTab" (click)="goToCustomerPage(productData?.rfq_no)">
                    <h3>{{ productData?.cat_name }}</h3>
                    <p>
                      Ranked among the top-seven global chrome alloy
                      producers, we are the leading manufacturers of High
                      Carbon Ferro Chrome in India. We produce various grades
                      of Ferro Chrome Chemical Composition: Cr - 60% Min, C -
                      6-8%, Phos - 0.05% Max, S - 0.05% Max, Si - 4% Max
                    </p>
                  </div>

                  <div class="acc-pro-qty">
                    <input type="text" class="form-control" id="qty_{{i}}" placeholder="0" disabled=""
                      value="{{productData.quantity}}" />
                  </div>
                  <div class="acc-pro-del pointerTab">
                    <button class="del-btn btn-danger" [disabled]="userType"
                      (click)="deleteRfqById(productData?.quote_id)" data-toggle="tooltip" data-placement="top"
                      title="Delete"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
                <div [attr.id]="'collapseOne'+i" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row" *ngFor="
                          let formData of productData['schedule'];
                          let y = index
                        ">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Sizes Offered</label>
                          <select (change)="sizeOfferd($event)" [disabled]="userType" #offerInput="ngModel"
                            [(ngModel)]="formData.pro_size" name="pro_size_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" required>
                            <option value="">Select ..</option>
                            <option value="10-50">10-50</option>
                            <option value="10-70">10-70</option>
                            <option value="10-100">10-100</option>
                            <option value="10-150">10-150</option>
                          </select>
                          <small *ngIf="offerInput.invalid && (offerInput.dirty || offerInput.touched || submit)"
                            class="inputValidation">Offer size is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Quantity</label>
                          <input #qtyInput="ngModel" [disabled]="userType" type="number" (change)="getTotalQuantity(i)"
                            [(ngModel)]="formData.quantity" name="quantity_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" id="" placeholder="" value="formData.quantity"
                            required />
                          <small *ngIf="qtyInput.invalid && (qtyInput.dirty || qtyInput.touched || submit)"
                            class="inputValidation">Quantity is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Expected Ex-Works Price<small>(On Advance Payment)</small></label>
                          <div class="pri-box">
                            <span>₹</span>
                            <input type="number" [disabled]="userType" #priceInput="ngModel"
                              [(ngModel)]="formData.expected_price" name="expected_price{{ formData.schedule_no }}"
                              class="form-control form-control-sm" id="" placeholder="" value="" required />
                            <small *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched || submit)"
                              class="inputValidation">Price is required</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Delivery Method</label>
                          <select [disabled]="userType" (change)="deliveryMethod($event)" #dlvrMethodInput="ngModel"
                            [(ngModel)]="formData.delivery" name="delivery_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" required>
                            <option value="">Select ..</option>
                            <option value="FOR">FOR</option>
                            <option value="Ex-Works">Ex-Works</option>
                          </select>
                          <small
                            *ngIf="dlvrMethodInput.invalid && (dlvrMethodInput.dirty || dlvrMethodInput.touched || submit)"
                            class="inputValidation">Select delivery method</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Pickup From</label>
                          <select [disabled]="userType" (change)="pickupFrom($event)" #pickUpfrom="ngModel"
                            [(ngModel)]="formData.plant" name="plant_{{ formData.schedule_no }}"
                            class="form-control form-control-sm" required>
                            <option value="">Select..</option>
                            <option value="Plant">Plant</option>
                            <option value="Depot">Depot</option>
                            <option value="Port">Port</option>
                          </select>
                          <small *ngIf="pickUpfrom.invalid && (pickUpfrom.dirty || pickUpfrom.touched || submit)"
                            class="inputValidation">Pickup from is required</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Location</label>
                          <select [disabled]="userType" class="form-control form-control-sm" #location="ngModel"
                            [(ngModel)]="formData.location" name="location_{{ formData.schedule_no }}" required>
                            <option value="">Select location</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="location.invalid && (location.dirty || location.touched || submit)"
                            class="inputValidation">Location is required</small>
                        </div>
                      </div>

                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Bill To</label>
                          </div>
                          <select [disabled]="userType" class="form-control form-control-sm" #billTo="ngModel"
                            [(ngModel)]="formData.bill_to" name="bill_to_{{ formData.schedule_no }}" required>
                            <option value="">Bill to</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="billTo.invalid && (billTo.dirty || billTo.touched || submit)"
                            class="inputValidation">Select bill to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <div class="bil-add-new-add">
                            <label for="">Ship To</label>
                          </div>
                          <select [disabled]="userType" class="form-control form-control-sm" #shipTo="ngModel"
                            [(ngModel)]="formData.ship_to" name="ship_to_{{ formData.schedule_no }}" required>
                            <option value="">Ship to</option>
                            <option *ngFor="let state of states" value="{{ state?.name }}">
                              {{ state?.name }}
                            </option>
                          </select>
                          <small *ngIf="shipTo.invalid && (shipTo.dirty || shipTo.touched || submit)"
                            class="inputValidation">Select ship to</small>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">Proposed Delivery Date</label>
                          <div class="date-rang">
                            <div class="position-relative">
                              <input [disabled]="userType" type="date" [(ngModel)]="formData.from_date"
                                (change)="setNxtData($event, formData.schedule_no)" min="{{date}}" #dlvrDate="ngModel"
                                name="from_date_{{ formData.schedule_no }}" class="form-control form-control-sm"
                                placeholder="From" value="" required />
                              <small *ngIf="dlvrDate.invalid && (dlvrDate.dirty || dlvrDate.touched || submit)"
                                class="inputValidation">Delivery date from</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                            <div class="position-relative">
                              <input [disabled]="userType" type="date" [(ngModel)]="formData.to_date"
                                id="to_date_{{formData.schedule_no}}" #dlvrDateTo="ngModel"
                                name="to_date_{{ formData.schedule_no }}" class="form-control form-control-sm"
                                placeholder="To" value="" required />
                              <small *ngIf="dlvrDateTo.invalid && (dlvrDateTo.dirty || dlvrDateTo.touched || submit)"
                                class="inputValidation">Delivery date to</small>
                              <!-- <span class="over_llp"><img src="assets/images/cal.png" alt=""></span> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-9">

                      </div>
                      <!-- customer remarks -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">Remarks</label>
                          <textarea [(ngModel)]="formData.remarks" #remarks="ngModel"
                            name="remarks_{{ formData.schedule_no }}" class="form-control form-control-sm" rows="4"
                            required></textarea>
                          <small *ngIf="remarks.invalid && (remarks.dirty || remarks.touched || submit)"
                            class="inputValidation">Remarks is required</small>
                        </div>
                      </div>
                      <!-- Kam remarks -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">Kam's Remarks</label>
                          <textarea [disabled]="userType" [(ngModel)]="formData.kamsRemarks" #kamsRemarks="ngModel"
                            name="kamRemarks_{{ formData.schedule_no }}" class="form-control form-control-sm" rows="4"
                            required></textarea>
                          <small *ngIf="kamsRemarks.invalid && (kamsRemarks.dirty || kamsRemarks.touched || submit)"
                            class="inputValidation">Remarks is required</small>
                        </div>
                      </div>
                      <div class="col-2" >
                        <span class="text-primary pointerTab"
                          data-toggle="modal" data-target="#viewMoreMessage" (click)="messageBox(formData.schedule_no)">View
                          More..</span>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <button href="javascript:;" [disabled]="userType" class="btn btn-primary float-right my-4"
                        data-toggle="collapse" (click)="addItem(i)"><i class="fa fa-plus-circle"></i> Add New</button>
                    </div>

                    <!-- <div id="deliverySchedule" class="collapse">
                      <div class="schedule-block" id="container">
                        <div class="row mydiv" id="thediv">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Sizes Offered</label>
                              <select (change)="sizeOffered2($event)" class="form-control form-control-sm">
                                <option value="10-50">10-50</option>
                                <option value="10-70">10-70</option>
                                <option value="10-100">10-100</option>
                                <option value="10-150">10-150</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Quantity</label>
                              <input type="number" [(ngModel)]="quantity1" class="form-control form-control-sm" id=""
                                placeholder="" value="" />
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Expected Ex-Works Price<small>(On Advance Payment)</small></label>
                              <div class="pri-box">
                                <span>₹</span>
                                <input type="number" [(ngModel)]="expectedPrice2" class="form-control form-control-sm"
                                  id="" placeholder="" value="" />
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Delivery Method</label>
                              <select (change)="deliveryMethod2($event)" class="form-control form-control-sm">
                                <option value="">Select method</option>
                                <option value="FOR">FOR</option>
                                <option value="Ex-Works">Ex-Works</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Pickup From</label>
                              <select (change)="pickupfrome2($event)" class="form-control form-control-sm">
                                <option value="">Select ..</option>
                                <option value="Plant">Plant</option>
                                <option value="Depot">Depot</option>
                                <option value="Port">Port</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Location</label>
                              <select (change)="selectlocation2($event)" class="form-control form-control-sm">
                                <option>Select location</option>
                                <option value="{{ state?.name }}" *ngFor="let state of states">
                                  {{ state?.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-3">
                            <div class="form-group">
                              <div class="bil-add-new-add">
                                <label for="">Bill To</label>
                                <label for=""><a href="registration.html"><i class="fa fa-plus-circle"></i> Add New
                                    Address</a></label>
                              </div>
                              <select (change)="billTo2($event)" class="form-control form-control-sm">
                                <option value="">Select</option>
                                <option value="{{ state?.name }}" *ngFor="let state of states">
                                  {{ state?.name }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <div class="bil-add-new-add">
                                <label for="">Ship To</label>
                                <label for=""><a href="registration.html"><i class="fa fa-plus-circle"></i> Add New
                                    Address</a></label>
                              </div>
                              <select (change)="shipTo2($event)" class="form-control form-control-sm">
                                <option>Select</option>
                                <option value="{{ state?.name }}" *ngFor="let state of states">
                                  {{ state?.name }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label for="">Proposed Delivery Date</label>
                              <div class="date-rang">
                                <div class="position-relative">
                                  <input type="date" [(ngModel)]="deliveryDate3" class="form-control form-control-sm"
                                    placeholder="From" value="" />
                                  <span class="over_llp"><img src="assets/images/cal.png" alt="" /></span>
                                </div>
                                <div class="position-relative">
                                  <input type="date" [(ngModel)]="deliveryDate4" class="form-control form-control-sm"
                                    placeholder="To" value="" />
                                  <span class="over_llp"><img src="assets/images/cal.png" alt="" /></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-11">
                            <div class="form-group">
                              <label for="">Remarks</label>
                              <textarea [(ngModel)]="remarks2" class="form-control form-control-sm" rows="4"></textarea>
                            </div>
                          </div>
                          <button type="button" class="blue-plus-icon btn-copy mt-15">
                            <i class="fa fa-plus-circle"></i>
                          </button>
                          <button type="button" class="red-plus-icon mt-15">
                            <i class="fa fa-minus-circle"></i>
                          </button>
                        </div>
                        <div></div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right pb-5" *ngIf="showButtons > 0">
          <button type="button" class="btn btn-primary" (click)="submitRfq()"><i class="fa fa-paper-plane"></i>
            Submit</button> &nbsp;
          <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
        </div>

        <!-- Message modal -->
        <div class="modal" id="viewMoreMessage">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-uppercase">Remarks</h4>
                <div class="">
                  <button type="button" class="btn bt-sm btn-danger" (click)="cancelprice()"><i
                      class="fa fa-times"></i></button>
                </div>

              </div>
              <!-- Modal body -->
              <div class="modal-body row" *ngIf="messages == 'Quote not updated'">
                {{messages}}
              </div>
              <div class="modal-body row" *ngIf="messages != 'Quote not updated'">
                <div *ngFor="let remark of messages">
                  <div class="remark-bdy">
                    <div>
                      <h6>Remarks</h6>
                      <p>{{remark.remarks}} </p>
                    </div>
                    <div>
                      <h6>Kam Remarks</h6>
                      <p>{{remark.kamsRemarks}} </p>
                    </div>
                    <p class="date">{{remark.created_at | date}}</p>
                    
                    <!-- <small>{{remark.created_at | date}}<br></small>
                    <small>{{remark.kamsRemarks}}</small> -->
                  </div>
                </div>

              </div>
              <!--/-->
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div class="page-content text-center mb-3" *ngIf="show_data == false && product_data == ''">
    <b style="color: rgb(124, 121, 121);">No data found.</b>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
  <div class="foot_arw">
    <a href="javascript:" id="return-to-top"><img src="assets/images/footarw.png" alt="" /></a>
  </div>

</body>

</html>